[2020-09-09 02:23] cudmore commented on #235
I confirm the same issure with PyQt5==5.15.0 on macOS 10.15.6

Problem is fixed by downgrading to PQt5==5.13.0
I am having similar issues with recent versions of PyQtGraph?

[2020-09-10 12:17] dpizetta commented on #235
Hi all, Qt 5.15 was recently released and I'm personally having problems with this distribution with other things. For the projects I work we have set to use only LTS versions, limiting to the most stable one, i.e 5.12, we have some other problems even with 5.13. For now, I would recommend the same until we get those issues fixed. In Qt forums, we saw many issues that appear with Qt 5.15, so it se

[2020-09-26 17:08] hmaarrfk opened #240 "Light theme?"
I know the whole point of this is to have a good looking dark theme, but many of the style changes you've done look quite good (increasing the size of certain elements and whatnot), so I was wondering if there was any interest in adding a "light" theme that would match the dark theme you've created?

Is there one already available? Maybe I just can't find it.

Thanks for the consideration!

[2020-09-26 20:04] ccordoba12 commented on #240
We're thinking to create a light theme based on this one for Spyder 5. I hope we have enough time for that.

[2020-10-27 13:25] p2749 opened #242 "Checkbox of user-checkable QTableWidgetItem not in qdarkstyle"
### Describe Your Environment

Please, report the output of the command (from v2.6+) or fill the information below:

* HARDWARE-----------------------------------------------------------------------
    - Machine....................... AMD64
    - Processor..................... Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    - Total Memory.................. 16976 MB
    - Free Memory.................

[2020-10-27 18:04] adamerose opened #243 "Hovering QDockWidget tab causes text to get cut off"
- QDarkStyle: 2.8.1
- OS: Windows 10
- Python: 3.8
- PyQt: 5.15.1

When I hover an unselected tab in a QDockWidget, the label gets cut off. This seems the same as these other closed issues - #128 #130 - but for QDockWidget instead of QTabWidget

![image](https://user-images.githubusercontent.com/10884874/97342872-2bc09a80-185d-11eb-951d-9c82eb0eb377.png)
![image](https://user-images.githubusercont

[2020-10-27 18:31] adamerose opened #244 "QDarkStyle ignores minimumSizeHint height on QTableView"
- QDarkStyle: 2.8.1
- OS: Windows 10
- Python: 3.8
- PyQt: 5.15.1

When I enable QDarkStyle my QTableView is able to be resized to a height less than the minimumSizeHint or the sizeHint with sizePolicy set to Minimum or MinimumExpanding.

Here's a clip of the bug: https://www.screencast.com/t/M8oHhNHs

Not sure what exact widgets this happens with other than QTableView, it works correctly for QPus

[2020-10-28 21:29] adamerose commented on #244
It's caused by this https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/6aef1de7e97227899c478a5634d136d80991123e/qdarkstyle/qss/_styles.scss#L489

[2020-10-30 03:14] pwyq opened #245 "QDarkStyleSheet changes layout behaviors, when there are multiple QTableWidget"
## Environment

[code]

### Expected Results / Proposed Result

Before loading the `qss`, the EXPECTED table behavior is following:

- The table shows full content
    - As shown in the pic below, user uses the main scrollbar
- There is NO vertical scrolling for the table
- picture:

![before](https://user-images.githubusercontent.com/14853314/97654652-c8d82a80-1a39-11eb-84f6-8c78f6c95537.JPG)

##

[2020-11-03 09:13] markfink opened #246 "some usability issue process_qrc.py on arch, python3, PySide2"
Thank you for this. works great!

I just wanted to report a small glitch when using  process_qrc.py (I just removed the '-py3' option in line 156 and it is working fine for me):

[code]

I think it is true (no py3 option):
[code]

[2020-11-14 13:10] vallsv opened #247 "QComboBox: Icons and text are overlaped"
Hi,

I am using the last version of this library from conda.

I am checking it with the application i manage.
For now i have only noticed this only one glitch, visible on the drop down list of a combobox containing actions with both text and icons.

Hope it can help.

### Description / Steps to Reproduce [if necessary]

The combobox
![Capture d’écran de 2020-11-14 14-02-08](https://user-images.git

[2020-11-14 13:25] vallsv commented on #247
Here is few lines to reproduce with IPython
[code]

[2020-11-24 21:42] dannagle commented on #235
Dark buttons seems to be working again with Qt 5.15.1. Using Big Sur on Intel.

[2020-11-29 21:17] RinnetenseiQ opened #248 "Buttons size problems"
I really like this library that sets up a dark theme for PyQt apps. However, I ran into some problem with the size of the widgets, in particular with the buttons. Screenshots are attached. This is bug? Can I fix it somehow? Please keep in mind that I am quite inexperienced in writing PyQt applications, and in Python in general.

[Versions from your environment]

- QDarkStyle:
- OS: Windows 10
- Py

[2020-12-01 17:08] dpizetta commented on #248
Hi @RinnetenseiQ  we are happy that you are using QDarkStyle.

About the issue, what types of buttons you are using? You should use tool buttons for general ones. Push buttons have a minimum size set (like Ok, Cancel, Yes, etc).

This [link ]( https://stackoverflow.com/questions/38576380/difference-between-qpushbutton-and-qtoolbutton) can help you to decide.

[2020-12-01 19:28] RinnetenseiQ commented on #248
Thank for your answer.
But the difference in button decoration between themes(Fusion, Windows vs QDarkStyle) is obvious from screenshots.
What is the reason for this deviation from the standard? Or did it happen by accident?

[2020-12-09 10:08] seriousm4x opened #249 "Feature Request: PySide6 support"
Add support for [PySide6](https://pypi.org/project/PySide6/), the successor to PySide2.
As Qt6 just got released and PySide6 is in the works, it would be time to add support for the new versions.

Overall its already usable, but I encounter small errors. This python code for example which works fine with PySide2:
[code]

Error:
[code]

[2020-12-16 16:58] glevner opened #250 "hyperlinks are very hard to read"
Hyperlinks in text are very hard to read (see attached image). I am not sure there is anything to be done about it, though, because Qt stylesheets don't seem to provide a way to specify link colors. Unless you make the background color a bit brighter...

![aboutqt](https://user-images.githubusercontent.com/2338018/102380283-0849de80-3fc8-11eb-9866-6d739e036732.png)

[2020-12-16 17:50] dpizetta commented on #250
Hi, thanks for reporting this. However, we are not able to change hyperlinks in richtext/html which is not in the scope of the application stylesheet, see #112 at [here](https://github.com/ColinDuquesnoy/QDarkStyleSheet/issues/112#issuecomment-432906183).

[2020-12-16 17:50] #250 closed

[2020-12-17 15:34] stekow opened #251 "QToolbar action with menu overlaps button text"
If an action with a QMenu is placed inside a QToolbar, then the menu button texts or icon overlaps the menu arrow (see image).
Maybe someone has a solution?

Regards,

Piotr
### Describe Your Environment

- QDarkStyle: 2.8.1
- OS: Windows 10 64 Bit
- Python: 2.7.15 32 Bit
- PySide: 1.1.1

### Relevant Code

[code]
![qmenu issue](https://user-images.githubusercontent.com/51000086/102508192-6b4d7b00

[2020-12-17 15:56] stekow commented on #251
I found this quick and dirty solution:
[code]

However, the problem exists in the style.

[2020-12-24 03:41] juanis2112 opened #252 "Design new color system based on Ux improvements"
Our UX/UI expert @isabela-pf has been helping us (Spyder team) to design a new color system for the dark and light styles so we will implement it for QDarkStyle as discussed in a meeting with @dpizetta and @ccordoba12

Here is the system proposed https://github.com/spyder-ide/ux-improvements/issues/13

[2020-12-30 07:57] isabela-pf commented on #252
Since the linked issue focuses on how we decided the system and colors, I thought it might be useful to give an overview of the proposed changes here.
- Set up QDarkStyle as a more flexible framework where it is easy to modify or make your own themes on top of the existing palette.
- Add a color system (numbered set of values for each color) that the palette imports. This helps make palettes easie

[2021-01-04 23:15] dpizetta commented on #252
Thanks @isabela-pf and @ccordoba12. I will test our scripts, today is not online. We were using that pallet to generate the png files from sgv ones, so if we change the pallet we need to generate new ones, so it does not need that who download to run and create png or resources files. This is a point we have established some time ago, so we can reduce the need for problematic dependencies but we i

[2021-01-05 10:28] Daguerreo commented on #252
@dpizetta it will via available from C++ via qss?

[2021-01-05 17:16] dpizetta commented on #252
@Daguerreo sure it does! :)

[2021-01-17 18:17] #228 closed

[2021-01-17 18:20] dpizetta commented on #213
@marcelomanzo any new about this one? Does the problem persist? Tks

[2021-01-17 18:40] dpizetta commented on #202
I notice this still happens in Spyder 4.2.1, some news? tks

[2021-01-17 18:41] dpizetta commented on #240
Just to document, Spyder team is working on this: https://github.com/ColinDuquesnoy/QDarkStyleSheet/issues/252

[2021-01-17 18:46] dpizetta commented on #246
@markfink  thanks!

[2021-01-19 13:21] oscargus commented on #202
I checked screen shots on a pixel-by-pixel basis and it seems like it is the single pixel (times two) of the border that one gets when hovering that is not present when the button is disabled. (This may be obvious to some extent and not sure if it helps, but for what it is worth.)

[2021-01-19 13:30] oscargus commented on #202
What about something like:

[code]

Not sure how to test it though...

[2021-01-23 17:12] ccordoba12 opened #257 "Generate assests on merge using Github actions"
@dpizetta mentioned in https://github.com/ColinDuquesnoy/QDarkStyleSheet/pull/253#issuecomment-761851591:

I think I could help with that by using Github actions to generate our assests when a pull request is merged against `deveolp` and commit them to the repo.

@dpizetta, what do you think?

[2021-01-25 14:00] dpizetta commented on #257
@ccordoba12 of course, essentially we need to run the script process_qrc.  Tests and other ones are ok, see [here](https://travis-ci.org/github/ColinDuquesnoy/QDarkStyleSheet/builds/755757203).

We are using Tox to run the processes so we can use the same configuration locally on our machines to test.  `tox.ini` has all possible configurations and `.travis.yml` has those to run over the server.

T

[2021-01-25 21:07] krisfris commented on #249
Same error occurs when using PyQt6.

[2021-02-07 16:15] Regis111 opened #259 "QComboBox, first selectable item takes too much space"
Hello, I found bug with QComboBox. First selectable item on a popup list takes enormous amount of space. The problem is shown in the left gif. I'm using `PySide2 === 5.15.2`,  `QDarkStyle === 2.8.1`.
![with2](https://user-images.githubusercontent.com/44723806/107151768-a9b83580-6964-11eb-80a3-bd46953dad67.gif) ![without](https://user-images.githubusercontent.com/44723806/107151632-dddf2680-6963-11

[2021-02-12 20:08] dpizetta opened #260 "Improve push/tool button colors/states"
I would like to propose to improve button colors taking advantage of @isabela-pf expertise :) And color palette proposed in https://github.com/spyder-ide/ux-improvements/issues/13

We have reduced the palette and named the colors to get things easy to maintain/change. However, I think we need to add one more tone (foreground, background, adding middleground) to improve button states.

[code]

Curr

[2021-02-12 23:41] olivierdalang opened #261 "Greenish color - bug or feature ?"
### Describe Your Environment

- QDarkStyle: 2.8.1
- OS: Windows-10-10.0.19041-SP0
- Python: 3.9.1
-
- PySide: 5.15.2
- PyQt: 5.15.2

### Language

Python

### Description / Steps to Reproduce

After updating from version 2.3.1, everything looks very greenish. Not sure if this is a bug or a feature, as I see no mention of a color palette change in the changelogs, and screenshots from the docs are

[2021-02-13 00:45] olivierdalang commented on #249
As a workaround for now (hack), you can do that :
[code]

[2021-02-13 01:07] dpizetta commented on #261
@olivierdalang actually it is a feature, we have removed many colors (we had no palette) and restructured the palette between v2.4-2.8. But as in #252, #240 Spyder team is helping to provide a variety of theme colors. Soon it will be easy to choose your preferred color.

[2021-02-13 01:07] #261 closed

[2021-02-17 06:31] isabela-pf commented on #260
Hi @dpizetta, thanks for pointing out this problem! I completely agree that we need more than three options for a lot of the color groups  to make sure we have options for areas of the UI with more states (like the buttons) and to help able to keep enough color contrast.

In the last round of [spyder-ide/ux-improvements #13](https://github.com/spyder-ide/ux-improvements/issues/13#issuecomment-7393

[2021-02-17 13:31] dpizetta commented on #260
I appreciate your contribution to this.

I will check proposed changes in spyder-ide/ux-improvements #28 and give you feedback.

I would recommend you test those changes in the QDarkStyle example where we have all the possible QtWidgets together, with no special/hardcoded configuration. To compile and apply the changes, just run the script in the run_ui_css_edition.py.

[2021-02-23 16:15] maartenb72 commented on #196
@Daguerreo: Did you eventually manage to get this working?

[2021-03-11 12:48] Jihadist commented on #239
Is this will be fixed in master?

[2021-03-13 03:06] dpizetta commented on #259
Duplicate of #200. Could you please check if the current [develop branch](2dd3a9f2ebe52333987b476571c040d11bb67073) works for you?

[2021-03-13 03:06] dpizetta commented on #200
@jkulskis @tanimislam @mikeleppane Could you please check if the [current solution](2dd3a9f2ebe52333987b476571c040d11bb67073) in development works for everybody?

[2021-03-13 04:27] dpizetta commented on #248
We want to apply the fixed size only for dialogs, fixed in the develop branch, tks.

[2021-03-13 04:27] #248 closed

[2021-03-13 04:31] dpizetta commented on #247
Hi @vallsv, if possible try to use a more recent version of pyqt5, like 5.12 preferable because it is an LTS one, it seems they (Qt) fixed this after 5.9. Please, reopen if needed in another version or if it was impossible to use another version. Thanks for reporting and for the example.

[2021-03-13 04:31] #247 closed

[2021-03-13 04:36] dpizetta commented on #216
@LeonLoong any news about it? We will not be able to provide a fix if only breaks in python 2.7 (there is no maintenance anymore) and PySide1. If needed, please reopen this in the future, and thanks for reporting.

[2021-03-13 04:36] #216 closed

[2021-03-13 04:37] dpizetta commented on #213
Closing due to no responses.

[2021-03-13 04:37] #213 closed

[2021-03-13 04:40] dpizetta commented on #239
We will release soon @Jihadist, thanks! Now is on the develop branch.

[2021-03-13 04:40] #239 closed

[2021-03-13 04:41] #246 closed

[2021-03-13 04:46] #169 closed

[2021-03-13 04:47] #177 closed

[2021-03-13 12:05] SomberNight opened #263 "QComboBox: huge indentation of items when active (left margin) (develop branch)"
### Describe Your Environment

[code]
[code]

### Language

Python

### Description / Steps to Reproduce [if necessary]

On latest develop HEAD, all ComboBoxes started to indent items when the ComboBox is active, which results in the labels getting cropped (not being fully visible). This behaviour was not there in 2.8.1.

![active](https://user-images.githubusercontent.com/29142493/111029320-04c1c

[2021-03-13 12:07] SomberNight commented on #200
@dpizetta I have tested on a config where I could previously reproduce and can confirm the develop branch fixed this issue.
However there is now another issue, which might be related; for that I opened https://github.com/ColinDuquesnoy/QDarkStyleSheet/issues/263

[2021-03-13 12:55] dpizetta opened #264 "Closable tabs are bigger than non-closable ones"
Maybe the space reserved for the X (margin, padding, etc) is too big.

![image](https://user-images.githubusercontent.com/5084939/111030641-287c1480-83e2-11eb-9e2d-0e74d9acb9e0.png)

[2021-03-13 12:59] dpizetta commented on #243
**Qt 5.15.X**
![pyqt515](https://user-images.githubusercontent.com/5084939/111030739-b0621e80-83e2-11eb-8c81-702ac587dce0.gif)

**Qt 5.12.X**
![pyqt512](https://user-images.githubusercontent.com/5084939/111030741-b0fab500-83e2-11eb-8559-a67e81fc5407.gif)

[2021-03-13 14:05] dpizetta opened #265 "Improve spacing between radio button (like checkbox)"
Uses the common general spacing of 4px (paragraph spacing);

Before:
![image](https://user-images.githubusercontent.com/5084939/111032623-e788fd80-83eb-11eb-883f-4e309033b027.png)

After:
![image](https://user-images.githubusercontent.com/5084939/111032586-b14b7e00-83eb-11eb-904e-31c7370052b9.png)

[2021-03-14 18:16] vallsv commented on #247
If it's already fixed, it's fine. Thanks for the check.
I can't update to an uptodate version for now. But this have to be fixed on my side, so it's fine.
Regards.

[2021-03-17 02:10] juanis2112 opened #266 "Change hover color for menus"
Color for hover in menus doesn't have enough contrast with background color.
<img width="271" alt="Screenshot 2021-03-16 at 9 08 23 PM" src="https://user-images.githubusercontent.com/18587879/111403862-c2221b00-869b-11eb-906d-68c4061406d5.png">

[2021-03-19 22:50] juanis2112 opened #267 "Match size/behavior of close/float buttons in docks and tabs"
The idea is to match the size of these two buttons, to the size of the x in the tabs

[2021-03-20 11:12] Regis111 commented on #259
It does, thank you.

[2021-03-20 11:12] #259 closed

[2021-03-24 00:34] #265 closed

[2021-03-24 01:15] dpizetta opened #269 "Improvements and fixes for v3.0 release"
@juanis2112 please add screenshots with all screens of qdarkstyle example, so I can compare 'ios' version with linux/windows to properly apply the fixes for X in dock and tabs, and undock button in docks. Tks

Writing the main points of our meeting/issues that I'll implement:

- [x] Disconnect tree/list selection/hover color with editor selection color, also check the colors;
- [x] Match/connect p

[2021-03-24 02:33] dpizetta commented on #266
Fixed with 5938cf4b67b6e0661819bfed4193ef7366592bbe

[2021-03-24 02:33] #266 closed

[2021-03-24 02:37] dpizetta commented on #267
Current size on Windows. Note docks and tabs.

![image](https://user-images.githubusercontent.com/5084939/112245943-a933df80-8c30-11eb-8e62-f052916f9d09.png)

[2021-03-24 02:38] dpizetta commented on #267
@juanis2112 please add a similar screenshot from mac in order to compare, please :)

[2021-03-24 15:10] juanis2112 commented on #267
Here is the screenshot for Mac:
<img width="1338" alt="Screenshot 2021-03-24 at 10 10 37 AM" src="https://user-images.githubusercontent.com/18587879/112334126-3145d380-8c89-11eb-85ce-3898042622ed.png">

[2021-03-24 16:44] juanis2112 commented on #267
Here is the screenshot for Linux:
![imagen (3)](https://user-images.githubusercontent.com/18587879/112348924-483ef280-8c96-11eb-9291-1e523b85744d.png)

[2021-03-24 17:11] dpizetta commented on #264
The last commit improved a bit the sizes, but they will not match.

[2021-03-24 17:11] #264 closed

[2021-03-24 17:17] dpizetta commented on #267
**X SIZE IN TABS FOR WINDOWS/LINUX**

Original

![image](https://user-images.githubusercontent.com/5084939/112354326-577c6b00-8cab-11eb-8d8a-508392a6fa19.png)

Adjusting padding (1px to 3px) to correct X in tabs for Windows/Linux.

![image](https://user-images.githubusercontent.com/5084939/112354388-66fbb400-8cab-11eb-9a4c-c1f493d64e0d.png)

**DOCK BUTTONS**

I needed to change the construction, s

[2021-03-24 17:24] dpizetta opened #270 "Improve selected tab background color and title contrast"
What do you think @juanis2112, @ccordoba12 and @isabela-pf.

Original

![image](https://user-images.githubusercontent.com/5084939/112354951-f4d79f00-8cab-11eb-9447-f40bb5047d58.png)

Changing the background color of the selected tab (tab bar), **using background 4** (the same as non selected, original is background 6). Note the title contrast when the background is darker. For me, the blue bar is

[2021-03-24 18:03] ccordoba12 commented on #270
I know this is quite subjective, but I really prefer to have a lighter color for selected tabs. However, if we could adjust that on Spyder.

[2021-03-24 18:23] dpizetta commented on #270
The current one, same colors, light theme:

![image](https://user-images.githubusercontent.com/5084939/112363900-c611f680-8cb4-11eb-8460-0af22265e213.png)

[2021-03-24 18:27] dpizetta commented on #267
I need to change the default color in light theme for the dock buttons:

![image](https://user-images.githubusercontent.com/5084939/112364476-53554b00-8cb5-11eb-8459-79bb2006541d.png)

[2021-03-25 17:04] juanis2112 commented on #270
I agree with Carlos. I think it looks better with different colors between the tabs but we can implement that easily only for Spyder if you want to change it @dpizetta

[2021-03-25 20:51] juanis2112 commented on #269
Screenshots for Mac:
<img width="1440" alt="Screenshot 2021-03-25 at 3 50 23 PM" src="https://user-images.githubusercontent.com/18587879/112541872-e8be1100-8d81-11eb-9143-32983d9f893b.png">
<img width="1440" alt="Screenshot 2021-03-25 at 3 50 20 PM" src="https://user-images.githubusercontent.com/18587879/112541887-ecea2e80-8d81-11eb-85f9-e7ed93477bfc.png">
<img width="1440" alt="Screenshot 2021-03

[2021-03-25 21:02] juanis2112 commented on #267
This is how it is looking for me now in the current develop branch
<img width="331" alt="Screenshot 2021-03-25 at 3 59 47 PM" src="https://user-images.githubusercontent.com/18587879/112543058-456dfb80-8d83-11eb-8255-46671fb07c80.png">
<img width="611" alt="Screenshot 2021-03-25 at 4 01 26 PM" src="https://user-images.githubusercontent.com/18587879/112543131-5c145280-8d83-11eb-87fd-b451ae23a2f5.png

[2021-03-29 01:38] #240 closed

[2021-03-29 01:39] dpizetta commented on #240
Implemented in #268

[2021-03-29 01:51] #202 closed

[2021-03-29 01:54] dpizetta commented on #204
Closing due to the lack of information.

[2021-03-29 01:54] #204 closed

[2021-03-29 01:57] dpizetta commented on #164
Implemented in v3.0

[2021-03-29 01:57] #164 closed

[2021-03-29 02:08] #242 closed

[2021-03-29 02:09] #252 closed

[2021-03-29 02:11] #244 closed

[2021-03-29 03:03] dpizetta commented on #236
@yaoye using a new version of Qt (5.15.1+) can solve this problem? tks

[2021-03-29 03:46] #182 closed

[2021-03-29 03:47] #200 closed

[2021-03-29 03:50] #172 closed

[2021-03-29 04:08] dpizetta commented on #270
I've set a mid-tone (the original was 6, identical was 4), now it is 5. Tks guys

[2021-03-29 04:08] #270 closed

[2021-03-29 04:15] dpizetta commented on #263
@SomberNight thanks for noticing this. Please check if the latest 'develop' version could solve this - we reduced the padding for the combo box items. Tks

[2021-03-29 04:16] dpizetta commented on #263
Oh, if it is possible try to give us feedback about Qt version (try to use 5.12 also) if you have time.

[2021-03-29 04:18] dpizetta commented on #235
Hi guys, you can confirm if Qt 5.15+ can solve this? Tks

[2021-03-29 04:20] dpizetta commented on #245
Not sure how I can help with this, and I see that you have changed your code, so closing for now due to low required action. Thanks for reporting.

[2021-03-29 04:20] #245 closed

[2021-03-29 05:48] #267 closed

[2021-03-29 06:02] dpizetta commented on #269
@ccordoba12 @juanis2112 there is a pre-release version in PyPI (`pip install QDarkStyle==3.0rc0`). I'm going to work on the last details and issues related to Qt versions. Tks

[2021-03-29 18:13] mgrojo commented on #240
I'm not sure if I should open a new issue or not, but I'll do it if I'm said to.

I've tried to add the new light style to [DB Browser for SQLite](https://github.com/sqlitebrowser/sqlitebrowser). I want to provide three options: follow the desktop style, dark style and light style. I cannot add these two options with qdarkstyle at the same time. My impression is that the Qt or cmake generation for

[2021-03-29 21:54] ccordoba12 commented on #269
Thanks a lot for your help @dpizetta! We're testing it right now (see https://github.com/spyder-ide/spyder/pull/15048), but things seem to be working fine locally.

We'll have more news for you tomorrow when @juanis2112 add the light theme to Spyder.

[2021-03-30 02:24] dannagle commented on #235
I installed your latest release v2.8.1. Styled buttons are working on Qt 5.15.2 Big Sur.

[2021-03-30 03:20] dpizetta opened #271 "Left/Right tabs hover differs behavior from top/bottom"
The top and bottom have correct hover behavior. The right tabs have not. The left tab was fixed.

![tabs](https://user-images.githubusercontent.com/5084939/112928798-a1bb7d00-90ed-11eb-9623-3a4ea065159e.gif)

[2021-03-30 03:25] #271 closed

[2021-03-30 03:30] #243 closed

[2021-03-30 04:08] dpizetta opened #272 "Toolbar disabled has different background"
![image](https://user-images.githubusercontent.com/5084939/112932446-4d67cb80-90f4-11eb-835c-a9cbba3af713.png)

It should be identical to action disabled (bottom).

[2021-03-30 04:12] #272 closed

[2021-03-30 04:16] dpizetta commented on #235
@dannagle thanks.

A note for future references: Many issues can be solved when using the highest patch version available. We will be always testing on the last one for each major/minor version.

[2021-03-30 04:16] #235 closed

[2021-03-30 04:23] dpizetta commented on #209
May @isabela-pf has a good idea of what color to use here. @juanis2112  @ccordoba12 thoughts?

Currently, it is like this:

![list-qdark](https://user-images.githubusercontent.com/5084939/112933475-50fc5200-90f6-11eb-937e-ee053bbc65bb.gif)

Maybe we can keep the same as the hovering one.

For comparison, an example of VSCode too.

![list-selection](https://user-images.githubusercontent.com/5084939

[2021-03-30 12:44] dpizetta commented on #193
One more reference: https://setuptools.readthedocs.io/en/latest/userguide/datafiles.html.

[2021-03-30 13:25] #231 closed

[2021-03-30 13:27] #153 closed

[2021-03-30 19:37] dpizetta commented on #260
To be more consistent I'm going to apply the same style of push buttons for the tool buttons. So, who needs a transparent background will need to change that.

[2021-03-30 20:20] mgrojo commented on #240
I've worked around this problem renaming `style.qrc` to `lightstyle.qrc` and `darkstyle.qrc` accordingly. Please, let me know if there is a better way to do this, specially for not needing to change QDarkStyleSheet as provided.

[2021-03-30 20:40] dpizetta commented on #214
There are many issues and seems that fixing one thing breaks another.

- https://bugreports.qt.io/browse/QTBUG-55092
- https://bugreports.qt.io/browse/QTBUG-66380
- https://bugreports.qt.io/browse/QTBUG-74655
- https://bugreports.qt.io/browse/QTBUG-78238
- https://bugreports.qt.io/browse/QTBUG-80506

[2021-03-30 20:42] dpizetta opened #273 "C++ interchange of dark/light themes"
I'm not sure if I should open a new issue or not, but I'll do it if I'm said to.

I've tried to add the new light style to [DB Browser for SQLite](https://github.com/sqlitebrowser/sqlitebrowser). I want to provide three options: follow the desktop style, dark style and light style. I cannot add these two options with qdarkstyle at the same time. My impression is that the Qt or cmake generation for

[2021-03-30 20:48] dpizetta commented on #273
@mgrojo thanks for testing that soon. I opened a new issue regarding specific this problem. I'll take some time to get a better answer to you since I mainly use Python version of it.

The problem is like you said that the file is being overwritten, may we need to find a way to create the resulting file in different places, so we can keep the names. Or doing something like you did, with different f

[2021-03-30 21:43] mgrojo commented on #273
Thanks for looking into this, and for the new style, by the way!

[2021-03-31 00:42] dpizetta commented on #251
Hi @stekow could you check the last development version? May this was fixed. I added a menu inside the toolbar in our example, it seems to be working.

[2021-03-31 22:44] #260 closed

[2021-03-31 22:54] #269 closed

[2021-03-31 22:55] #251 closed

[2021-03-31 22:56] #160 closed

[2021-03-31 23:41] dpizetta commented on #209
The result is this
![table-views](https://user-images.githubusercontent.com/5084939/113224240-604bde80-9261-11eb-9f06-0278cd8e3ac6.gif)

[2021-03-31 23:41] #209 closed

[2021-03-31 23:59] dpizetta opened #274 "Add option to flat or rounded borders"
As the scss file is parametrized it is easy to provide a feature to set the style with/without rounded borders.

Border radius = 0px

![image](https://user-images.githubusercontent.com/5084939/113224827-a3f31800-9262-11eb-9cc5-8bebf10e5ea7.png)
![image](https://user-images.githubusercontent.com/5084939/113225408-eec15f80-9263-11eb-848e-a6c7430219a5.png)

Border radius = 4px (default)

![image](htt

[2021-04-01 04:33] ccordoba12 commented on #260
@dpizetta, we are aware of that problem, but thanks for mentioning it. We fixed it (along with other issues) in PR https://github.com/spyder-ide/spyder/pull/14933.

[2021-04-01 10:23] stekow commented on #251
Hi @dpizetta with version 3.0.1 the issue is still there.

[2021-04-01 14:06] dpizetta commented on #251
@stekow have you tested in a more recent version of python/pyside? We are not supporting Python2, pyqt4, pyside1.

[2021-04-01 14:14] stekow commented on #251
No.

"The most complete dark/light style sheet for Qt applications (Qt4, Qt5, **PySide**, PySide2, PyQt4, PyQt5, QtPy, PyQtGraph, Qt.Py)."

[2021-04-01 14:54] dpizetta commented on #251
I understand. If possible, try to update your environment, it seems fixed with the new version. [Python 2 support ended in 2020](https://www.python.org/dev/peps/pep-0373/).

![image](https://user-images.githubusercontent.com/5084939/113312224-751b8700-92e0-11eb-8832-1f24dcf2e7d3.png)

We forgot to update the description. Since we have many new versions, we have no condition to support all of them.

[2021-04-01 15:14] #212 closed

[2021-04-01 16:12] dpizetta commented on #212
@jnsebgosselin now it should be working :)

[2021-04-01 16:13] jnsebgosselin commented on #212
This is excellent, thank you very much!

[2021-04-02 22:16] ArchangeGabriel opened #275 "Issue with PySide2 tests in latest release"
### Describe Your Environment

- QDarkStyle: 3.0.2
- OS: Arch Linux
- Python: 3.9

- PySide: 5.15.2
- PyQt: 5.15.4
- QtPy: 1.9.0

### Description / Steps to Reproduce

[code]

### Actual Result

[code]

### Expected Results / Proposed Result

No error.

[2021-04-04 10:40] ArchangeGabriel commented on #275
From the documentation of PySide, this should be an enum with three possible values: `Qt.Unchecked`, `Qt.PartiallyChecked`, `Qt.Checked`.

[2021-04-04 18:35] SomberNight commented on #263
I've now tested `QDarkStyle==3.0.2` and the issue seems to be fixed.

Tested on the same Linux/Ubuntu system with both `(Qt==5.15.2, PyQt==5.15.4)` and `(Qt==5.12.8, PyQt==5.14.1)`;
and also tested on Win10 with `PyQt==5.15.4`.

[2021-04-04 18:35] #263 closed

[2021-04-06 14:00] loewenm opened #276 "Spyder / Conda dependency errors on latest build"
### Describe Your Environment

Attempting to update qdarkstyle to latest version 3.0.2 results in several incompatible packages.

New Spyder version 5.0.0 has released. Spyder will update accordingly via conda, but will not launch due to dependency on qdarkstyle. qdarkstyle will not update to 3.0.2 appropriately.

- QDarkStyle: 2.8.1 (trying to install 3.0.2)
- OS: Windows 10
- Python: 3.8
- Insta

[2021-04-06 14:36] dpizetta commented on #276
@loewenm hi, I think that not related to the qdarkstyle. I could not reproduce here and by looking at your file, there is no explicit problem related to the qdarkstyle. Our only dependency is QtPy.

I use Conda and sometimes I found this kind of bug when trying to update things. I'd recommend you create a fresh environment and see how it goes. Let me know the results. Tks

My output:

[code]

[2021-04-06 15:13] ccordoba12 commented on #276
Hey @loewenm, thanks for reporting. As @dpizetta said your problem is not related to qdarkstyle, but probably to trying to mix the conda-forge and defaults channels.

This problem will be fixed once the Anaconda team releases a new package for qdarkstyle in defaults. Unfortunately, they released Spyder 5 without its correct dependencies, which is causing a lot of headaches to our users (see spyder

[2021-04-06 15:13] #276 closed

[2021-04-06 15:30] loewenm commented on #276
Thank you @dpizetta and @ccordoba12 !!!

I'll wait for the new release. :)

[2021-04-08 23:34] nonamedotc opened #277 "tests fail with python 3.10"
### Describe Your Environment

Building qdarkstyle with fedora 35 (rawhide) and python 3.10 alpha

[Versions from your environment]

- QDarkStyle: 3.0.2
- OS: Linux (Fedora 35)
- Python: 3.10 alpha

### Language

Python

### Description / Steps to Reproduce [if necessary]

[Description of the issue]

I am trying to build version 3.0.2 against python 3.10 alpha. Two of the tests fail due to changes

[2021-04-12 06:25] tirkarthi commented on #277
This was fixed in qtsass but seems to have not made it to a release : https://github.com/spyder-ide/qtsass/pull/54

[2021-04-15 16:06] PhenomRetroShare commented on #214
Hello,
We have the same like behavior.
I fix it replacing item delegate with:
[code]

[2021-04-17 04:27] Shahprogrammer opened #278 "Styling Issue in Flat QPushButton"
[Versions from your environment]

- QDarkStyle:v3.0.2
- OS: Windows
- Python:3.8.5

[If used, please inform their versions]

- PySide:6.0.3

### Language
Python

### Description / Steps to Reproduce [if necessary]

[Description of the issue]

The background color of flat QPushButton should be the same as the background but as of now it's same as non flat QPushButton.

### Actual Result

![output](

[2021-04-18 05:16] ntjess opened #279 "QTreeView size too small?"
### Describe Your Environment
[code]

[Versions from your environment]

- QDarkStyle: 2.8.1
- OS: Ubuntu 20.10
- Python: 3.8/9
### Language
Python

### Description / Steps to Reproduce [if necessary]
I have two `QTreeView`s next to each other in a `VBoxLayout`. In light mode (default), the spacing is appropriate since I have a customized size hint and minimum size. However, in dark mode, the top t

[2021-05-12 08:41] seriousm4x commented on #249
I just learned that this project uses [qtpy](https://github.com/spyder-ide/qtpy). I'm gonna link these issues here.
https://github.com/spyder-ide/qtpy/issues/229
https://github.com/spyder-ide/qtpy/issues/233

[2021-05-13 03:39] rqx110 opened #281 "QTreeView item font-weight display issure"
Look at the image when the QTreeViewItem text is in ellipsis mode, the font-weight is changed

![treeview](https://user-images.githubusercontent.com/1829209/118073998-ac9d4900-b3df-11eb-9357-878ce5fd2d24.gif)

[2021-05-28 19:23] Gabsha opened #282 "QComboBox expands selected item"
### Describe Your Environment

[code]

### Description / Steps to Reproduce

Although it's been reported in #200 and marked as solved, I am still experiencing this issue in version 3.0.2

Launching the example `qdarkstyle.example` yields the following behavior on my system:

![qdarkstyle_combobox](https://user-images.githubusercontent.com/4389799/120031983-8a065500-bfc7-11eb-970e-78f559074585.gif)

[2021-05-31 13:31] Jihadist opened #283 "Q_INIT_RESOURCE trouble"
[Versions from your environment]

- QDarkStyle: 3+
- OS: Windows 7
- NoPython: just C++/qmake

[If used, please inform their versions]

- QT_API: 5.15.2

### Language

C++

### Description / Steps to Reproduce [if necessary]

[How to Q_INIT_RESOURCE both styles (light and dark)?]

They have the same resources name so Qt macro doesnt work correctly and inits only first qrc file

### Actual Result

[2021-06-14 18:43] wxguy opened #284 "Example to load light theme in README file"
I would like to use light and dark theme from `qtdarkstylesheet` package. However, there is no guide or reference I could find. How do we use the light theme from `qtdarkstylesheet`.

[2021-06-15 16:57] wxguy commented on #284
Also to add up, the `app.setStyleSheet(qdarkstyle.load_stylesheet(qt_api='pyqt5', palette='light'))` which is supported as per source code is not supported for `PyQt5`. It shows following error:-

[code]

[2021-06-18 16:36] rishabh3354 opened #285 "Combobox style sheet is breaking"
![IMG20210618220426](https://user-images.githubusercontent.com/26843758/122592048-7196d100-d081-11eb-8824-8c6eafbe8b5a.jpg)
![IMG20210618220426](https://user-images.githubusercontent.com/26843758/122592048-7196d100-d081-11eb-8824-8c6eafbe8b5a.jpg)

[2021-06-18 17:04] rishabh3354 commented on #285
And also i figured it out , it is breaking because of this:

QComboBox::item:checked {
  font-weight: bold;
}

[2021-06-30 10:01] sabrabano0 opened #286 "transparent.png not found"
in qt5.15 c++:
transparent.png not found

in your repo there isn't any transparent.png
how could i solve this?

[2021-06-30 10:09] sabrabano0 commented on #286
:-1: error: dependent '..\myproject\qdarkstyle\theme\rc\transparent.png' does not exist.

[2021-07-01 20:36] shaund commented on #284
Using `app.setStyleSheet(qdarkstyle.load_stylesheet(palette=qdarkstyle.LightPalette))` should work.

[2021-07-02 15:30] MartinDelille commented on #285
I also reproduce it with a simple code:

[code]
[code]
<img width="521" alt="Capture d’écran 2021-07-02 à 17 15 40" src="https://user-images.githubusercontent.com/879889/124296476-4967a180-db5a-11eb-8e1e-74872b0104c0.png">

[2021-07-02 15:34] MartinDelille commented on #285
I noticed also that this issue occurs in Qt 5.15 but not 5.12.

[2021-07-02 23:30] rishabh3354 commented on #285
Please fix it in next update

[2021-07-04 02:48] houssamfarag opened #287 "QMdiSubWindow is not showing the size grip"
Hi
i am using qdarkstyle latest version
when i create QMdiArea and and subwindow to it the size grip which shows when you reaches the down corners doesn't show
when i disable the stylesheet it shows
what should i do ?

[2021-07-04 22:04] rishabh3354 commented on #285
Also another issue with qcombobox, when i set the icon on qcombobox, text and icon are overlaping.
Please fix that one also.
thanks!

[2021-07-06 15:08] wxguy commented on #284
Well. It appears that what I installed was version 2.x whereas the latest version published was 3.x. So I could get the intended result of documentation. Fixed it with upgrading the module to latest version.

[2021-07-06 15:08] #284 closed

[2021-07-19 22:12] dpizetta commented on #286
Hi @sabrabano0, are you downloading the repo?

Because those files are there for both themes:
https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/master/qdarkstyle/light/rc/transparent.png
https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/master/qdarkstyle/dark/rc/transparent.png

Could you please check again? Tks

[2021-07-22 20:36] bjce opened #290 "`QCoreApplication::exec: The event loop is already running` while using `qdarkstyle` and the python debugger `pdb` at the same time"
First of all, many thanks for rightin this nice package `QDarkStyleShee`

In this application (running on MacOS 11.2.3), using `qdarkstyle` and the python debugger `pdb` at the same time, if we click on the button, the following message appears:

[code]
the message disappears if you comment out line 6 and line 65

Do you have any idea how to fix the problem?

[code]

[2021-07-23 07:01] bjce commented on #290
Ok, I had to add
[code]
this solved the problem

Many thanks to the developer / maintainer!

[2021-07-23 07:01] #290 closed

[2021-08-08 13:47] rimpy-custom opened #291 "Post 2.8.1 theme is too bluish"
I really like old version greyish style, like in 2.8.1. New one, post 2.8.1 looks too blue for me. Also, I prefer older style checkboxes (solid boxes) than new one (check marks). Is there a way to switch to old style with new version or are there plans to switch to old style? Thank you for this great theme and your time.

[2021-08-14 10:37] rimpy-custom commented on #291
I guess that is just a personal preference. After some time I get used to it. Closing the issue.

[2021-08-14 10:37] #291 closed

[2021-08-19 15:38] lingchingteng commented on #263
I still have this issue with (Qt==5.15.2, PyQt==5.15.4)

[2021-08-25 09:06] Anandir opened #292 "Create custom palette."
Hi everyone.
First of all, thanks for your hard work.
I've tried, with no luck, to create a custom color palette for an application I'm going to develop.
How can I create a custom palette of colors and, subsequently, the .qss file for the application?
I've looked at the Python code, but I didn't really spot a way to do so.

Even if the snippet on the [scss.py](https://github.com/ColinDuquesnoy/QDa

[2021-09-02 03:14] CatNofishing opened #293 "how to change the darktheme to lighttheme，sorry，i dont find any api ？"

[2021-09-02 03:29] #293 closed

[2021-09-20 17:18] leviethung2103 commented on #282
I also had the same problem. Is they any progress ?

[2021-09-22 17:08] DannyyyOnGit opened #294 "External "link" buttons display in default blue"
### Describe Your Environment

[Dolphin Emulator](https://dolphin-emu.org/) end user. Theme properly edited to support the custom themes feature. No custom compile or anything similar. Directly downloaded [from here](https://github.com/ColinDuquesnoy/QDarkStyleSheet/tree/master/qdarkstyle/dark) and changed some qss file paths for Dolphin.

The issue I'm experiencing is that external "hyperlink" bu

[2021-09-22 18:02] ccordoba12 commented on #294
Hey @DannyyyOnGit, thanks for reporting. You said

Is that a C++ or Python app?

[2021-09-22 20:30] DannyyyOnGit commented on #294
Here is the about dialog. From the looks of it, Dolphin uses simple hyperlinks.
https://github.com/dolphin-emu/dolphin/blob/master/Source/Core/DolphinQt/AboutDialog.cpp

I guess my question would be, how an override/styling for that would look like?
Any help is appreciated. Might also be worth to maybe include the defintion in here as well.

[2021-09-22 22:36] DannyyyOnGit commented on #294
After some more research. This seems to be caused by a Qt limitation: https://stackoverflow.com/questions/13416183/qt-stylesheet-how-to-set-color-of-qpalettelink-and-qplattelinkvisited

I've talked with the Dolphin app developers and they might add a workaround for this in the future.
Closing since this is an external issue.

[2021-09-22 22:36] #294 closed

[2021-10-28 11:55] xakod opened #295 "QGroupBox: text overlaping by another widget"
- QDarkStyle: 26c3878fff742c535058bf5d08643d0135cde2af QDarkStyleSheet (v3.0.2)
- Python: Python 3.8.10 Linux
- QT_API: 5.15.2

### Language

C++

### Description / Steps to Reproduce [if necessary]
1. Install style sheet

### Actual Result

Linux Ubuntu 20.10
![image](https://user-images.githubusercontent.com/26579016/139248448-dd713297-f632-4369-963e-9c9b404b6a58.png)
Windows 7
![image](https://

[2021-10-28 13:57] giallu opened #296 "QToolbar background"
I am working on a Qt\C++ desktop application, and having a bit of a trouble with the dark theme in a QToolbar I am using to display additional controls over another widget. Basically, while the stock theme has a transparent background, here there is a solid one so the result is cumbersome.

This is the default theme:
![image](https://user-images.githubusercontent.com/6527/139270001-55b6fa04-0dc0-4

[2021-11-17 04:30] ntjess commented on #285
Duplicate of #282?

[2021-11-29 10:44] Tsubajashi commented on #282
Any News regarding this issue?
it works on windows, but not on my linux machine. its the best looking stylesheet out there... dont really wanna change it.

[2021-11-29 10:55] pierreduf commented on #282
Hi. I had the same problem. After some time fiddling around I simply removed that part and it worked:

![image](https://user-images.githubusercontent.com/4528088/143855492-f62d1028-ff6d-4c68-b3e7-e694e273295d.png)

I also updated to the latest version but I'm pretty sure it didn't work after the update without removing that part.

Hope that helps.

[2021-11-29 12:33] dpizetta commented on #286
Closing by lack of response and it seems to be solved as the file is there.

[2021-11-29 12:33] #286 closed

[2021-11-29 12:43] #285 closed

[2021-11-29 12:52] dpizetta commented on #283
@Jihadist thanks for reporting, I think this is a duplicate of #273. There you will find a possible solution for now to use both. By now we can't see another solution.

[2021-11-29 12:52] #283 closed

[2021-11-29 12:56] Jihadist commented on #273
When it will be in upstream? Looks like it's an old problem

[2021-11-29 13:07] dpizetta commented on #273
@mgrojo Maybe we can "duplicate" the file using two different names for them or a way to include the whole path that does not overwrite the theme files when importing them.

This seems a flat reference:

[code]

or, closer to your solution

[code]

@mgrojo, if you had some time, could you please check these solutions? I have no C++ environments at this moment.

[2021-11-29 13:10] dpizetta commented on #273
@Jihadist if you could test for us would be great and we can include it soon. Feel free to open MR if you like. Tks

[2021-11-29 13:12] dpizetta commented on #278
@Shahprogrammer thanks for reporting. Have you confirmed this in another version of PySide <6? How did you remove the rounded buttons (code). Tks

[2021-11-29 13:14] dpizetta commented on #295
@Jihadist these numbers are a little trick. Something that will help us a lot is: Could you reproduce this in other versions of our qdarkstyle? 2.8.X and 3.0.X, Also with other Qt like 12.3. We have changed this code recently, so we can revert. Tks

[2021-11-29 13:16] dpizetta commented on #279
@ntjess thanks for reporting, could you reproduce with v3.0.X?

[2021-11-29 13:18] Jihadist commented on #295
Look at font. Windows by default use one font, Linux uses another, so these numbers cannot work ok on both platforms. I tried to explicitly specify font and then played with this numbers. It was ok but we need one font on qss level. I don't have any other ideas.

[2021-11-29 13:59] #275 closed

[2021-11-29 14:47] ntjess commented on #279
Looks to be fixed in 3.0.3. Thanks!

[2021-11-29 14:47] #279 closed

[2021-11-29 15:45] Shahprogrammer commented on #278
@dpizetta No I did not tried with PySide<6

[2021-12-01 10:27] juliangilbey opened #297 "test_create_qss fails"
The test function `test_create_qss` fails: it calls `create_qss()` with no arguments, but `qdarkstyle/utils/scss.py` reads:
https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/cbc93c0552645218650f280a1d2179617ba58cd2/qdarkstyle/utils/scss.py#L109-L115
so it fails.

[2021-12-01 10:45] juliangilbey opened #298 "RC_PATH etc incorrectly set; this causes test_create_custom_qss to fail"
This test also fails, as `qdarkstyle/__init__.py` defines:
https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/cbc93c0552645218650f280a1d2179617ba58cd2/qdarkstyle/__init__.py#L85
but the `rc` files now live under either `qdarkstyle/dark` or `qdarkstyle/light`.  The same goes for the definitions of `QSS_PATH` and `SVG_PATH` on the adjacent lines.

Here's the output of running the test (slightly

[2021-12-02 10:56] juliangilbey opened #299 "Non-py files not included by setup.py install"
`setup.py` includes the line:
[code]
to include the data files in the package wheel.  But this only works for `bdist` and `sdist`. It is necessary to also have a `package_data=...` option to include it when running `setup.py install`; see https://setuptools.pypa.io/en/latest/userguide/datafiles.html

[2021-12-02 22:31] ccordoba12 commented on #299
@juliangilbey, you're welcome to submit a PR for this. Thanks!

[2021-12-03 18:10] jaymegordo commented on #249
@ColinDuquesnoy looks like qtpy is getting close to rolling out PyQt6 support! https://github.com/spyder-ide/qtpy/issues/233 ❤️

[2021-12-04 20:33] juliangilbey opened #301 "Four pylint errors in utils and another test failure"
I was looking at issue #298 and have submitted a patch for it. Unfortunately, though, the test still fails, because `qdarkstyle.utils.images.create_images()` requires the palette passed to it to have an `ID` component, but when the new palette is created by `qdarkstyle.utils.scss.create_custom_qss()`, it is not given an `ID` before calling `create_images()`.  I am not sure what the `ID` should be,

[2021-12-09 17:47] juliangilbey commented on #299
@ccordoba12 Done!

[2021-12-09 20:56] ccordoba12 commented on #299
Thanks! I'll let @dpizetta to review it.

[2021-12-10 12:04] dpizetta commented on #282
Hi guys, could you please check if this was solved within the last version? Tks a lot!

[2021-12-10 14:30] Gabsha commented on #282
Hi @dpizetta, retrying the same MWE I shared, it's fixed on my side :tada: Thanks!

[2021-12-10 14:31] Gabsha commented on #282
Hi @dpizetta, retrying the same MWE I shared, it's fixed on my side :tada: Thanks!

[2021-12-10 14:31] #282 closed

[2021-12-11 10:38] bitSheriff opened #303 "QCombobox: buggy height of items"
### Describe Your Environment

* OPERATING SYSTEM---------------------------------------------------------------
    - System........................ Linux
    - Release....................... 5.15.5-76051505-generic
    - Platform...................... Linux-5.15.5-76051505-generic-x86_64-with-glibc2.33
    - Version....................... #202111250933~1638201579~21.04~09f1aa7-Ubuntu SMP Tue Nov

[2021-12-11 10:40] bitSheriff commented on #303
thanks fixed with QDarkStyle-3.0.2

[2021-12-11 10:40] #303 closed

[2021-12-27 11:46] jwaschkau commented on #249
qtpy 2.0.0 released https://github.com/spyder-ide/qtpy/releases/tag/v2.0.0

[2022-01-04 05:44] huseyinkozan commented on #296
Hi,
As a workaround, I am using transparent widget.
[code]

[2022-01-04 08:29] giallu commented on #296
I ended up doing the same, but I hope this is changed in the theme.

[2022-01-18 11:14] hmaarrfk opened #307 "Create tag for 3.0.3?"
It seems that Version 3.0.3 was released on PyPi (and released on conda-forge). Is there a tag for it?

[2022-02-20 11:27] nvzoll opened #308 "QComboBox renders icons on text-only items"
### Environment

- QDarkStyle: v3.0.2-9-gcbc93c0
- OS: Linux Mint 20.1 Cinnamon
- Qt: 5.12.8

### Language

C++

### Description / Steps to Reproduce [if necessary]

Dropped down combobox displays icons for items with empty icons.

### Actual Result

![actual](https://user-images.githubusercontent.com/29523015/154839935-6fa36044-fe51-49e0-a833-c5bca552fcc1.png)

### Expected Results / Proposed Res

[2022-02-21 02:45] ben-n93 commented on #308
Hi there, I have the same issue/question, however I am using Python/PyQt5.

[2022-03-08 04:39] rimpy-custom commented on #249
Have tried that solution, but widgets get misplaced, might be smth on my side. Did you find the way to apply theme in better way?

[2022-03-17 00:58] mrclary opened #309 "DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead"
### Describe Your Environment

* OPERATING SYSTEM---------------------------------------------------------------
    - System........................ Darwin
    - Release....................... 20.6.0
    - Platform...................... macOS-11.6.4-x86_64-i386-64bit
    - Version....................... Darwin Kernel Version 20.6.0: Wed Jan 12 22:22:42 PST 2022; root:xnu-7195.141.19~2/RELEASE_X86

[2022-03-19 22:50] mgrojo commented on #273
Sorry for answering so late, I was pretty busy lately.

I tested the changes by @Jihadist and I had to make an additional change to fix references to `style.qss`. After that change, it worked fine. I've made a new pull request with that fix.

[2022-03-23 06:04] SuperSandro2000 commented on #307
Bump.

[2022-03-23 16:55] SpiritBlossomAhri opened #311 "Combobox contain empty icon area"
<img width="174" alt="스크린샷 2022-03-24 01 53 45" src="https://user-images.githubusercontent.com/74236661/159753615-735e6206-a6c8-4523-92dc-67fe22d1ded3.png">

Is there anyone resolve this problem? combobox contain empty image line. how to fix it?

[2022-04-17 16:32] Zenahr opened #312 "Screenshot/preview in README"
Consider adding a screenshot to get a preview of what the theme looks like. Would be awesome.

[2022-05-30 14:07] glevner commented on #311
We have the same problem on Linux (but not on Windows). Were you able to find a solution?

[2022-05-30 14:12] glevner commented on #308
We have the same issue with CentOS 7, Qt 5.12 , QDarkStyle 3.0.2.

[2022-05-30 14:13] glevner commented on #311
This would seem to be a duplicate of issue #308, by the way.

[2022-05-30 14:16] ccordoba12 commented on #311
You're right. Closing this one then.

[2022-05-30 14:16] #311 closed

[2022-05-30 15:46] dpizetta commented on #301
Hey, @juliangilbey we need to update this function for creating custom palettes, it is totally out of date after the last big update we have. I'll be working on it, for now, I've just raised a NonImplementedError.

[2022-05-30 15:53] #299 closed

[2022-05-30 15:53] #309 closed

[2022-05-30 15:58] #298 closed

[2022-05-30 16:04] dpizetta commented on #297
Fixed in 9e72c253b0f6d80b2a70f24c26de93b29461b16e, thanks!

[2022-05-30 16:04] #297 closed

[2022-05-30 16:04] #307 closed

[2022-05-30 16:06] dpizetta commented on #273
It should be fixed with your contributions! Let us know if you have any other problems. Tks

[2022-05-30 16:06] #273 closed

[2022-05-30 17:22] hmaarrfk commented on #307
thank you!

[2022-06-09 16:34] ai-quantum opened #314 "Title bar of DockWidget is not high enough and title is not fully displayed"
![图片](https://user-images.githubusercontent.com/83354507/172898256-f50fb2c6-cfad-4b61-9cd6-7ca393b8a985.png)
![图片](https://user-images.githubusercontent.com/83354507/172898407-cf5d6bff-d107-49c5-ae45-5292f24e2204.png)
![图片](https://user-images.githubusercontent.com/83354507/172898449-7f3b783a-76b6-4c40-a2b4-26bb1c6c6a91.png)
![图片](https://user-images.githubusercontent.com/83354507/172898467-de15c2

[2022-06-11 22:34] ughstudios commented on #314
Did you ever manage to figure this out?

[2022-06-15 19:51] mgrojo opened #315 "Font role not taken into account for table header"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: tested with 3.0 and 3.1 [6ff5fdf](https://github.com/ColinDuquesnoy/QDarkStyleSheet/commit/6ff5fdfd7b1e2a538b6f22bd85dd05a817d24c45)
- OS: Ubuntu Linux 20.04

### Language

C++

### Description / Steps to Reproduce [if necessary]

I made these changes to sqlitebrowser to get column headers with some font decorations (un

[2022-08-12 19:37] ismirlia opened #316 "Creating a custom palette"
Hello,

I was trying to to create a custom color palette for an application I work with, but I saw that there is a currently an intentional error raised in scss.py

[code]

I just wanted to confirm that this functionality has been disabled for the time being? I apologize if this is duplicate, but no one answered #292 and #301 seemed to imply that that was the case, plus they were both close to a y

[2022-08-15 23:25] ccordoba12 commented on #316
Hey @ismirlia, thanks for reporting. Custom palettes should work, although none of us have actually used that functionality.

So, you're welcome to fix the errors you find in that functionality and submit a pull request with your changes.

[2022-08-16 12:51] dpizetta commented on #316
@ismirlia thanks for reporting and @ccordoba12 for the reply. I've been working on this, it is not complete, but its near to work properly. I'll push the changes to the develop branch, so if @ismirlia could test and make any other change it is needed, would be very nice. Thanks again

[2022-08-16 21:35] ccordoba12 commented on #316
That's great news! Thanks a lot for working on that @dpizetta.

[2022-08-17 18:51] ismirlia commented on #316
Thank you for the replies @ccordoba12 and @dpizetta . I'll have some time to work on this later in the week and I will take a look and let you know how far I get.

[2022-08-18 02:43] aPeter1 commented on #308
Hello! So you are aware, I am still having this issue on Mac with PyQt5 5.15.7 and QDarkStyle 3.1

[2022-08-19 00:52] dpizetta commented on #316
@ismirlia thanks for your help. I pushed the last changes I've made. That function is still not complete yet, but many changes were already made. We need to get the function args and update the new Palette class template. I've tested with the default values and the creation of palette was fixed, however needs this change for custom ones.

[2022-08-19 06:31] panqinglong-0 opened #317 "djef"
### Describe Your Environment

Please, report the output of the command (from v2.6+) or fill the information below:

`$ qdarkstyle --all`

Or use the helpdev if you have

`$ helpdev`

[Versions from your environment]

- QDarkStyle:
- OS:
- Python:

[If used, please inform their versions]

- PySide:
- PyQt:
- PyQtGraph:
- QtPy:
- QT_API:
- PYQTGRAPH_QT_LIB:

### Language

[Python] or [C++]

### Des

[2022-08-19 06:32] panqinglong-0 commented on #317
djndrn

[2022-08-19 06:32] panqinglong-0 commented on #317
6

[2022-08-19 12:52] ccordoba12 commented on #317
Closing because this is empty.

[2022-08-19 12:52] #317 closed

[2022-09-01 07:18] SupperPotato opened #318 "Qwt legend can't fully displayed when dock to right"
### Describe Your Environment

- QDarkStyle:3.0.2
- OS:Windows 10

### Language
C++

### Description / Steps to Reproduce [if necessary]

[Description of the issue]
I applyed the qdarkstyle in my project which contians qwtplots,when I set Qwt legend dock to right, legend can't fully display.
[code]

### Actual Result

Here is the image:
![image](https://user-images.githubusercontent.com/37609972/1

[2022-09-05 17:36] dalthviz commented on #277
Just in case, qtsass 0.3.1 was just released 🎉

[2022-09-26 03:40] DaeHeeLim opened #319 "QColorDialog problem"
`QWidget::item:hover:!selected { background-color: #1A72BB; }`

.qss creates problems with QColorDialog .

Mouse movement on the color canvas is strange.

Is this a QT bug?

The code below reproduces the problem.
[code]

[2022-10-10 13:42] ssayno opened #320 "qdarkstyle work conflict with mouseMoveEvent"
### Describe your Environment
- Mac Os
- python 3.10
- Doom Emacs
- PyQt5

### QApplications
I want to customize my title bar, so I rewrite `mousePressEvent` and `mouseMouseEvent` function, it works fine, but after `app.setStyleSheet(qdarkstyle.load_sytlesheet_pyqt5()`, it will move when the app ui get focus.(**I don't find a good software to get the process of this program, but I will give the MW

[2022-11-07 18:31] hmaarrfk commented on #316
I was just trying to create a custom palette this weekend. Is the work done in the `develop` branch or is there a different place i should look at things? https://github.com/ColinDuquesnoy/QDarkStyleSheet/commits/develop

[2022-11-08 00:15] ccordoba12 commented on #316
I think @dpizetta hasn't pushed it yet.

[2022-11-17 19:24] oleschum opened #322 "QDateEdit Popup too small, wrong colors for weekends"
### Describe Your Environment

[code]

- PySide2 and Pyside6

### Language

Python

### Description / Steps to Reproduce

The calendar popup of the widget QDateEdit is too small and has incorrect coloring.
Weekends are not consistently colored red.
The root cause seems to lie in the QCalendarWidget that is used by QDateEdit's popup.

### Actual Result

![dateedit_qdarkstyle](https://user-images.gi