[2013-11-28 09:42] ColinDuquesnoy opened #2 "Switching to MIT"
The lgpl license might be too restrictive for some users, I plan on switching to a MIT license. Any other opinions?

[2013-11-28 09:43] ColinDuquesnoy opened #3 "Add python 3 support"
The qrc python script does not support python 3.

[2014-01-02 15:12] #3 closed, assigned to ColinDuquesnoy

[2014-01-02 15:12] #2 closed, assigned to ColinDuquesnoy

[2014-01-26 14:22] amirshavit opened #4 "Add QTableView support"
Add to style.qss:

[code]

[2014-01-26 15:09] #4 closed, assigned to ColinDuquesnoy

[2014-01-29 12:04] emoon opened #5 "QCheckBox doesn't work in checked state"
Hi,

Thanks for a great sheet! I currently have a problem with using QCheckBox and that is when you press it it doesn't look like the button is checked at all.

I tried to switch to not using the sheet and then everything works as expected.

[2014-01-29 16:30] #5 closed, assigned to nobody

[2014-02-20 07:12] ColinDuquesnoy opened #6 "Tabbed dock widgets: strange line"
I've jsut received an email from a user that found a defect in the style sheet:

I will try to reproduce this bug in the example and will post a screenshot here

[2014-02-20 10:01] #6 closed, assigned to ColinDuquesnoy

[2014-02-24 08:19] amirshavit opened #7 "QTableView issues"
1. gridline-color is not set.
2. There's a very strange behavior when resizing the control; at certain sizes the left column is being erased except it's first row, see the screenshot below:

![image](https://f.cloud.github.com/assets/6506878/2243462/ac566e9a-9d2b-11e3-8db0-544b5544cb20.png)

It can be easily reproduced on Windows/Linux PySide/PyQt using the following code:

[code]

[2014-02-24 08:29] amirshavit opened #8 "QDockWidget issue"
When the docking widget's caption text is too long, the control buttons cover the text (see below - with and without the stylesheet)

![image](https://f.cloud.github.com/assets/6506878/2243522/738694c6-9d2d-11e3-9b09-f302c87b42ee.png)

![image](https://f.cloud.github.com/assets/6506878/2243525/7c3dda66-9d2d-11e3-8af4-e9ffcaa47b73.png)

Code to reproduce:

[code]

[2014-02-24 11:18] #8 closed, assigned to ColinDuquesnoy

[2014-02-24 11:32] #7 closed, assigned to ColinDuquesnoy

[2014-02-25 08:01] ColinDuquesnoy opened #9 "QToolBox"

[2014-02-25 08:17] #9 closed, assigned to ColinDuquesnoy

[2014-03-21 09:28] amirshavit opened #10 "QTabBar issues"
The styling of the selected item in a QTabBar is not consistent - it varies according to the QTabBar shape. The mouse-hover acts differently on North and East than on South and West.

In addition (a matter of taste) the selected item style is not distinctive enough.

See the example below to reproduce:

![image](https://f.cloud.github.com/assets/6506878/2481430/32e1009e-b0da-11e3-80b9-79590b8e3343

[2014-03-21 12:27] #10 closed, assigned to ColinDuquesnoy

[2014-04-10 15:34] mbnoimi opened #11 "Added to Wiki page"
First of All I'd like to thank a lot for the contribution.

I just want to tell you that I added your project to Qt wiki page: http://qt-project.org/wiki/Style-CSSBased

P.S. I'll add C++ support later today.

[2014-04-10 16:05] #11 closed, assigned to nobody

[2014-05-16 09:10] r-darwish opened #12 "QDockWidget on OS X"
First of all I would like to thank you for this great stylesheet. QDockWidget's title bar isn't dark on OS X (see the screenshot). I'm not sure how to resolve this. If you don't have a Mac available then I'll be happy to assist in testing.

[code]

![dock](https://cloud.githubusercontent.com/assets/1383193/2995203/b65ee1ea-dcd9-11e3-953b-c6858dfdfd46.png)

[2014-05-17 07:35] #12 closed, assigned to ColinDuquesnoy

[2014-05-30 23:40] aKcro opened #13 "selection color problem"
QTableView, QListView, QTreeView need this style (selection-color: #ffffff) to get right color accessing highlightedText()

problem in delegates:
def paint(self, painter, option, index):
    option.palette.highlightedText().color()  # wrong highlighted color

reference:
http://qt-project.org/doc/qt-5/stylesheet-reference.html

[2014-05-31 18:46] #13 closed, assigned to nobody

[2014-08-31 13:32] ColinDuquesnoy opened #14 "Widgets too small to read their content"
From an issue reported in OpenCobolIDE: OpenCobolIDE/OpenCobolIDE#55

The issue is that widgets put in a form layout are sometimes too small to read their content. This is mainly true on OSX and Windows 8.

Setting the `min-width` attribute of QSpinBox and QComboBox would solve the problem (see  http://qt-project.org/doc/qt-4.8/stylesheet-reference.html#min-width-prop) but I will have to play a bi

[2014-08-31 14:01] #14 closed, assigned to ColinDuquesnoy

[2014-12-19 03:17] MHendricks opened #17 "Styling a Line from Designer"
QDarkStyleSheet is a really nice stylesheet. I ran into a unstyled "widget", the "Horizontal Line" and "Vertical Line" in Qt Designer. [It is a QFrame with height 3, sunken shadow and line width equal to 1. You can see it if examine header generated by uic tool.](http://stackoverflow.com/a/13930601)

    QFrame[isLine="true"] {
        background-color: #3A3939;
    }

The only way I can think to

[2015-01-08 20:11] fieldOfView opened #18 "Tristate checkboxes not supported"
A QCheckbox with Tristate set to True renders the same, whether its CheckState is Unchecked or PartiallyChecked. The two states should be visually distinguishable.

[2015-01-08 20:30] ColinDuquesnoy commented on #18
I believe this issue has already been fixed by PR #16 but I haven't released it yet on pypi. May I ask you to try directly from the master branch.

[2015-01-08 22:11] fieldOfView commented on #18
I tried the master branch before, but only just noticed that the py*_style_rc.py files need to be recompiled.

[2015-01-08 22:42] ColinDuquesnoy commented on #18
Ah yes you're right. I'll try to find some time to recompile them during the weekend and upload a new release on pypi. Thank you for reporting!

[2015-01-09 16:09] ColinDuquesnoy commented on #17
I've tried your second suggestion and it works like a charm (on KDE). It will be included in the next release. Thanks for sharing!

[2015-01-09 16:09] #17 closed

[2015-01-09 16:24] #18 closed

[2015-01-09 16:25] ColinDuquesnoy commented on #18
Should be fixed now, see

![state11](https://cloud.githubusercontent.com/assets/1681217/5682986/70b426ee-9824-11e4-8b6c-2a040fe2d968.png)

![state12](https://cloud.githubusercontent.com/assets/1681217/5682992/7e109386-9824-11e4-84f1-75d2a75b454a.png)

Going to release it on pypi soon.

[2015-01-09 21:01] fieldOfView commented on #18
Awesome. Might I suggest a tweak in the graphics though? Currently if you see a UI where the only checkbox is a partially checked tristate checkbox, you might still recognise it as fully checked untill you click it and see there's a fuller check.

A dimmed square or a dimmed dash instead of the current dimmed cross sets the partiallychecked checkbox apart from the other two states and makes it imm

[2015-01-09 21:48] ColinDuquesnoy commented on #18
Yeah sure! That would be awesome!

[2015-01-09 22:50] fieldOfView commented on #18
The above referenced pullrequest implements a dash. I can also do a square, which is more in line with the standard behavior in Windows. The advantage of the dash is that is is less likely to be confused for an unchecked checkbox.

![untitled-1](https://cloud.githubusercontent.com/assets/143551/5688632/0339ea32-985a-11e4-88b6-5fc2d718e87f.png)

[2015-04-05 14:15] nekopep opened #20 "Darwin: QGroupBox title overlap QPushButton in VBoxLayout"
Hello,
Please find below a bug I saw using QDarkStyle under darwin.
"System to monitor" groupbox title overlaps QPushButton on top of it.

Gist:
https://gist.github.com/nekopep/84855cedbda300c5b383

![capture d ecran 2015-04-05 a 16 11 49](https://cloud.githubusercontent.com/assets/2825997/6997110/82982806-dbae-11e4-9653-13cdc207112a.png)

[2015-04-05 14:22] nekopep commented on #20
Seems that adding padding-top could solve the issue:

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
![capture d ecran 2015-04-05 a 16 21 56](https://cloud.githubusercontent.com/assets/2825997/6997138/f5cbe488-dbaf-11e4-91f0-9f7077c0ba4a.png)

[2015-04-05 16:12] ColinDuquesnoy commented on #20
Nice finding! I tested your fix on Linux but 10px is a bit too much here, 5px looks fine. Please check the latest commit on the master branch and let me know if that works for you.

[2015-04-05 18:31] nekopep commented on #20
Hi colin,
5 px is too short on Mac.
![capture d ecran 2015-04-05 a 20 29 44](https://cloud.githubusercontent.com/assets/2825997/6998003/9f8ef2ea-dbd2-11e4-8211-1b2b7c74a9ba.png)
Moreover I think the issue come also from the padding of QGroupBox that is currently erroneous... (2ex)
Putting this is OK for me:

QGroupBox {
    border:1px solid #3A3939;
    border-radius: 7px;
    margin-top: 20px;
}

[2015-04-05 18:48] ColinDuquesnoy commented on #20
Indeed margin-top for QGroupBox was erroneous but the the padding-top set to 15 px is still too much here:

![github1](https://cloud.githubusercontent.com/assets/1681217/6998076/f4e77f76-dbd4-11e4-91ad-5b76f169dcd9.png)

This works for me:

QGroupBox {
    border:1px solid #3A3939;
    border-radius: 7px;
    margin-top: 20px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-pos

[2015-04-05 19:46] nekopep commented on #20
Ok go with this. That's look ok on mac. By the way, here is a screenshot under win 8.1.
Looks like the Mac one is the one that is different form the two others anyway...
![capture d ecran 2015-04-05 a 21 43 31](https://cloud.githubusercontent.com/assets/2825997/6998315/e812436e-dbdc-11e4-8aee-9631fef87eb2.png)

[2015-04-06 09:36] #20 closed

[2015-04-10 13:49] wolfc01 opened #21 "QFrame does not style"
Hello

if I have a QFrame having width=3 and height=3 pixels: it is visible. Otherwise not. IMHO this is wrong.

Best regards
Carl.

[2015-04-10 14:05] ColinDuquesnoy commented on #21
The reason why we made it that way is explained in #17.

If you have a better solution feel free to submit a pull request.

[2015-04-10 14:13] ColinDuquesnoy commented on #21
This might be due to #17.

I don't have the time to work on that now but I'll accept and merge any pull request that fix the issue.

[2015-04-15 08:41] danarmstrong opened #22 "QDockWidget title bar on Mac OS X Yosemite"
I see that this is an issue that you have corrected in the past, however, using Qt 5.4 the QDockWidget title bar is not themed on Yosemite (probably not even related to Yosemite). The icons, however, are.

[2015-04-15 08:43] danarmstrong opened #23 "QToolButton drop-down arrow not themed (InstantPopup and DelayedPopup)"
When I have a QToolButton with a menu, the drop-down arrow is not themed on OS X Yosemite with Qt 5.4.

[2015-04-15 12:02] ColinDuquesnoy commented on #22
Thanks for reporting those issues. I'll have a look ASAP

[2015-04-22 15:13] ColinDuquesnoy commented on #22
Sorry but I cannot reproduce your issue on Yosemite with PyQt 5.4.1. Here is how it looks for me:
![screen shot 2015-04-22 at 17 08 29](https://cloud.githubusercontent.com/assets/1681217/7277844/87e20d10-e912-11e4-8113-ae35399d3d64.png)

Are you sure you're using the latest version? If yes could you provide me with an [SSCCE](http://sscce.org/) that reproduce the problem (preferably written in pyt

[2015-04-22 15:15] ColinDuquesnoy commented on #23
Which popup mode exactly? It works fine for me with MenuButtonPopup. An SSCCE would hep.

[2015-04-22 15:42] #21 closed

[2015-04-22 15:43] ColinDuquesnoy commented on #21
Fixed in master branch. I will release a new version once #22 and #23 are fixed.

@wolfc01  Thank you very much for reporting!

[2015-04-22 20:33] danarmstrong commented on #22
I will try putting one together tonight when I'm back at the Mac. I am only using Qt with C++ so I will try both C++ and PyQt and see what my results are.

[2015-04-23 06:01] danarmstrong commented on #22
I took a crash course in PyQt5 and discovered that the issue does not exist with the Python bindings, only when used with the C++ libs.

[2015-04-23 06:15] danarmstrong commented on #22
You can find a bare minimum, compilable project demonstrating the problem here: https://www.dropbox.com/s/k343ankhzt6zu6e/darktest.zip?dl=0

[2015-04-23 17:18] ColinDuquesnoy commented on #22
Thanks. I'll have a look ASAP.

[2015-04-25 07:38] danarmstrong opened #24 "QSplitter handle not styled on OS X Yosemite"
Another issue discovered when using C++. The QSplitter handle isn't styled.

![screenshot 2015-04-25 01 37 35](https://cloud.githubusercontent.com/assets/4072243/7332089/bd082f3a-eaeb-11e4-8bb7-e1f3edcd469d.png)

[2015-04-25 11:35] ColinDuquesnoy commented on #22
I forgot that the fix for issue #12 is not included in style.qss but applied conditionally at runtime when you load the stylesheet. The python package provides a function to load the stylesheet which takes care of that but, in C++ it's up to you to add the missing extra stylesheet. e.g:

[code]

[2015-04-25 11:35] #22 closed

[2015-04-25 11:59] #23 closed

[2015-04-25 16:49] #24 closed

[2015-04-25 16:50] ColinDuquesnoy commented on #24
Fixed in master branch (this was not specific to c++)

[2015-04-25 19:04] danarmstrong commented on #22
Everything looks fantastic now. Thank you for your responsiveness and prompt attention.

[2015-04-25 19:34] ColinDuquesnoy commented on #22
Great. With the upcoming version 2.0, you will have to add the following line to QDockWidget::title stylesheet (I edited the original code).

```height: 12px;```

[2015-06-22 23:29] jdb78 opened #26 "QPushButton:checked missing"
Stylesheet for the checked state of a QPushButton is missing.

[2015-06-23 06:23] ColinDuquesnoy commented on #26
Thanks for reporting. Will have a look ASAP

[2015-06-23 19:44] #26 closed

[2015-06-23 19:44] ColinDuquesnoy commented on #26
Fixed in master branch.

[2015-07-08 11:29] juancarlospaco opened #28 "QFontDialog no Styles"
- **QFontDialog has no Styles** :sob:

`QFontDialog(self, *args)`
![qfontdialog_bug](https://cloud.githubusercontent.com/assets/1189414/8569140/a51d078a-254a-11e5-8fa3-af73c1587823.jpg)

`QMessageBox.question(self, *args)` Works Ok :grey_exclamation:
![qfontdialog_bug](https://lh3.googleusercontent.com/-P_f5eHVARdA/VZz-6duHJCI/AAAAAAAAJv4/vU5tcLFKEzk/w854-h675-no/qmainwindowqt5.jpg)

Sample Code G

[2015-07-08 11:31] juancarlospaco commented on #28
Sorry, Bug on Code.

[2015-07-08 11:31] #28 closed

[2015-10-10 02:57] PlasmaMichael opened #29 "radio_indeterminate style should be removed"
radio_indeterminate.png is missing

[2015-10-10 03:43] PlasmaMichael opened #30 "QCheckbox hover"
Since QCheckBox uses png files, it misses of color on hover, surely the same for QRadioButton.

[2015-10-10 04:29] PlasmaMichael opened #31 "Incoherent focus colors"
Focus png of radio and checkbox are too bright than the color used in the stylesheet for QWidget which is #78879b.

[2015-10-10 18:50] ColinDuquesnoy commented on #29
Thank you for reporting. I'll have a look but it is not likely to be fixed before a few weeks (I am pretty busy with other projects).

[2015-10-11 19:42] PlasmaMichael opened #32 "QRadioButton indicator issue"
I think it's an error:
QRadioButton::indicato::menu-arrowr:checked:pressed
Should be:
QRadioButton::indicator:checked:pressed

[2015-10-11 20:18] DreamMichael opened #33 "Cross for checkbox is less confusing"
I think a cross for a checkbox is less confusing.

[2015-10-12 00:29] DreamMichael commented on #29
It sounds not correct to have indeterminate state for QRadioButton, at the end the only fix on this issue is to remove the indeterminate style.

[2015-10-12 15:51] ColinDuquesnoy commented on #33
I don't know. I think it's highly subjective. The png files I added in v2.x are inspired by the new KDE breeze theme which I like very much. I think I am going to keep them as they are.

[2015-10-12 15:51] #33 closed

[2015-10-12 15:53] ColinDuquesnoy commented on #31
The focus color of the png is not too bright, this was my intention to use that color for every widget but I guess I missed some. So when I am going to fix this issue, I'll use the same color as the png instead of #78879b.

Again, this color has been chosen based on the new kde breeze theme which I like very much and don't plan to change.

[2015-10-12 16:04] ColinDuquesnoy commented on #32
Thank you for reporting. It would be nice if you could submit PR to fix that (and maybe other similar issues). That way a fix would be released quicker than if you wait for me to look into the issue.

[2015-10-12 16:05] ColinDuquesnoy commented on #29
Indeed, it should be removed. PR?

[2015-10-12 16:07] ColinDuquesnoy commented on #30
Yes hover is missing for both QCheckBox and QRadioButton.

[2015-10-12 16:29] DreamMichael commented on #29
Removed I think since it's not correct.

[2015-10-12 16:30] DreamMichael commented on #31
I tried to change using the actual focus color and it's very dark, the bright color looks better.

[2015-10-12 16:35] DreamMichael commented on #32
I've fixed on my side but I don't use 100% the same stylesheet and I have custom style inside it because of the application i'm working on.

[2015-10-12 16:57] ColinDuquesnoy commented on #32
I see. Ok no problem, other user will just have to wait for me to fix the issue, unless someone else want to fix it.

Anyway, thank you for your contribution!

[2015-10-12 20:35] DreamMichael commented on #30
I tried to add a hover png but when the checkbox is focus the hover is never showed when the mouse is on the widget, without the use of png for the border (old stylesheet) this issue is not there.

[2016-06-17 17:50] goditsa8 opened #35 "QToolButton:checked/pressed issue"
Ubuntu 14.04, Unity shell.
In checked/pressed state QToolButton gets a little bigger that cause QToolBar gets bigger.
Adding `padding: 2px;` to `QToolButton:hover, QToolButton::menu-button:hover` and `QToolButton:checked, QToolButton:pressed, QToolButton::menu-button:pressed` helps me.
Sorry for my English.

[2016-06-19 10:18] #35 closed

[2016-06-19 10:20] ColinDuquesnoy commented on #35
Thank you for the hint! This is fixed in latest commit on master branch.

[2016-06-19 12:50] #29 closed

[2016-06-19 12:50] #30 closed

[2016-06-19 12:50] #31 closed

[2016-06-19 12:50] #32 closed

[2016-06-19 12:50] ColinDuquesnoy commented on #29
Removed.

[2016-06-19 12:51] ColinDuquesnoy commented on #31
Fixed. The whole color scheme got an update and every widget should now use the bright focus color.

[2016-06-19 12:51] ColinDuquesnoy commented on #30
Hover will now use the same color as focus.

[2016-07-13 05:55] goanpeca opened #36 "Status bar widgets have an outline"
Hey @ColinDuquesnoy awesome work :-)

Using it in Spyder, and noticed that the status bar widgets have an outline. I dont think this is intended right?

![image](https://cloud.githubusercontent.com/assets/3627835/16793169/6d99d0e0-4894-11e6-9750-e8fc0bddf16d.png)

[2016-07-13 18:57] ColinDuquesnoy commented on #36
Hi  @goanpeca

Yes this is not intended. I've tried your feature/qdarkstyle branch on my dev system (KDE Plasma 5.7.0/Qt 5.7.0/PyQt 5.6 dev snapshot) and I can reproduce the problem. I don't understand what's happening because I have no issue in OpenCobolIDE.

![screenshot_20160713_204852](https://cloud.githubusercontent.com/assets/1681217/16815723/3deb20ea-493b-11e6-9aad-7ba74fcb360c.png)

What i

[2016-07-16 13:26] goanpeca commented on #36
They are more complex widgets based on QWidget.

https://github.com/spyder-ide/spyder/blob/master/spyderlib/widgets/status.py

[2016-07-17 09:58] ColinDuquesnoy commented on #36
Thanks, I'll have a look ASAP.

[2016-07-17 13:32] #36 closed

[2016-07-17 13:35] ColinDuquesnoy commented on #36
Should be fixed in master branch.

![screenshot_20160717_153141](https://cloud.githubusercontent.com/assets/1681217/16900925/1177a7bc-4c34-11e6-9f07-398e6e847720.png)

But I have an issue with pyside. The linux distribution I am using has removed pyside (and pyqt4) because Qt4 is not supported anymore. As such I cannot recompile the stylsheet's resource file for pyside... May I ask you to recompil

[2016-07-17 15:51] ColinDuquesnoy commented on #36
@goanpeca I managed to install pyqide from pypi so no need for a PR for the pyside qrc file. I'll release a new version on pypi soon.

[2016-07-17 16:56] goanpeca commented on #36
Ok @colinduquesnoy. thabks a lot :)

[2016-10-07 23:55] JSandusky opened #37 "QToolBar "expand" button unstyled"
When a QToolBar is sized such that not all items appear the button to open the window containing the hidden items is lacking any styling.

Appears to just inherit QToolBar QToolButton's styling, probably needs arrow icons. Will send p/r to fix if I track down where that is styled.

[2016-10-26 22:51] leplatrem opened #39 "Can QColorDialog be styled?"
It seems impossible since it comes from desktop... the only solution available is to reimplement a custom one?

Thanks for this awesome theme!

[2016-10-31 09:49] ColinDuquesnoy commented on #39
Yes, I think you're right. The same restriction applies for all native dialogs (QFileDialog, QColorDialog,...).

[2016-10-31 09:49] #39 closed

[2016-10-31 09:53] ColinDuquesnoy commented on #37
Maybe this can be done by styling the [::scroller](http://doc.qt.io/qt-5/stylesheet-reference.html#scroller-sub) sub-control?

[2016-11-01 00:50] JSandusky commented on #37
So far it's been looking like the "extend" button isn't exposed to QSS, while hunting it down I've come across quite a few subjects similar to this http://stackoverflow.com/questions/27040897/qt-style-the-arrow-when-a-qtoolbar-is-too-small Unfortunately all  of them have had similarly old dates.

I haven't given the workaround presented there a shot yet though, hopefully when I get giving that a w

[2016-11-08 12:47] PKEv opened #41 "QList - setAlternatingRowColors"
not supported

[2016-11-08 17:46] ColinDuquesnoy commented on #41
Thanks for reported. Unfortunately I don't have much time to work on the stylesheet. A PR would be very much appreciated.

[2016-11-08 17:49] ColinDuquesnoy commented on #37
Maybe have a look at PR #40, it looks like the user found a fix for the expand button of vertical toolbars (I haven't had the time to review it).

[2016-11-09 11:04] PKEv commented on #41
I was wrong.
error in something else ...
when you try to use a style that's for this application: https://github.com/QTodoTxt/QTodoTxt
inherited style of QWidget is using for QListWidget
We will try to continue

[2016-11-09 11:16] PKEv commented on #41
help only setup style for QDialog and QMainWindow instead QWidget

[2016-11-09 16:54] ColinDuquesnoy commented on #41
help only setup style for QDialog and QMainWindow instead QWidget

Sorry I have no clue about what you mean.

[2016-11-09 19:49] PKEv commented on #41
The problem was a bit different.
In this project uses components: QListWidget
In this component, the background elements can not setup when you set the background Qwidget
and therefore I had to give up the job of the parent parameters and set parameters for the background of all used children: QMainWindow, QDialog

[2016-11-10 04:41] JSandusky commented on #37
Yes, that's the same thing. The coloring for the button is certainly acceptable as a stand in.

I've been having considerable trouble finding traits that avoid aliasing in the bitmap resources.

I think I can mark this mostly closed as PR #40 is "good enough and sufficiently clear" in it's changes to the extension button, and a "desired" solution looks impractical.

[2016-11-10 04:41] #37 closed

[2016-11-20 16:41] ColinDuquesnoy commented on #41
I think the case of custom widgets in QListWidget should be handled by application maintainers and not in this stylesheet. Therefore I am going to close this issue. Comment if you think there is something we could do in the stylesheet to address your issue.

[2016-11-20 16:41] #41 closed

[2017-01-22 02:28] ningquec opened #45 "Cannot set QDialog border style in css"
Hi,
    This style sheet is awesome, but when I use it, I can't set qdialog border in your .css.
    I created a dialog as my main window, and setWindowFlags(Qt::FramelessWindowHint) for it , then added
[code]
   but it did't work. I don't know why.

[2017-01-22 06:51] #45 closed

[2017-01-22 09:12] ColinDuquesnoy commented on #45
This does not work because window decorations (border, title bar, ...) are rendered by the window manager of your OS, not by Qt.

[2017-01-28 01:05] ransagy opened #46 "Anything can be done to improve the colors when using with P4Merge (Qt5)?"
I've tried using this style with P4Merge (https://www.perforce.com/product/components/perforce-visual-merge-and-diff-tools) by adding it under the P4VResources folder and named p4vstyle.qss (As they load such a style if it exists).

![capture](https://cloud.githubusercontent.com/assets/6785058/22392847/96bdba2c-e506-11e6-9cea-8dc3f5cf566a.PNG)

This works for most elements, but the diff line backg

[2017-01-28 10:59] ColinDuquesnoy commented on #46
I don't know. This really depends on how they made the diff line background. If they are using a custom widget and do their own rendering there are little chances you can change that with a stylesheet, unless they exposed some Q_PROPERTY (see http://doc.qt.io/qt-5/stylesheet-syntax.html#setting-qobject-properties). I'd suggest you ask them how you can customize the diff line.

[2017-01-28 10:59] #46 closed

[2017-01-28 12:15] ransagy commented on #46
Figured as much. Thanks for the help and for this stylesheet in general :]

[2017-02-24 22:32] Johndt6 opened #48 "Stylesheet overriding custom background colors"
I'm not sure if this is a fixable issue, but when I try to change the background color of a widget in PySide, this  stylesheet overwrites the change.

Take, for example, the following code, which displays three differently colored squares in a green-background widget:

[code]

If we add the following line after creating the `QApplication`,

`a.setStyleSheet(qdarkstyle.load_stylesheet())`

Then the

[2017-02-25 09:33] GoelBiju commented on #48
Hello Mr. @Johndt6 ,

I am facing a similar issue when setting background images. The stylesheet's default background colour overrides any background image I want to set.

[2017-02-27 18:37] ColinDuquesnoy commented on #48
@Johndt6 @GoelBiju QtStylsheet overrides QPalette, you have to extend the stylesheet for you particular widget type/instance, using e.g. an ID Selector. See http://doc.qt.io/qt-5.8/stylesheet-syntax.html#selector-types

[2017-02-27 19:20] Johndt6 commented on #48
@ColinDuquesnoy Great, thank you! I figured it might be something like that.

[Here's ](http://stackoverflow.com/questions/27159575/pyside-modifying-widget-colour-at-runtime-without-overwriting-stylesheet) a good explanation I've found on SO for overwriting the stylesheet.

[2017-02-27 19:36] GoelBiju commented on #48
Thank you Mr. @ColinDuquesnoy  and Mr. @Johndt6  for the resources and help. I will try to see if I can get this issue solved.

[2017-03-02 11:32] gjaegy opened #49 "4K"
Very nice work !!

However, when using a 4K display, it doesn't look as nice as it does in standard FullHD resolution.

[2017-03-06 20:07] libBletchley opened #50 "ImportError: No module named setuptools"
There is no debian package for _QDarkStyleSheet_ so I did a `git clone`.  Then ran: $ `python setup.py install`.

Output is:

`
Traceback (most recent call last):
  File "setup.py", line 29, in <module>
    from setuptools import setup, find_packages
ImportError: No module named setuptools
`

[2017-03-07 18:03] ColinDuquesnoy commented on #50
You miss the [python-setuptools](https://packages.debian.org/fr/sid/python-setuptools) package. Nowadays, this package is the default python packaging tool. You'll need it to install almost every python package, that's why it is not listed in the package dependencies. I am surprised it is not part of the default python install.

[2017-03-07 18:03] #50 closed

[2017-03-07 18:04] ColinDuquesnoy commented on #49
What parts does not looks good? I don't have a 4K screen and I have no clue what the problem is.
What is your OS? What version of Qt are you using?

[2017-03-12 03:33] Ybalrid commented on #49
4K screens and other really high resolution screens are a pain to deal with GUI-wise, specially on windows. (On MacOS, if you have a "retina" screen the whole OS is built for that.)

Windows is doing a fairly poor job at scaling the desktop when using an "high DPI" screen. Qt has some information and guidelines about theses issues here http://doc.qt.io/qt-5/highdpi.html

Some UI start looking abso

[2017-04-06 05:36] baytuni opened #51 "[Windows 7] FileDialog system icons shown as dots"
When I use qfiledialog icons like up,forward, back etc appear as dots

![image](https://cloud.githubusercontent.com/assets/23097617/24739333/bb353dd8-1a9b-11e7-966a-679ca7f1c6ed.png)

[2017-04-09 07:49] ColinDuquesnoy commented on #51
Thank you for reporting. Unfortunately I am afraid I cannot help. I don't use Windows 7 anymore and there is no issue on Windows 10.

If you (or anyone else) find a solution submit a PR and I'll merge it.

[2017-04-09 07:50] ColinDuquesnoy commented on #49
@gjaegy ping

[2017-04-09 07:51] ColinDuquesnoy commented on #48
@GoelBiju Have you found a solution? Can I close this issue?

[2017-04-09 20:01] GoelBiju commented on #48
Sorry Mr. Duquesnoy, I didn't find a solution where I could have both of them at the same time. You can close it anyhow, thank you for your help!

[2017-04-10 12:50] gjaegy commented on #49
Hi Colin,

really sorry for the delay. Below is a screenshot of the stylesheet shown on a 4k display.

what bothers me a bit apart the resolution of the icons, this is due to the source resolution of the images of course):
- tool icons spacing too large
- some alignment problems
- I don't really like the "dotted lines" look (but this is a subjective opinion)
- some double lines, for instance, on t

[2017-04-11 07:59] baytuni commented on #51
Hey,
I am sorry I stirred things up a bit. It turns out it's due to lineedit padding. I commented the padding line for other purposes but it affects the icons in the file dialog.  I solved the problem by adjusting the padding for all the elements appearing on the qfiledialog. Whoever interested might check the file. I don't wanna branch the code cause I changed the colors too so I share it as a te

[2017-04-20 09:36] asztalosdani opened #52 "Checkbox in table not styled"
Hi,
the checkboxes in the table are not styled.
![image](https://cloud.githubusercontent.com/assets/9664767/25223683/58610972-25bc-11e7-9a13-d532e9a43933.png)
My setup (just in case it matters):
Windows 10
Python 2.7
PyQt4
QDarkStyle 2.3

[2017-04-29 16:04] #48 closed

[2017-04-29 16:05] #51 closed

[2017-04-29 16:05] ColinDuquesnoy commented on #52
Thank you for reporting. Can you provide a sample code that helps reproduce your issue?

[2017-04-29 16:10] ColinDuquesnoy commented on #49
What Qt toolkit are you using? Qt4 or Qt5? I know Qt5 has better support for high resolution/high dpi screens.

As I don't have a 4k screen, I won't fix this issue myself. Feel free to submit a PR if you find some tweaks that improve the quality of the stylesheet on 4k screens and don't break anything on standard screens.

[2017-04-29 16:10] #49 closed

[2017-05-03 22:32] brodycas3 opened #55 "Images at bottom of readme.md broken"

[2017-05-06 17:52] ColinDuquesnoy commented on #55
Fix by PR #54.

[2017-05-06 17:52] #55 closed

[2017-05-08 11:22] Raincode commented on #52
Hi,

I played around just trying to style it the way checkBoxes are styled in general, but I think the colors might not play so nicely with the selection background color: http://imgur.com/a/uDdpm

I just added a TableWidget in Designer and then I did
[code]

[2017-05-13 11:18] ColinDuquesnoy commented on #52
@asztalosdani I think this issue cannot be solved with a stylesheet, you need to implement a custom delegate to customize items in a view: http://doc.qt.io/qt-4.8/qabstractitemdelegate.

@Raincode I have adjusted checkbox/radiobutton colors and view item selection/hover color to have a better contrast.

[2017-05-13 11:18] #52 closed

[2017-06-05 09:57] Phantom12 opened #57 "highlight misalignment issue"
Hi ColinDuquesnoy, I recently found QDarkStyleSheet and gave it a try. Thank you for your fantastic work! However, I seem to have encounter a small bug. The problem is with a right click menu I created with QMenu. When the mouse hovers on one action, it will be highlighted with blue color, but the highlight seems to be positioned a bit too much on the right side instead of in the middle. Sorry I m

[2017-06-05 18:16] ColinDuquesnoy commented on #57
I'll have a look, thanks for reporting

[2017-07-07 13:00] Phantom12 commented on #57
Hi ColinDuquesnoy, any luck in identifying the issue and possibly fixing it? Thanks

[2017-07-07 14:12] mainczjs opened #58 "Cannot resize QWidget anymore"
I use qdarkstylesheet to distinguish certain QMdiSubwindows from others in an QMDIArea setup. After applying the stylesheet, the widgets cannot be resized anymore. This happens with PyQt5.7 and Python 3.5 on Windows and Ubuntu 14.10

[2017-07-07 23:18] Raincode opened #59 "Selected Tab color for QTabWidget slightly misleading"
Take a look at the following picture and guess which Tab is selected in the 3 screenshots: http://i.imgur.com/CNWrggO.png

I found myself falling for the color scheme for the selected vs. unselected tabs. The darker background color is used for "selected", which I personally find to be slightly misleading, especially if you have 2 Tabs. I always feel like the lighter highlighted tab should be the

[2017-07-07 23:26] Raincode commented on #57
Hi there,

a possible solution would be to remove `margin-left: 5px;` on line 238 unter `QMenu::item`. However, I am not sure if there are situations where you need this margin for visual reasons. In that case it may become slightly more complicated. I created a new Widgets Project and added a menu item to the menu bar to test.

It's quite late now, but I may be able to submit a pull request if wa

[2017-07-10 14:20] ColinDuquesnoy commented on #58
AFAIK QMDIArea and QMDISubWindow do not support stylesheet (see _http://stackoverflow.com/questions/
4639407/how-to-customize-the-titlebar-of-a-qmdisubwindow-with-qss_)

I don't think there is anything I can do to help fixing your issue.

[2017-07-10 14:20] #58 closed

[2017-07-10 14:24] ColinDuquesnoy commented on #59
It's true to it can be confugsing. I don't have much time and intereset for the stylesheet for now (have been working a lot with QML the last months) so feel free to submit a PR with screenshots.

[2017-07-10 14:25] ColinDuquesnoy commented on #57
Fix by PR #60

[2017-07-10 14:25] #57 closed

[2017-08-08 14:20] nateshmbhat opened #61 "QMessageBox buttons width is much smaller than required"
![windowsnap](https://user-images.githubusercontent.com/23279926/29076287-b9d1aa7e-7c72-11e7-9990-39c8aead5659.PNG)

___

As shown in the above image , the size of Ok and cancel buttons are very small . can u please increase the width to the original width ?

[2017-08-13 10:17] ColinDuquesnoy commented on #61
Every button has the same padding, not just the message box one and there is no such thing as original width (remember the stylesheet is cross platform).

Sorry I won't fix that but feel free to fork the project and adapt it to your taste.

[2017-08-13 10:17] #61 closed

[2017-08-13 10:33] tdegeus opened #62 "Tooltip of QcomboBox not shown correctly"
Great work on the theme, I absolutely love it!

I found a minor issue, where the tooltip of a QcomboBox is not shown correctly. Instead of the text an empty box is shown (see screenshot). The tooltips of the other widgets work fine. Also this issue is consistent for all QcomboBoxes in my application. (I'm on Qt 5.8)

<img width="261" alt="screen shot 2017-08-13 at 12 30 00" src="https://user-image

[2017-08-13 10:37] ColinDuquesnoy commented on #62
Thank you for reporting.

My interest in the stylesheet is very low at the moment because I am moving from QtWidgets to QML. It may take some time before I get back to the stylesheet and fix the bug but if anyone find a solution I will merge a bug fix pull request.

[2017-08-13 10:42] tdegeus commented on #62
Unfortunately I have little experience with the style definitions, but if you give me some directives I can give it a try.

[2017-08-13 10:48] ColinDuquesnoy commented on #62
The qt documentation is a good start:

- http://doc.qt.io/qt-5.9/stylesheet.html
- http://doc.qt.io/qt-5/stylesheet-reference.html

The easiest way to work on the stylesheet is by using the python based examples (pyside, pyqt4 or pyqt5): https://github.com/ColinDuquesnoy/QDarkStyleSheet/tree/master/example. Feel free to modify the example.ui with qt designer (e.g. to add a tooltip to a combo box)

[2017-08-30 02:20] seghier opened #63 "change colors"
Hi; thank you for the beautiful theme
is it possible to modify the colors ?

[2017-08-31 15:13] seghier opened #64 "problem with QspinBox"
the spinbox look bad

[2017-08-31 17:19] ColinDuquesnoy commented on #63
Yes of course. Just edit style.qrc and change it to your likings

[2017-08-31 17:19] #63 closed

[2017-08-31 17:20] ColinDuquesnoy commented on #64
Hmm this is rather subjective and fall a bit short. Why do they look bad? What could be done to improve them?

 I personally think they look good.

[2017-08-31 21:25] seghier commented on #64
thanks; it doesn't look like original spinbox ; the arrows are not together (see images)
https://i.imgbox.com/dIbZWila.jpg
https://i.imgbox.com/wEAjUqjS.jpg

[2017-09-01 16:22] ColinDuquesnoy commented on #64
There is no such thing as the original because spinbox look different depending on the platform. The  look I choose to implement was based in the oxygen style from KDE (If I remember correctly).

Feel free to fork the stylesheet and adapt it to your taste.

[2017-09-01 16:22] #64 closed

[2017-09-01 22:25] seghier commented on #64
thanks for information
i used windows 10 how i can change the stylesheet ?

[2017-09-02 11:44] ColinDuquesnoy commented on #64
Edit [style.qss](https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/master/qdarkstyle/style.qss), add it to your resource file (.qrc) and load it in your application.

[2017-12-14 09:12] aitormoreno opened #66 "QTreeView anc QListView unchecked image ist not correctly defined"
There is a bug in style.qss (line 986) introduced in commit 497522cca77206bb4f77ead1bf5cc88a4280be61
It should be:
`QTreeView::indicator:unchecked, QListView::indicator:unchecked`

[2017-12-15 11:49] ColinDuquesnoy commented on #66
Thank you for reporting. May I ask you to submit a PR please?

[2017-12-17 14:36] ColinDuquesnoy commented on #66
Fix in #67

[2017-12-17 14:36] #66 closed

[2018-01-18 12:42] fkorsa opened #68 "Images license"
The embedded picture resources have no license attached. The MIT license cannot apply to them, because its terms are related to software resources only.

Could you indicate somewhere what is the license attached to these pictures?

[2018-01-18 18:42] ColinDuquesnoy commented on #68
You're right. They should be licensed under the Creative Common license. I will add a note about that in the readme and license file.

[2018-01-19 12:29] dpizetta opened #69 "Option to choose Qt API from environment variable"
Hi, I've been using QtPy and the way to choose the Qt API is great. I think you can use it in your project.

[code]
I can implement if you approve :)

[2018-01-19 14:01] fkorsa commented on #68
Alright, thanks!

Great style sheet by the way.

[2018-01-20 13:00] ColinDuquesnoy commented on #69
That sounds good. I will accept a PR that implements your suggestion.

[2018-02-02 19:33] dpizetta commented on #59
I'm working on this fix and including some more features, such as more complex examples. Take a look.

![screenshot linux 2018-02-02 17 26 25](https://user-images.githubusercontent.com/5084939/35751241-ee3e0a48-083e-11e8-83fb-4fb213032a9c.png)
![screenshot linux 2018-02-02 17 26 06](https://user-images.githubusercontent.com/5084939/35751246-f0bd39c4-083e-11e8-9876-18f95f7eafe1.png)

Soon I will cr

[2018-02-03 01:21] dpizetta opened #72 "Tabs are pushed to right causing problems with east and west modes"
See this example:

![screenshot linux 2018-02-02 23 13 46](https://user-images.githubusercontent.com/5084939/35761413-4ad7b5bc-086f-11e8-9ce3-ae243b40ad20.png)

After removing:

[code]

![screenshot linux 2018-02-02 23 14 46](https://user-images.githubusercontent.com/5084939/35761423-6328180a-086f-11e8-9fad-fb236081d1ee.png)

[2018-02-03 11:35] #59 closed

[2018-02-03 11:35] #72 closed

[2018-02-03 11:35] #69 closed

[2018-02-05 13:58] dpizetta commented on #68
I can change it. I recommend CC-BY.
[Licenses](https://creativecommons.org/licenses/)

I was thinking of keeping the licenses information just in one file (COPYING -> LICENSE.md (MIT+CC)) and remove the terms from other files to keep easy to update dates.

Are you ok with it @ColinDuquesnoy ?

[2018-02-05 17:50] ColinDuquesnoy commented on #68
@dpizetta Yes, I am ok with it. 👍  I think this exactly how I'd have done it.

[2018-02-06 01:53] dpizetta commented on #68
Closed with [this](https://github.com/ColinDuquesnoy/QDarkStyleSheet/commit/306849df3e2fcdfcad3c631e553af5f791513723) commit.

[2018-02-06 01:53] #68 closed

[2018-02-06 14:30] dpizetta opened #74 "Update travis file"
Broken after commit SHA 4006220679bc0e1e807b6c45c7c0b0237afdfba4.
Update example calls.

[2018-02-06 19:57] #62 closed

[2018-02-07 16:56] dpizetta opened #75 "It should exist so many colors in style palette?"
Hi, I've changed some things and I see that (using CSS color extractor) that there are many colors in the stylesheet and some almost identical. Can we simplify this pallet? (Ex. #454545, #3A3939, #393838 for me is practically the same).

![screenshot linux 2018-02-07 14 39 44](https://user-images.githubusercontent.com/5084939/35929215-21c5e54a-0c16-11e8-9d37-5755cb734c6f.png)

My idea, in the futu

[2018-02-07 17:42] ColinDuquesnoy commented on #75
I all for simplification, go!

That sounds good. Just make sure to not forget C++ users if you implement this (a header only solution where users can just copy the header to their application sounds reasonable).

[2018-02-07 17:43] ColinDuquesnoy commented on #74
Are you aware build still fails on travis?

[2018-02-07 17:56] dpizetta commented on #74
Yep, I forgot to reopen.

I'm trying to solve this, one of the problems (import), my editor changed the place where its called, so before including into PATH.

The other one, there is no system_packages for python dist that does not default in Linux. I'm trying to change to pip install, but it is not too simple for qt-things :(

I'll push a patch, for now, solving the first one and using default d

[2018-02-07 18:58] #74 closed

[2018-02-07 19:22] dpizetta opened #76 "Fix travis test example for travis"

[2018-02-07 19:23] dpizetta opened #77 "Change install instruction to pip, or use requirements"
See #74  for discussion

[2018-02-07 19:26] dpizetta opened #78 "Add tests for qdarkstyle functions - accert and fail"
Create tests to simplify our work to keep stable.

[2018-02-07 19:31] dpizetta opened #79 "Simplify color palette"
Simplify color palette to makes easy to maintain and allow us to easily change for the new project.

See discussion #75.

[2018-02-07 19:33] dpizetta opened #80 "Create a palette extractor for qdarkstyle from qss file"
Simply read the file using regular expression search for HEX values.

[2018-02-16 15:07] ok97465 opened #81 "Are you planning to support pyside2?"
Are you planning to support pyside2?

[2018-02-16 15:09] #81 closed

[2018-02-16 17:58] ColinDuquesnoy commented on #81
@ok97465 Why did you close this issue?

I don't plan to add pyside2 support but @dpizetta might. @dpizetta Do you have such plans?

[2018-02-16 18:07] dpizetta commented on #81
@ok97465, if this not requires a big reworking, yes, but is not my priority now. I think that it would be easy because PySide2 is based on Qt5. In addition, PySide2 is not stable yet. I'm working on those [projects](https://github.com/ColinDuquesnoy/QDarkStyleSheet/projects) now :) I tag this as a wishlist item.

[2018-02-20 19:47] dpizetta opened #82 "Create a test case with GUI to test bugfixes and keep the code working"
Basically, in the test folder, provide the main window (and the application) to developer use to create small tests of the interface that must be graphical.

This would be better to not reopen an old issue after changes.

The process should be like this:
* Import from that file the main window
* Insert a problematic widget to be tested
* The test run this app
* You see and confirm (or not), the pr

[2018-02-20 19:50] dpizetta opened #83 "Create a script that runs anything you need to modify ui and qss files"
A looping script that process qrc file, ui file and then open the application to be seen.

For developers :)

[2018-02-21 20:31] #83 closed

[2018-03-03 03:23] hippylover opened #84 "Does this support pyside2?"
Thank you.

[2018-03-06 18:53] Bururik opened #85 "[Linux] FileDialog Icons are miniature (look like dots)"
When using QFileDialog in either Ubuntu 16.04 (unity) or CentOS7 (gnome) the dialog's icons look like dots. This appears to be similar to issue #51, although I'm not having much luck with the "fix" provided, and the dialog's icons in Windows 10 appear to be fine.

![screenshot from 2018-03-06 12-37-40](https://user-images.githubusercontent.com/22623136/37051479-29b89730-213c-11e8-970c-a0b8a68e281e

[2018-03-06 19:47] dpizetta commented on #85
I will take a look, tks. Can you send us a piece of code where it occurs that I can use to test here (just a dialog)? I have Ubuntu 16.04, but with both Gnome and Unity. Tks

[2018-03-06 21:09] Bururik commented on #85
wow, hang on....I think I may have just found my own fix, it looks as though I had a problem with inheritance of QTableWidget and QMainWindow (I've been spending days on this problem).

for the code that breaks it (darkstyleBreak.py):
https://gist.github.com/Bururik/f2d79b9e8c8860bf0040878f94c358ee#file-darkstylebreak-py

for the code that "fixes" it (darkstyleFix.py)
https://gist.github.com/Burur

[2018-03-07 13:20] dpizetta commented on #85
Hi, both codes work here in Ubuntu 16.04 Gnome, I've just commented line 56 `self.setItem(row, column, item)`, because shows an error that 'self' does not have this method. Btw, Both worked.

For me, the second code (your fix) seems to be more logical with the open dialog in the main window.

In the past, I have some problems with dialogs, try to use this option [QFileDialog::DontUseNativeDialog](

[2018-03-08 12:32] thestr4ng3r opened #86 "Remove dashed border for QSplitter::handle and QMainWindow::separator"
This is obviously a question of taste. However I think the dashed borders here look kind of ugly:
![bildschirmfoto vom 2018-03-08 13-15-49](https://user-images.githubusercontent.com/1460997/37151155-a983cd88-22d4-11e8-967a-f0ab5c0293be.png)
Especially with a lot of UI elements, it just makes everything look kind of cluttered.
I have just pushed a small change to our project which includes the them

[2018-03-08 12:52] dpizetta commented on #86
Hi, I agreed. I'm working on a new version with a lot of changes, including simplifying the palette, as mentioned in [projects](https://github.com/ColinDuquesnoy/QDarkStyleSheet/projects). This is a preview of it (but not the final aspect). I ask you to wait for the next version and/or use your change until that. After that, if you have another concern we can discuss later. Thank you for your opti

[2018-03-08 12:52] #86 closed

[2018-03-08 12:54] dpizetta commented on #84
See  #81.

[2018-03-08 12:54] #84 closed

[2018-03-08 12:57] thestr4ng3r commented on #86
Nice, thanks for the info!

[2018-03-18 22:24] CaptainKraft opened #88 "TreeView Dropdown Arrow not Visible"
The arrow next to an item with children is not visible. It's probably the same color as the background.

[2018-03-22 18:22] dpizetta commented on #88
Hi, thanks for reporting this. I'll check and should be included in the next release.

[2018-03-22 21:42] CaptainKraft commented on #88
It turns out, the missing arrow was because I didn't have the path to the image files set correctly. I'm no longer using QMake and Qt-related build tools, so setting the path to these images has been a pain.

I'm not sure how to write the qss so that it finds the correct relative path. Right now, I use an absolute path.

[2018-03-26 20:02] dpizetta commented on #88
Ok, so I'll mark this as won't fix then close. If you have any other issues, please let us know

[2018-03-26 20:02] #88 closed

[2018-03-30 20:02] flutefreak7 opened #89 "Why automatic loading from PySide?"
I was getting crashes in a pyinstaller deployed application because I was calling `load_stylesheet()` and didn't realize that `pyside=True` is the default.  Since PySide wasn't bundled in my application the import error would crash it.

If the qt_api isn't specified in the import could a pyside import error perhaps be caught?  I think this is how qt shims like anyqt or qt.py or pyqtgraph's qt_comp

[2018-04-02 13:26] dpizetta commented on #89
Hi, I agreed. I'm working on a new version that includes a new way to import Qt things. Instead of using 'import' I would like to use importlib from Python.
Maybe the default situation is getting the available Qt binding if there is only one installed. Those changes are planned to be implemented in version 3. We can show a DeprecationWarning for that change of not assuming pyside=True. I will expl

[2018-04-02 14:15] p166whc opened #90 "It doesnt work in my Spyder IDE"
After Installation
What should I do afterward?
Is it support the latest version of Spyder?

[2018-04-02 15:35] ColinDuquesnoy commented on #89
@dpizetta  instead of reinventing the wheel, I'd suggest to use and to depends on an existing solution (e.g. [QtPy](https://github.com/spyder-ide/qtpy)  or any other one that you might know of). What do you think?

[2018-04-02 15:42] dpizetta commented on #89
If you are ok with introducing a dependence, for me is even better. The idea of doing direct imports is to not depend on any other package, e.g. QtPy. If the idea of QtPy is ok, it is basically already implemented, we need simply remove the other ones. Depending on QtPy for me is not a problem. :)

[2018-04-02 15:54] dpizetta commented on #90
Hi, QDarkStyle is supposed to work with it, but as mentioned [**here**](https://github.com/spyder-ide/spyder/issues/2350), there are some widgets that are specialized, in the future should work with changes in Spyder. In the link, there are some other options. I would like to use QDarkStyle too, but some widgets and icons (from Spyder) are note prepared, see my test below.
![screenshot linux 2018-

[2018-04-02 17:33] ColinDuquesnoy commented on #89
It's not a problem. I wrote QDarkStylesheet way before solutions like QtPy existed. If it simplifies our code then it's a good thing and we should use it.

[2018-04-16 01:57] jhammer2008 opened #91 "Clarification on C++ Instructions"
I'm using this theme for a small hobby project. The C++ instructions work fine, but the second bullet point in the README could be a little more specific:

I had to look up exactly what that meant, and it would probably be helpful to others if the actual modifications were listed. E.g.: "Add the following line to your .pro file":

    RESOURCES += \
        qdarkstyle/style.qrc`

Just a suggestion

[2018-04-17 18:00] #91 closed

[2018-04-17 18:04] #90 closed

[2018-04-20 18:54] dpizetta commented on #85
Closing for now, if necessary, reopen.

[2018-04-20 18:54] #85 closed

[2018-04-23 15:05] KcHNST opened #92 "Missing style of QStandardItem built-in checkbox"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: 2.5.3
- OS: Win 7
- Python: 3.6.5
- PyQt: 5.10.1

### Language

Python

### Description / Steps to Reproduce

The built-in checkbox of QStandardItem does not used the styled checkbox whenever the check state is Qt::PartiallyChecked.

### Actual Result

The problem checkbox shown among correctly styled checkboxes:

![qst

[2018-04-23 16:48] ColinDuquesnoy commented on #92
Unfortunately, not everything can be customized using a stylesheet. You need to implement a custom delegate to customize items in a view: http://doc.qt.io/qt-4.8/qabstractitemdelegate.

@dpizetta Unless you know a workaround, I'd close this issue as won't fix (as in #52 ).

[2018-04-24 13:48] KcHNST commented on #92
Closed due to not being customized using a stylesheet.

[2018-04-26 17:39] sawt00th opened #93 "QGroupBox has not image for check/unchek state."
### Environment

- QDarkStyle: 2.5.3
- OS: Windows 10/ 7
- Qt version: Qt 5.10
- Language: C++

### Description

QGroupBox widget not has indicator style, when he usage as "checkable".
Actual Result:
![groupbox_bug](https://user-images.githubusercontent.com/14891592/39321990-2d2da90a-4991-11e8-9b86-86fb1145761d.png)
I'w get pull request for fix that problem

[2018-04-26 17:47] ColinDuquesnoy commented on #92
Reopening because I forget @aitormoreno actually found a solution in #67. I think he just forget the Indeterminate state. We should fix it.

[2018-04-26 17:48] ColinDuquesnoy commented on #52
Fixed in PR #67

[2018-04-26 21:11] dpizetta commented on #92
I will check this as soon as possible, thanks

[2018-04-27 12:11] KcHNST commented on #92
Something like this?

Idle:
[code]
Focus:
[code]

[2018-04-27 15:41] dpizetta commented on #93
Closed by #94

[2018-04-27 15:41] #93 closed

[2018-05-04 07:58] powermanwxy opened #95 "Fixed: Could not parse application stylesheet"
Hi there,

When I try to use the lastest version of this style sheet, the Qt gives me a warning of "**Could not parse application stylesheet**".

I find it's relvant with a commit 7days ago(91231c98930eebe6488d6a85b0c3556ddf6e3575), the author write the comma to a wrong position in file "style.qss" line 65 and 66.

It should be:
 `QCheckBox::indicator:checked,`
` QGroupBox::indicator:checked {

[2018-05-04 12:43] dpizetta commented on #92
Hi @KcHNST , could you add a PR for this? I think it is correct. Try to check if it works in your app. Tks again!

[2018-05-04 12:53] dpizetta commented on #89
Closing due 98d4632ca1570b8497d7452b5ceec53a0572f8b9, in new version 3.0.

[2018-05-04 12:53] #89 closed

[2018-05-04 12:57] #95 closed

[2018-05-08 12:15] #92 closed

[2018-05-15 20:11] dpizetta opened #99 "Creating install for C++ version"
Providing setup files for popular c++ build systems (qmake, qbs, cmake...) that build a shared/static library with the stylesheet resource and a helper class that helps loading the stylesheet.

I set it to the milestone of version >= 3 that is in the branch dev.  This is just to get it tracked.

Discussion in PR #98 .

[2018-06-20 12:19] fredrikaverpil commented on #81
PySide2 is about to get stable. This is their [technical preview](http://blog.qt.io/blog/2018/06/13/qt-python-5-11-released/): http://download.qt.io/official_releases/QtForPython/pyside2/

[2018-06-20 13:43] dpizetta commented on #81
Wow, it is nice to ear that! Unfortunately, they were not able to join to PyPI yet. I've been testing in version 3 - branch dev, and it is working. Soon I will push a stable version of QDarkStyle v.3 :)

[2018-06-20 13:48] fredrikaverpil commented on #81
Yes, hopefully that will sort itself out. But you managed to install it, right? You can use pip or pipenv.

That's absolutely awesome news, I'll give it a spin.

[2018-06-20 13:52] fredrikaverpil commented on #81
I just installed it and it seems to play nice with PySide2.

[code]

[2018-06-20 13:58] dpizetta commented on #81
I've been using dev version until now:
- pip install --index-url=http://download.qt.io/snapshots/ci/pyside/5.9/latest/ pyside2 --trusted-host download.qt.io
- pip install --index-url=http://download.qt.io/snapshots/ci/pyside/5.11/latest/ pyside2 --trusted-host download.qt.io
Now I can check stable version too. :)

This is music to my ears :) Soon it will be more nice changes, making qdarkstyle mor

[2018-07-30 06:43] flutefreak7 opened #101 "Progress Bar fill doesn't have rounded corners"
As seen in the current example here: https://raw.githubusercontent.com/ColinDuquesnoy/QDarkStyleSheet/master/screenshots/qdarkstyle_containers_tabs_displays.png

The progress bar "fill" is a simple rectangle with no corner rounding causing its corners to overlap the corner rounding of the empty progressbar widget.

[2018-07-30 16:48] gusmd opened #102 "QMenu indicator on QPushButton is cropped"
# Environment:

- QDarkStyle: Latest master (cc761f7)
- OS: Windows 10
- Qt 5.11.1
- MSVC 2017 (C++)

# Issue

When setting a `QMenu` in a `QPushButton` using `QPushButton::setMenu(QMenu *menu)`, the down-arrow indicator is not well positioned and is cropped by the button boundaries. See picture below for QDarkStyleSheet vs. default Windows 10 style.

![qdarkstylesheet_menu](https://user-images.gi

[2018-08-06 15:04] bakerbrown opened #103 "QLineEdit"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: Dev
- OS: Windows 7
- Python: 3.6

[If used, please inform their versions]

- PySide2: 5.11.1
- PyQt: 5.11.2
- PyQtGraph:
- QtPy:
- QT_API:
- PYQTGRAPH_QT_LIB:

### Language

Python

### Actual Result

When using a standard Qt designer QLineEdit from the palette. See picture below for QDarkStyleSheet vs. default Windows

[2018-08-13 20:51] flutefreak7 commented on #103
Huh, I had this same issue and I worked around it by adding 2 pixels to all my QLineEdit heights since that's the amount the boxes are corner rounded with this theme.  You'd think the corner round wouldn't cause clipping, though, so I hope this gets resolved.

[2018-08-18 09:53] ColinDuquesnoy commented on #101
Thank you for reporting the issue. I and @dpizetta are very busy with personal stuffs at the moment so it may take a bit of time before this issue get fixed. Feel free to submit a PR if you find a fix :wink:

[2018-08-18 09:54] ColinDuquesnoy commented on #102
Thank you for reporting the issue. I and @dpizetta are very busy with personal stuffs at the moment so it may take a bit of time before this issue get fixed. Feel free to submit a PR if you find a fix :wink:

[2018-08-18 09:54] ColinDuquesnoy commented on #103
Thank you for reporting the issue. I and @dpizetta are very busy with personal stuffs at the moment so it may take a bit of time before this issue get fixed. Feel free to submit a PR if you find a fix :wink:

[2018-08-23 16:06] gusmd commented on #102
No problem. I appreciate the work you guys have done! I'll see if I can figure this one out :)

[2018-08-29 00:29] RustyPedrosa opened #106 "Text cut off (looks like margins?) when push button is disabled"
Hi guys,

I'm new to Qt and python, so please accept my apologies if this is a mistake on my end.  I love the work you've done with this stylesheet, but I'm seeing this minor issue.

### Describe Your Environment
Tried in two environments:
- QDarkStyle: 2.5.4
- OS: WIndows 10
- Python: 3.6.6
- PyQt: 5.11.2

Also tried with Ubuntu 18.04 on Windows Subsystem for Linux running Xming 6.9.0.31
- QDarkS

[2018-09-14 10:59] tobkum opened #107 "Using a different abstraction layer, includes Qt.py"
Not really an issue, but probably stupidity on my part - how do I use qdarkstyle when using Qt.py (https://github.com/mottosso/Qt.py) as a wrapper for Qt?
I migrated my project to Qt.py to be more flexible, but am having a hard time with getting the style back.
Thanks!

[2018-09-14 13:06] dpizetta commented on #107
Hi @tobkum, it should be possible to use.

**Using QdarkStyle v3.0**
Actually, if you don't matter to add QtPy (not Qt.py) dependence (QDarkStyle v3.0), the style that you get is dependent on it. Both are not bindings, they are abstraction layers if I'm correct, so if you set both (qtpy and Qt.py) to the same binding, e.g., PyQt5, you can use the returned style to set your app. After you import, f

[2018-09-14 18:08] tobkum commented on #107
@dpizetta Thanks so much for the suggestions! I'll try it over the weekend and report back :)

[2018-09-21 08:08] tobkum commented on #107
I'd like to create a new option for compatibility with Qt.py and submit a PR - is the current head the v3.0 you're talking about or does that reside in an extra repository?

[2018-09-25 12:28] #102 closed

[2018-09-25 12:32] dpizetta commented on #106
Hi, it looks like that margin or padding is different when the button is up and down. Are you able to try to fix it and make a PR? Both of us are busy :)

[2018-09-25 12:35] dpizetta commented on #107
Hum, I think it would be nice to have one more abstraction layer possible, what is your option @ColinDuquesnoy ? The v2 we are just providing bugfixes. New stuff in v3. Tks

[2018-10-07 13:37] kleinpoe opened #109 "ComboBox with small width"
I use it in QtCreator 4.7.1 using Qt 5.11 and if I create a comboBox with small width (e.g. 50px) it gets automatically extended to some width (around 100 px). Why is it not possible to have such narrow comboBoxes?
Thanks for the work!

[2018-10-07 13:38] kleinpoe commented on #109
ok the min-width attribute is set: is there are reason for this?

[2018-10-08 12:00] ColinDuquesnoy commented on #107
I don't think we need to support more shim. It should not matter to client code which shim we're using as long as we clearly documents how the qt binding will be selected (e.g. set the QT_API environment variable). Client code is free to use whatever shim they want as long as they select the same qt binding. Most shim support selection via the QT_API environment variable, so setting it once should

[2018-10-08 19:25] dpizetta commented on #107
So, @tobkum adding [my arguments](https://github.com/ColinDuquesnoy/QDarkStyleSheet/issues/107#issuecomment-421352353) and the @ColinDuquesnoy arguments, it is better we provide theQdarkStyle with QtPy, and since you set both Qt.py and QtPy, your app will run perfectly. Closing this issue. Thank you for your suggestion. We will add some advice for this configuration in the future.

[2018-10-08 19:25] #107 closed

[2018-10-08 19:27] dpizetta opened #110 "Add instructions when using both Qt.py and QtPy"
Add instruction in README for this configuration.

[2018-10-13 22:15] CAM-Gerlach opened #111 "Text cut off and background color not full width when using comboboxes with a BG color"
### Describe Your Environment

- QDarkStyle: 2.5.4
- OS: Windows 8.1 x64
- Python: 3.6.6 x64

- PyQt: 5.9.2
- Qt: 5.9.6
- QtPy: 1.4.2
- QT_API: ?

### Language

Python (Anaconda)

### Description / Steps to Reproduce

We are in the process of implementing a dark theme using ``QDarkStyle`` in the Spyder IDE as tracked by spyder-ide/spyder#8068 , and in the course of reviewing the initial implement

[2018-10-13 22:32] CAM-Gerlach opened #112 "Extremely difficult to read "disabled"/"grayed-out" text and embedded hyperlinks due to low contrast"
### Describe Your Environment

- QDarkStyle: 2.5.4
- OS: Windows 8.1 x64
- Python: 3.6.6 x64

- PyQt: 5.9.2
- Qt: 5.9.6
- QtPy: 1.4.2
- QT_API: ?

### Language

Python (Anaconda)

### Description / Steps to Reproduce

We are in the process of implementing a dark theme using ``QDarkStyle`` in the Spyder IDE as tracked by spyder-ide/spyder#8068 , and in the course of reviewing the initial implement

[2018-10-23 21:41] dpizetta commented on #112
Hi, I will take care of this. I am preparing a more simple and better palette. I hope this week I would finish!

[2018-10-23 21:44] CAM-Gerlach commented on #112
@dpizetta Fantastic, thanks so much!

[2018-10-23 21:46] dpizetta commented on #111
Taking care of this also this week! Tks

[2018-10-25 03:57] dpizetta commented on #112
I think I cannot fix the hyperlinks. As they use RichText it seems that the application CSS does not have access to it. If you check the text created with rich text it already has "a {color:blue;}; inside.

- https://bugreports.qt.io/browse/QTBUG-34114
- https://stackoverflow.com/questions/13416183/qt-stylesheet-how-to-set-color-of-qpalettelink-and-qplattelinkvisited
- https://stackoverflow.com/qu

[2018-10-25 03:59] flutefreak7 commented on #112
I was doing workarounds to deal with the disabled text, so I'm very grateful for this fix as well!

[2018-10-25 04:06] CAM-Gerlach commented on #112
Thanks @dpizetta , sounds good! @dalthviz take note.

[2018-10-25 04:38] dpizetta commented on #111
This seems to be something in Windows. I need to check because I cannot reproduce it on Linux. Take a look. And the #103 it is also Windows.

Could you check something for me? Run the example from QDarkStyle on windows and send me the screenshot. By now I do not have windows. Tks

![screenshot linux 2018-10-25 01 26 23](https://user-images.githubusercontent.com/5084939/47476239-d5479e00-d7f5-11e8-

[2018-10-25 04:39] #109 closed

[2018-10-25 04:40] #110 closed

[2018-10-25 04:42] dpizetta commented on #101
It should be solved  with the new style :)

[2018-10-25 04:42] #101 closed

[2018-10-25 04:49] dpizetta commented on #79
Palette simplified: Now nine colors.

This is the main stylesheet, the palette has nine main colors.
It is based on three selecting colors, three greyish (background) colors
plus three whitish (foreground) colors. Each set of widgets with the same
type has a header like this:

[code]

And each widget is separated with a header like this:

[code]

This makes more easy to find and change some CSS fi

[2018-10-25 04:49] #79 closed

[2018-10-25 04:49] dpizetta opened #113 "Update screenshoots"
Update using new style :)

[2018-10-25 04:50] dpizetta commented on #75
Close with #79

[2018-10-25 04:50] #75 closed

[2018-10-25 04:58] dpizetta commented on #111
It may relate to #106 too.

[2018-10-25 19:59] dpizetta commented on #111
My friend tested on windows, with the new version we cannot reproduce the problem.

![xtela02](https://user-images.githubusercontent.com/5084939/47526811-43807500-d877-11e8-921b-1e70f64836ee.png)

Reduced size

![xtela05](https://user-images.githubusercontent.com/5084939/47526815-454a3880-d877-11e8-9cba-26cbd793b30d.png)

[2018-10-25 23:42] CAM-Gerlach commented on #111
@dpizetta Sorry for the delay; I was busy with another project and then my friend's apartment got burned to the ground.

Here's the example checked out on Windows 8.1 x64 and Python 3.6.6 running in the same Anaconda environment as Spyder, with the 2.5.4 release commit (the version used previously with Spyder):

![image](https://user-images.githubusercontent.com/17051931/47535161-f785fe00-d87f-11e

[2018-10-27 02:53] dpizetta commented on #112
Closing for now :)

[2018-10-27 02:53] #112 closed

[2018-10-27 02:54] CAM-Gerlach commented on #112
Thanks @dpizetta !

[2018-10-27 03:01] dpizetta commented on #111
It seems to be solved!!!! :) I was the problem with padding of LineEdit, in other applications (only not our test window) it seems it inherits some padding in the lineEdit. I've tested on Spyder and it worked.

![screenshot linux 2018-10-26 23 57 51](https://user-images.githubusercontent.com/5084939/47598996-61cf9900-d97b-11e8-8dc4-61959c856b21.png)

[2018-10-27 03:01] #111 closed

[2018-10-27 03:02] CAM-Gerlach commented on #111
Great! Thanks so much @dpizetta !

[2018-10-27 03:08] dpizetta commented on #103
I think now it is resolved. Any problem, please reopen this issue. Tks for reporting.

[2018-10-27 03:08] #103 closed

[2018-10-27 03:09] dpizetta commented on #106
I think now it is resolved. Tks for reporting. I could not reproduce your issue in the example, even changing the size. If not revolved with the new version, please reopen this issue.

[2018-10-27 03:09] #106 closed

[2018-10-27 03:21] dpizetta opened #114 "Improve command line interface including example"
Some options to include, some already have:

example (present just dark)
example --no-dark (present only no dark)
example --each (present each one, dark and no dark, interleaved)
example --both (present both, dark and no dark, open two windows)
example --recompile (recompile all, example ui and qdarkstyle rc files)
example --loop (when closed, proceed everything configured again, nice when develop

[2018-10-27 16:15] ccordoba12 commented on #112
@dpizetta, when do you plan to release a new version of QDarkStyle? I say it because we'd like to use it along with our next Spyder 4 beta.

[2018-10-28 02:29] dpizetta commented on #112
Hi @ccordoba12 , @CAM-Gerlach , the new release is planned to be tomorrow. This new style has improved some spacing in Spyder also. I think the most annoying issue is that the buttons on tabs - superior part, they use tool buttons, that seems strange. I will try to improve the tool button in the next release, I've already tried by it is not so easy as I thought. There is a new icon package for the

[2018-10-28 17:52] #113 closed

[2018-10-31 06:13] sindney opened #115 "Missing style for QTabWidget's scroll buttons"
![qtabwidget](https://user-images.githubusercontent.com/1331120/47769455-f25cff00-dd16-11e8-8972-e280ff7e83c8.png)
[code]
to enable scroll bar when there's many tabs.
http://doc.qt.io/qt-5/qtabwidget.html#usesScrollButtons-prop

[2018-10-31 12:17] dpizetta commented on #115
Hi, @sindney what is the version of qdarkstyle you are using? Did this happen in the previous versions?

Tks

[2018-10-31 12:35] qingchunlizhi opened #116 "TypeError: 'NoneType' object is not iterable"
/home/duan/anaconda3/envs/venv/lib/python2.7/site-packages/qdarkstyle/init.py:181: FutureWarning: load_stylesheet() will not receive pyside parameter in version 3. Set QtPy environment variable to specify the Qt binding insteady.
FutureWarning
Traceback (most recent call last):
File "/home/duan/pix2vox/ui/gui_main.py", line 115, in
slider.valueChanged.connect(lambda value, j=int(index): self.opt_e

[2018-10-31 12:51] dpizetta commented on #116
Hi @qingchunlizhi, this warning is normal to appear when executing debug or turn on warnings.

[code]

The bottom error is probably in your application. Try it without using qdarkstyle. Your self.constraints is None, and it should be [None, None] if necessary because you need a return list color_old, edge_old.

Closing.

[2018-10-31 12:51] #116 closed

[2018-11-01 01:15] sindney commented on #115
![spliter](https://user-images.githubusercontent.com/1331120/47826971-22a7aa80-ddb6-11e8-9b30-16447382a769.png)
Right, it's fixed in the newest version, but i found that the new spliter widget seems incorrect.
it's like been focused when there's no focus at all, i guess it's flipped with it's normal state?

[2018-11-01 01:20] sindney commented on #115
Line 1756 of style.qss
the default handle border color is lightblue
[code]
is this a mistake or it's just designed to color like that?

[2018-11-01 17:48] dpizetta commented on #115
Although its blue (from the older version), the sizes restrictions should not permit to show the border.  You can see in the up to date [screenshot](https://github.com/ColinDuquesnoy/QDarkStyleSheet). When you hover the splitter it should just brighten the grey color. I will improve this part of the code soon. Tks

[2018-11-01 19:38] #115 closed

[2018-11-01 19:44] flutefreak7 commented on #115
Yeah in most places I use dock widgets, but in a few places I use a
splitter and the blue style on the splitter is very bright (maybe
distracting?) compared to the subtle gray grip between dockwidgets.

I'm fine with the style/color being whatever the community wants because
everyone has different styles, but I'd argue that it must be consistent
across similar widgets.

Sounds like you're on it, w

[2018-11-01 19:51] dpizetta commented on #115
Since there is no splitter in our example, not a manually one, just separators I've unnoticed. I've just released a new version. Can you check it? I think it is solved, it should be equal to the windows splitter, if any problems, reopen here. Tks

[2018-11-02 03:12] sindney commented on #115
Tested, fix confirmed, thanks.

[2018-11-05 11:59] nickdademo opened #117 "QToolTip style is not applied to QCheckBox or QToolButton widgets"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: 2.6.1
- OS: Windows 10 64-bit
- Python: N/A

[If used, please inform their versions]

- PySide: N/A
- PyQt: N/A
- PyQtGraph: N/A
- QtPy: N/A
- QT_API: 5.13 (dev branch)
- PYQTGRAPH_QT_LIB: N/A

### Language

C++

### Description / Steps to Reproduce [if necessary]

[Description of the issue]

Basically, the QToolTip sty

[2018-11-05 20:07] dpizetta commented on #117
Hi @nickdademo, I've checked on our example that comes with qdarkstyle for python and it worked properly. See below. A problem with CSS is that as they are cascading, it could inherit strange configurations. I'll check more configs during this week.

![2018-11-05 17 58 17](https://user-images.githubusercontent.com/5084939/48023282-7868b380-e124-11e8-8c70-062b80ea7a6e.jpg)
![2018-11-05 17 41 21](ht

[2018-11-06 18:01] dpizetta commented on #117
@nickdademo could you try to use this code inside our style.qss ? And let us know if it worked? Tks

/* QStatusBar ------------------------------------------------------------- */
QStatusBar {
    border: 1px solid #31363B;
}

QStatusBar QToolTip {
    background-color: #179AE0;
    border: 1px solid #232629;
    color: #232629;
    padding: 0;   /*remove padding, for fix combo box tooltip*/
    o

[2018-11-07 00:14] dpizetta commented on #117
Wow! No,  it worked perfectly.  :/  Searching more...

[2018-11-08 04:08] CAM-Gerlach opened #118 "Tabs have low contrast with each other and their associated pane, and the close button is much too small"
### Describe Your Environment

- QDarkStyle: 2.6.1 (``pip``)
- OS: Win 8.1 x64
- Python: 3.6.6

- PyQt: 5.9.2
- QtPy: 1.5.1
- Qt: 5.9.6

### Language

Python

### Description / Steps to Reproduce [if necessary]

These issues are with regard to QDarkStyle as used in the development versions of Spyder 4; I was assured by @ccordoba12 that these issues are due to QDarkStyle rather than something in Sp

[2018-11-08 04:12] CAM-Gerlach commented on #118
Part of #8068 . Thanks so much for your help so far; Spyder's looking much better already because of it!

[2018-11-08 05:54] CAM-Gerlach commented on #118
That's amazing! What do you do with NASA? At what Center? Oh and most importantly...will Pegasus/ICON ever launch hehe?

That's so cool, so many connections! Our department's actually based at the NSSTC on campus, which is a NASA facility and most of my colleges work there on NASA GRAs (the grants I have right now were pulled from a separate pool of NASA-NOAA money for GOES-R, although I'm going t

[2018-11-08 06:02] flutefreak7 commented on #118
So awesome! I'm still in Huntsville at MSFC. I run across NSSTC folks in training classes sometimes. I do solid propulsion performance analysis. Part of my job is supporting Launch Services Program, so I know several folks who were on console for the ICON cancellation and missed some meetings today because of the late night.

You PhD types have a touch of crazy! I was definitely ready to start wor

[2018-11-08 17:13] #118 closed

[2018-11-08 17:14] dpizetta commented on #118
The version 2.6.2, not released in PyPI yet should address this issue. Can you check? Tks

[2018-11-08 19:12] dpizetta commented on #118
![screenshot linux 2018-11-08 15 22 17](https://user-images.githubusercontent.com/5084939/48221511-751a3580-e379-11e8-81d8-a155a00ded29.png)

[2018-11-08 20:01] CAM-Gerlach commented on #118
@dpizetta Thanks! That's definitely better in my testing, but perhaps not quite all the way there. The button graphic is still a tad small for me, while the actual clickable area is substantially larger; my mouse was approximately where the red arrow is drawn in the screenshot and the button is still activated. So, as there's no real benefit to having the button smaller than its "hitbox", it seems

[2018-11-08 20:06] CAM-Gerlach commented on #118
@flutefreak7 Amazing stuff! It would certainly be really cool to connect sometime, and my roommate also would be really thrilled to talk to you since that's something like what he wants to do. Don't hesitate to email me at the email on my Github profile (CAM.Gerlach@Gerlach.CAM). And next time I go down to watch an RTLS launch down at the Cape, I can definitely save you a spot on the boat (though

[2018-11-09 17:36] dpizetta commented on #118
Hi @CAM-Gerlach, tks. CAn you try this another one, it should be better. About the hitbox, I need to change the size of the icon, because I cannot control via width/height parameters for the close button. So I've put a padding. I changed to the border and reduced the size, the hitbox is small, but not the best yet. This will be done in the future. I've changed the palette, for better contrast.

![

[2018-11-09 19:41] dpizetta commented on #118
Tks :) Thank you for your work there!

[2018-11-10 13:09] reneeotten opened #119 "qdarkstyle console_script failure because example dir not included on PyPI"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: 2.6.1
- OS: macOS, installed through MacPorts (while attempting to upgrade the port)
- Python: 2.7, 3.7 (tested both, but issue is independent of version)

### Language

Python

### Description / Steps to Reproduce [if necessary]
Attempting to use the console_script ```qdarkstyle``` fails with an ```ImportError``` (see

[2018-11-11 10:43] ericyan71 opened #120 "could you please give a button like this"
hello, I'm learning pyqt5 now, and I found this awesome dark-style, I very like this style, thanks!

now, I want to make a button or other control, it looks like the picture below:

![eric20181111183952](https://user-images.githubusercontent.com/22901866/48311877-456d6680-e5e1-11e8-969f-4e4e1875f22c.png)

it looks that there are two borders, the outer is deep dark, and the inner is some lighter, I

[2018-11-12 16:40] dpizetta commented on #120
Hi @ericyan71, thanks!
About the button, we cannot provide that because qdarkstyle is already a style in a flat mode with a rounded border. In version 3 we will have some other types, where we can change the color palette, or the borders for example. However, such a modification using gradients it is too far for us.

If help, you can see some examples here:

https://www.tardigrada.co/blog/2010/09/

[2018-11-12 16:40] #120 closed

[2018-11-12 16:51] dpizetta commented on #119
This is the best approach, but I will change it in the version three the structure. Version 2.6.3 I've fixed. removing some unnecessary imports, but at this moment the example cannot be executed from the PyPI version. Are you planning to use the example?

[2018-11-12 21:05] reneeotten commented on #119
I personally use it because it's a dependency of spyder, so I don't really need to use the examples. Nevertheless, ideally when you install it (either with pip, MacPorts or any aother package manager)  all pieces should work, which isn't the case right now. That's why I reported it here. I don't really see what's fixed in version 2.6.3 - if you released a new version to PyPI anyway, why not includ

[2018-11-13 14:28] christian-kardach opened #121 "global name 'ModuleNotFoundError' is not defined"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: 2.6.3
- OS:Win
- Python: 2.7

[If used, please inform their versions]

- PySide:
- PyQt:
- PyQtGraph:
- QtPy:
- QT_API:
- PYQTGRAPH_QT_LIB:

### Language

[Python]

### Actual Result

site-packages\qdarkstyle\__init__.py line 228: global name 'ModuleNotFoundError' is not defined #

### Relevant Code [if necessary]

Chan

[2018-11-14 14:06] dpizetta commented on #119
The problem is that example folder is not a python package now. If I include in the MANIFEST it will not run and you cannot call the example itself from the command line. So I removed the example call from the __main__, then no importing error is issued. In version 3 we will try to include the example inside the package, so the command line will work fine and the files will be in the right place,

[2018-11-14 14:09] #121 closed

[2018-11-16 20:01] sborho opened #122 "Please add a stylesheet for QScintilla"
thank you

[2018-11-16 21:37] flutefreak7 commented on #122
I don't think you can theme the QsciScintilla editor with Qt Style Sheets - the Scintilla editor has it's own methods for setting colors of the background, text, formatters, etc, which goes beyond what Qt style sheets do. I feel like a lot of work would have to be done in the Qt wrapper for Scintilla to translate style sheet properties to the necessary properties on the editor - which would be ver

[2018-11-17 00:46] flutefreak7 commented on #122
Hmm, I do see a mention in the Scintilla Changelog about CSS styling for GTK.

	"Switch from deprecated style calls to CSS styling."

https://www.scintilla.org/ScintillaHistory.html

[2018-11-18 12:06] ColinDuquesnoy commented on #119
I don't see why we ship examples with the main package. At the very least examples should be shipped in another optional package, e.g. ``qdarkstyle_example``. IMHO we should not ship examples at all, examples are mainly for developers or users who would like to test the style-sheet without installing...

[2018-11-18 14:15] reneeotten commented on #119
sure, I can see your point and am fine with not shipping the example with the main package. However, in that case the main package should also not refer the them, which was happening initially and that's why I reported it here. In the latest version I checked it seems like the console_script doesn't rely on it anymore so AFAIC it's all good now. Thanks for the help and responses.

[2018-11-18 14:15] #119 closed

[2018-11-20 20:22] dpizetta commented on #122
[Need some more checks](http://pyqt.sourceforge.net/Docs/QScintilla2/classQsciStyle.html) it should be nice if it works @flutefreak7

[2018-12-01 04:43] RustyPedrosa opened #123 "Widget borders missing in nested widgets"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: >=2.6.1
- OS: Win 10
- Python: 3.6

[If used, please inform their versions]

- PyQt: 5.11.3

### Language

[Python]

### Description / Steps to Reproduce [if necessary]

Something has gone wrong with widget borders in nested widgets.  I have widgets grouped together in frames, and multiple frames inside tabs, and the wi

[2018-12-03 14:53] SomberNight commented on #123
Yes, there is definitely an issue here.
Both pics on Win10, PyQt5.9.2, Python 3.6.6.

QDarkStyle 2.5.4
![qdarkstyle254](https://user-images.githubusercontent.com/29142493/49381120-8144a900-f713-11e8-8745-58b9e64677dd.PNG)

QDarkStyle 2.6.4
![qdarkstyle264](https://user-images.githubusercontent.com/29142493/49381123-8275d600-f713-11e8-8df1-6ac5b3f1f08d.PNG)

[2018-12-11 18:37] dpizetta commented on #123
Thanks for all those information, this will help a lot! I'm working on it.

[2018-12-14 01:03] j9ac9k opened #124 "Resizing a ListView causes funky text resizing"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: 2.6.5
- OS: macOS 10.14
- Python: 3.7.1

[If used, please inform their versions]

- PySide: 5.11.2
- PyQt:
- PyQtGraph: dev
- QtPy: 1.5.2
- QT_API: pyside2
- PYQTGRAPH_QT_LIB:

### Language

Python

### Description / Steps to Reproduce [if necessary]

[Description of the issue]

1. Create a QMainWindow with a QSplitter,

[2018-12-14 01:14] dpizetta commented on #124
Well, .... it gets bigger when it enters to scroll... uahauh...let me check here...may I'll as you for the code :)

![source](https://user-images.githubusercontent.com/5084939/49977254-be3b4780-ff2c-11e8-84c4-765f67a16fb3.gif)

[2018-12-14 16:20] j9ac9k commented on #124
I may not have shown it well, but only _some_ of the elements get larger, some of the elements that are a bit shorter (like the top 10) never actually change in size.

Let me know if you would like some specific code, but the structure is `QMainWindow`, with a `QSplitter` as the central widget.  The `QSplitter` has a populated `QListView` on the left, and an empty `QFrame` on the right.

[2018-12-18 18:56] j9ac9k commented on #124
Just updated to PySide2 5.12, can confirm the issue is present there as well

I should also point out that this issue isn't consistent, it occurs about half the time I run the app (which is what make diagnosing the problem take so long, I had to re-run my application enough times to be convinced it was a qdarkstylesheet issue).  If anyone finds a way to consistently bring out this problem, be sure

[2018-12-20 16:10] vfxpandit opened #125 "FutureWarning: load_stylesheet() will not receive pyside parameter in version 3"
I am Using Python3.6 and PySide2
This theme is working fine in my PySide2 app.
But I am receive this Warning:

[code]

[2018-12-24 12:22] max3-2 opened #126 "macOS: Some widgets have no frame"
### Describe Your Environment

[Versions from your environment]
Information about your current environment setup:
  - QDarkStyle: 2.6.5
  - OS: Darwin 18.2.0 x86_64
  - Platform: darwin
  - Python: 3.7.1.final.0
  - Python API: 1013
  - Binding in use:     Not set or nonexistent
  - Abstraction in use: Not set or nonexistent
  - qtpy (QT_API):                Not set or nonexistent
  - pyqtgraph (P

[2018-12-27 11:05] nickdademo opened #127 "QCheckBox and QRadioButton resource images colour"
The following resource files:
_checkbox_checked_focus.png
checkbox_indeterminate_focus.png
checkbox_unchecked_focus.png
radio_checked_focus.png
radio_unchecked_focus.png_

All have the colour: #2EC0F5
(which does not match any of the colours in the stylesheet palette).

Perhaps #148CD2 is more appropriate? Or is this colour choice intentional?

[2018-12-27 11:12] nickdademo opened #128 "QTabWidget tab text label is slightly obscured during hover event"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: 2.6.5
- OS: Windows 10
- Python: 3.6.5

[If used, please inform their versions]

- PyQt: 5.11.3

### Language

Python (also observed in C++).

### Description / Steps to Reproduce [if necessary]

[Description of the issue]

1. Move mouse over non-active tab page tab label

### Actual Result

As shown below, "P" is obscu

[2018-12-27 17:20] max3-2 commented on #126
This might be a duplicate of #123 since all widgets are in tabs. Is the fix already in the newest release?

[2018-12-29 04:01] nickdademo opened #129 "QMenu::item alignment broken from Qt 5.12.x onwards"
This is due to a change in Qt 5.12 and onwards: https://code.qt.io/cgit/qt/qtbase.git/commit/src/widgets/styles/qstylesheetstyle.cpp?h=5.12.0&id=aa1bc47942e2062dc7fad3e139bb4ceecc74f947

Discussions:
https://bugreports.qt.io/browse/QTBUG-70491
https://bugreports.qt.io/browse/QTBUG-66380

![image](https://user-images.githubusercontent.com/1648285/50533238-b3a1c480-0b60-11e9-8466-6386209be2ec.png)

[2019-01-06 20:03] Raincode commented on #63
You might also like https://github.com/Raincode/QDarkStylePicker

[2019-01-28 14:59] Khalilsqu opened #131 "QSS with drawControl"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: lastes
- OS: windows
- Python: 3.6

[If used, please inform their versions]

- PySide:
- PyQt:
- PyQtGraph:
- QtPy: yes
- QT_API:
- PYQTGRAPH_QT_LIB:

### Language

[Python] or [C++] Python

### Description / Steps to Reproduce [if necessary]

I am trying to right justify shortcuts in QMenu using this code

[code]

Then

[2019-02-09 16:31] nickdademo commented on #129
Fixed in Qt via: https://codereview.qt-project.org/#/c/249408/

[2019-02-09 16:31] #129 closed

[2019-02-13 12:07] franciszekjuras opened #132 "Checkboxes appear in QComboBox drop-down list"
- QDarkStyle: latest
- OS: Ubuntu 16.04
- Qt: 5.5.1
- C++

When using QComboBox, items on the drop-down list have checkboxes, which is different from default behaviour and causes text cutting (see attached pictures):
With QDarkStyle:
![base](https://user-images.githubusercontent.com/29258901/52710258-2f2fc780-2f8f-11e9-8d31-45e5f3dd42b6.png)
![dropdown](https://user-images.githubusercontent.com/29

[2019-02-13 12:22] dismine commented on #132
I confirm this.

[2019-02-13 12:34] dpizetta commented on #127
Hi, @nickdademo, I'll update the colors using the palette soon. Thanks for noticing!

[2019-02-13 12:35] dpizetta commented on #126
Hi @max3-2, yep, this is related to the #123, I'll try a better fix for this. I hope to get a solution soon.

[2019-02-13 13:01] dpizetta opened #133 "Add visual feedback for clicked buttons"
### Describe Your Environment

- QDarkStyle:2.6.5
- OS: Win 8.1
- Python: 3.6.7

[If used, please inform their versions]
- QT: 5.9.6
- PySide:- PyQt:5.9.2

### Language

[Python]

### Related issues

[Spyder ](https://github.com/spyder-ide/spyder/issues/8068)

### Description / Steps to Reproduce [if necessary]

![50381005-db0b1400-06be-11e9-929e-3078ec5f8b9c](https://user-images.githubusercontent

[2019-02-13 13:02] dpizetta commented on #128
Closed due #130

[2019-02-13 13:02] #128 closed

[2019-02-17 22:45] SomberNight commented on #126
This is not specific to Mac. I see the same on Linux and Windows too.

[2019-02-18 09:28] max3-2 commented on #126
I just checked the example where some nested widgets are present. The borders are available there so thats kind of confusing. If you need me to test something just let me know

[2019-02-25 07:27] flutefreak7 opened #134 "PyQtGraph plot axes / labels get covered by QDarkStyle padding"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: 2.6.5
- OS: Windows 10
- Python: 3.7.2

[If used, please inform their versions]

- PySide:
- PyQt: 5.11.3
- PyQtGraph: 0.11.0.dev0+g2e69b9c
- QtPy:
- QT_API:
- PYQTGRAPH_QT_LIB:

### Language

[Python] or [C++]

### Description / Steps to Reproduce [if necessary]

[Description of the issue]

1. Build a widget with a pyq

[2019-03-20 10:34] danielhrisca commented on #134
Same issue here

![image](https://user-images.githubusercontent.com/20952040/54677772-458bee80-4b0c-11e9-8b50-0924dcb969f9.png)

![image](https://user-images.githubusercontent.com/20952040/54677857-79ffaa80-4b0c-11e9-95e1-b6336518f74b.png)

 There is also a misalignment of the color buttons

[2019-03-20 16:31] gusmd commented on #99
Just wanted to add that I've used QDarkStyleSheet on a simple C++/CMake project as well, [pubfix](https://github.com/gusmd/pubfix).

The way I included QDarkStyleSheet was to simply clone this repo as a submodule, and directly add the `qrc` file to my `add_executable` call on CMake. See [my PR](https://github.com/gusmd/pubfix/pull/2/files). It's less elegant than having it as a library, but avoids

[2019-04-22 07:38] EchterAgo opened #136 "QTabWidget overflow scroll buttons not displaying right"
![image](https://user-images.githubusercontent.com/922233/56489483-0f2b0000-650c-11e9-9648-86e1998ba92a.png)

![image](https://user-images.githubusercontent.com/922233/56489494-1520e100-650c-11e9-9e1e-77e1247f2cc3.png)

Only the left button can be interacted with. This is how it looks without QDarkStyleSheet:

![image](https://user-images.githubusercontent.com/922233/56489555-4a2d3380-650c-11e9-91

[2019-04-22 18:45] goanpeca opened #137 "Using Qt Sass"
In order to clean up definition of styles (maybe make this package more generic), we could use https://github.com/spyder-ide/qtsass so that instead of hardcoding variables within the QSS, we could define SASS variables that would be used afterwards. By doing this, we could also "on the fly" generate custom stylesheets by changing these variables (either by simple line, search and replace) or by ot

[2019-04-22 18:46] goanpeca commented on #80
How about using https://github.com/spyder-ide/qtsass and add a well defined set of variables (as a separate file)

[2019-04-22 18:47] goanpeca commented on #127
@dpizetta could we better use svg files that programmatically got the right colors replaced?

[2019-04-22 20:21] goanpeca commented on #137
Something like:

[code]

[code]

And then compile this file:

[code]

[2019-04-23 15:04] dpizetta commented on #137
Hi @goanpeca, yeah, I was looking into this SASS, and this is much better. This is planned to integrate the v3.0. Unfortunately, I'm a little busy with other projects right now, so some delay is predicted.

[2019-04-23 15:11] goanpeca commented on #137
I already started working on this. I can submit a PR

[2019-04-23 15:16] dpizetta commented on #137
Perfect! Thank you!

[2019-04-23 15:23] dpizetta commented on #127
Of course.

Also, it will be nice if we can use directly .svg files, but Qt does not work well with it.

[2019-04-23 15:25] dpizetta commented on #136
Thanks for reporting!

[2019-04-23 15:27] dpizetta commented on #134
Thanks for the detailed reporting.

[2019-04-23 15:31] dpizetta commented on #131
Can you have some images with and without QDSS? Tks for reporting this

[2019-04-23 15:31] goanpeca commented on #127
Agreed, also started working on this. I will make a separate PR

[2019-04-23 15:33] dpizetta commented on #125
What is the QdarkStyle version you are using? Tks for reporting.

[2019-04-24 00:30] goanpeca commented on #127
Also to generate this programmatically we would need to bring the SVGs back into de package

[2019-04-24 01:05] flutefreak7 commented on #125
I think I've always seen that warning on recent versions. Has that changed
recently? Are we not supposed to see that anymore?

On Tue, Apr 23, 2019, 10:33 AM Daniel Pizetta <notifications@github.com>
wrote:

[2019-04-24 14:39] dpizetta commented on #125
Sorry I've not seen in the title version 3. I also corrected that in v2.6.6. I'll change to deprecation warning, so, users should have not seen this.

Some more info about it: https://docs.python.org/3/library/warnings.html

[2019-04-24 14:41] dpizetta commented on #124
@j9ac9k  any update about this issue? New versions of PySide/Pyqt also has it?Tks

[2019-04-24 15:19] dpizetta commented on #123
@RustyPedrosa, @SomberNight  could you try the new version v2.6.6 to see if it helps you? Tks

[2019-04-24 15:25] SomberNight commented on #123
@dpizetta which commit do you mean specifically? I cannot see the tag or pypi release (which is fine, but I am not sure what to test with)

[2019-04-24 15:29] dpizetta commented on #123
Oh, sorry, I'm still finishing the tests on py27/34 right now before push. In some minutes it will be there the version 2.6.6. Tks

[2019-04-24 15:33] #125 closed

[2019-04-24 15:33] #133 closed

[2019-04-24 15:41] dpizetta commented on #126
If the problem comes back, please, reopen this issue. Tks

[2019-04-24 15:41] #126 closed

[2019-04-24 16:50] SomberNight commented on #123
2.6.6 looks good, thanks.

[2019-04-24 18:04] dpizetta commented on #132
Can you (@franciszekjuras , @dismine ) share some code so I can reproduce the problem? Also, could you run the example/example.py in the inputs tab and take a screenshot? Tks

[2019-04-24 18:08] dpizetta commented on #136
@EchterAgo could you share some more info about your env? Just run qdarkstyle --all. Or use the [helpdev](https://pypi.org/project/helpdev/).

[2019-04-24 19:22] dpizetta commented on #132
I found other examples using Spyder v4 . Also, it appears white lines external to the combo box.

![combobox-problem](https://user-images.githubusercontent.com/5084939/56686394-42a39100-66aa-11e9-918f-9a3318d702a9.gif)
![combobox-problem-too](https://user-images.githubusercontent.com/5084939/56686399-4505eb00-66aa-11e9-9432-699f8ff7454c.gif)

Also discussed here: https://github.com/spyder-ide/spyd

[2019-04-24 20:57] j9ac9k commented on #124
Hi @dpizetta I haven't looked at it as PySide2 5.12 supports recognizing when the OS is set to dark mode and adjusts accordingly, and as a result I haven't used the qdarkstylesheet.

That said, as I created the issue, the least I can do is incorporate the qdarkstylesheet and try again and see what happens (I also pinned my PySide2 to 5.12.0 for other reasons, but this is a good reason for me to tr

[2019-04-25 17:38] dpizetta commented on #124
Okay. If you have time to test it would be nice. Otherwise, no problems at all :) Tks

[2019-04-26 01:04] goanpeca opened #139 "QLabel links not styled"
<img width="1041" alt="Screen Shot 2019-04-25 at 20 02 59" src="https://user-images.githubusercontent.com/3627835/56777095-2a5c7080-6795-11e9-8764-5b2913ee3e57.png">

Not possible via QSS but this provides a fix,

[code]

Although if we want to support hover changes, (or even visited...) we need to provide custom QLabel to handle that programmatically.

Something naive like (assumes the user has a

[2019-04-26 03:24] goanpeca opened #140 "Add high resolution resources for retina displays"
https://doc.qt.io/qt-5/scalability.html

[2019-04-26 21:28] j9ac9k commented on #124
I incorporated qdarkstylesheet in my project in its current state and could _not_ reproduce this issue I reported earlier (on pyside 5.12.2).  I attempted to go back in history of my git repo and reconstruct the project with only pyside 5.12.2 enabled; but had problems rebuilding my project.

Regardless, I'm good with closing out this issue.  Sorry I was unable to definitively point the finger at

[2019-04-26 23:45] dpizetta commented on #124
TKS for your time testing it. So, closing for now :)

[2019-04-26 23:45] #124 closed

[2019-04-27 12:24] marcelomanzo opened #141 "v2.6.6+ update now show lines around labels"
I'm using python 3.7 and the latest version from the repository.

This week, when I compiled my app this week it started showing lines around the labels
![image](https://user-images.githubusercontent.com/12878783/56849700-b968a600-68c5-11e9-986c-29685d24c652.png)

[2019-04-27 12:24] marcelomanzo commented on #141
I am using pyside 2

[2019-04-27 14:52] dpizetta commented on #141
Please, run qdarkstyle --all and send the information. Tks

[2019-04-28 09:23] Khalilsqu commented on #131
Thanks for your response, I will update you sometime next week. Regards

[2019-04-28 13:25] marcelomanzo commented on #141
Information about your current environment setup:
  - QDarkStyle: 2.6.6
  - OS: Windows 10 AMD64
  - Platform: win32
  - Python: 3.6.5.final.0
  - Python API: 1013
  - Binding in use:     Not set or nonexistent
  - Abstraction in use: Not set or nonexistent
  - qtpy (QT_API):                Not set or nonexistent
  - pyqtgraph (PYQTGRAPH_QT_LIB): Not set or nonexistent
  - Qt.py (__binding__):

[2019-04-29 21:44] goanpeca opened #143 "Reload capability"
Currently one needs to restart the application to be able to see changes. This might be time consuming when fixing specific bugs (e.g. Spyder).

[2019-04-30 17:42] goanpeca commented on #132
Added a fix over https://github.com/ColinDuquesnoy/QDarkStyleSheet/pull/145

[2019-04-30 21:40] goanpeca opened #146 "Improve messages of code analysis tooltip"
See:

<img width="298" alt="Screen Shot 2019-04-30 at 16 39 41" src="https://user-images.githubusercontent.com/3627835/56995171-9ad50a00-6b66-11e9-8dcf-9c51581d4421.png">
<img width="511" alt="Screen Shot 2019-04-30 at 16 39 51" src="https://user-images.githubusercontent.com/3627835/56995185-a45e7200-6b66-11e9-8dbc-8673f5f24816.png">

[2019-04-30 21:41] goanpeca commented on #146
Oops sorry wrong repo!

[2019-04-30 21:41] #146 closed

[2019-04-30 22:19] dpizetta commented on #139
Do you mean that this class should be distributed with Qdark? What about keeping this class on the "user" app?

[2019-04-30 22:32] goanpeca commented on #139
Hmm maybe ? Do not know or have a known issues section with tips like how to fix it. However I do think that the palette fix should be implemented. Either by running a helper function or similar.

[2019-04-30 23:19] goanpeca commented on #143
In the past I did not compile resources but used full paths with a variable and used the QSS file directly.

Loading the compiled resources seems convenient but without the possibility of reloading changes without having to restart an application is not convenient, specially when solving small/subtle bugs

[2019-05-01 00:59] dpizetta commented on #143
Try reload() python function. May it works. May you also need to refresh cache. I'm not with the right name of this function right now but I have it.

If your app have no problems loading the directly the resource it is ok, but the problem is not have a problem :) In Windows it is almost impossible, at least some time ago.

[2019-05-01 01:03] goanpeca commented on #143
I tried that already.

I never used the resources in the past, used QSS plus SASS and used a variable that pointed to the absolute path of the resources.

[2019-05-01 09:24] ColinDuquesnoy commented on #143
@goanpeca Qt resources are used to simplify packaging (especially distribution of png files that are bundled with the stylesheet and loaded throught ``qrc://`` url ) and provide the same interface for loading the stylesheet in all supported languages.

I guess that if you want to reload a compiled qrc file (XXX_rc.py) you need to

1. call [qCleanupResources](https://github.com/ColinDuquesnoy/QDark

[2019-05-01 13:14] #132 closed

[2019-05-01 14:48] #134 closed

[2019-05-01 17:33] dpizetta opened #147 "Add helpdev dependency to get report information easy"
Instead of creating more things that do the same, use [helpdev](https://pypi.org/project/helpdev/) to get information about environment when people need to report. Also, it can be used into QtPy, Spyder and other projects.

[In the near future I'll add a report option that target the packages needs.](https://gitlab.com/dpizetta/helpdev/issues/1)

Other option is to provide a --report option in qda

[2019-05-01 17:34] dpizetta commented on #147
Any concerns about it @ColinDuquesnoy?

[2019-05-01 18:10] dpizetta opened #148 "Add script to update screenshots automatically"
Generate up to date screenshots when compiling resources to make easy to update the sample in the readme page.

[2019-05-01 18:23] dpizetta opened #149 "Create svg files for all images used in rc"
As we started using scripts to process images from svg files to programmatically change colors, we need - also for quality images, svg files for all images. I'll provide it.

- [X] Provide svg for all resources used within a standard ([KDE](https://hig.kde.org/style/icon.html), [Material](https://material.io/design/iconography/product-icons.html#grid-keyline-shapes));
- [ ] Standardize resources n

[2019-05-01 21:55] #127 closed

[2019-05-01 21:55] #136 closed

[2019-05-01 21:55] #141 closed

[2019-05-02 11:32] marcelomanzo opened #150 "Vertical Slider Bars Colors inverted"
The blue line of the vertical sliders bars is inverted, when you compare with the horizontal one, the blue portion is on the min side.

The vertical on the other hand has gray on the min side.

![image](https://user-images.githubusercontent.com/12878783/57072596-3fad2f80-6cac-11e9-9df0-95c1b9d5a496.png)

[2019-05-02 11:32] marcelomanzo commented on #150
Information about your current environment setup:

QDarkStyle: 2.6.6
OS: Windows 10 AMD64
Platform: win32
Python: 3.6.5.final.0
Python API: 1013
Binding in use: Not set or nonexistent
Abstraction in use: Not set or nonexistent
qtpy (QT_API): Not set or nonexistent
pyqtgraph (PYQTGRAPH_QT_LIB): Not set or nonexistent
Qt.py (binding): Not set or nonexistent
Qt bindings available:

PySide2
Qt abstrac

[2019-05-03 11:24] dpizetta commented on #150
TKS for reporting, nice catch.

[2019-05-03 20:24] dpizetta commented on #80
Closing this as we moved to qtass

[2019-05-03 20:24] #80 closed

[2019-05-04 01:24] goanpeca opened #151 "Add ability to create new custom palette programmatically at runtime"
- Embed sass and svg files in the resources
- Write sass and svg files from qrc to a temp directory (or user selected dir)
- Generate qss and png files in the temp directory (or user selected dir)
- Replace qrc:// url in the stylesheet by the temp directory (or user selected dir)
- Load the stylsheet from the temporary dir (or user selected dir) instead of the the qrc file.

[2019-05-04 03:36] goanpeca commented on #149
Are we using some minimal HIC guide?

Something like https://hig.kde.org/style/icon.html ?

[2019-05-04 12:28] #137 closed

[2019-05-04 12:32] #148 closed

[2019-05-04 12:45] dpizetta commented on #151
I'd add also as a second step a GUI (later I'll post a mock-up) with:

* "Palette image" as the palette.svg to click and change colors (9) of named parts (i.e variables from sass) ;
* Other variables such as border-radius;
* Preloaded palettes to be chosen - as it is not so simple to match the colors that provide a good contrast - it is simplified with the "palette image" but still not so simple;

[2019-05-04 12:53] dpizetta commented on #149
Not until know, but we can use for sure.

I personally use this reference for my work: [Material ](https://material.io/design/iconography/product-icons.html#grid-keyline-shapes).

[2019-05-04 12:54] dpizetta commented on #151
Just to make a reference #143 as we need to reload :)

[2019-05-04 13:07] goanpeca commented on #149
Sure that one works ;-) although more oriented to web and mobile than "traditional" desktop

[2019-05-04 13:13] dpizetta opened #153 "Update contribute guide to incorporate qsass, new scripts and instructions"
[  ] Add qsass information (@goanpeca could you take care of this one?);
[  ] Add new scripts explanations;
[  ] Review guide;

[2019-05-04 13:16] dpizetta opened #154 "Update production guide"
[  ] Add process resources to be updated before being released;
[  ] Update twine and build process;
[  ] Add check to pipy description to avoid errors;
[  ] Review guide;

[2019-05-04 13:17] goanpeca opened #155 "Restore Travis CI ?"
It seems Travis CI is no longer being executed on PRs?

[2019-05-04 13:20] #140 closed

[2019-05-04 13:30] dpizetta commented on #155
Yep, may some change in configuration? I'll check this on travis.

Also, I'd pass all testing parts to Tox #77 when run Travis , so we can run locally first.

[2019-05-04 15:45] goanpeca commented on #82
If we create the screenshots on every travis build we could compare image deltas of the generated screenshots, plus other problematic examples.

[2019-05-04 17:16] goanpeca commented on #153
@dpizetta, sure, where do  you want this updated?

[2019-05-05 00:09] SomberNight opened #159 "QAbstractScrollArea padding clips text"
Using QDarkStyle 2.6.8, PyQt 5.11.3, cpython 3.6.6, on Windows 10.

Text is getting clipped in this QPlainTextEdit:
![img1](https://user-images.githubusercontent.com/29142493/57186091-52f11280-6ed9-11e9-97ed-3adde03395f8.PNG)
Text also getting clipped here. Not sure what Qt element it is, it belongs to a QCompleter.
![img2](https://user-images.githubusercontent.com/29142493/57186094-7fa52a00-6ed9-

[2019-05-05 18:48] dpizetta commented on #139
We should create a known-issues in docs? I will propose to use Sphinx to generate docs. I'll create a new issue about it.

[2019-05-05 18:49] goanpeca commented on #139
Sure, I think that would be sweet :-)

[2019-05-05 18:50] dpizetta opened #160 "Add docs using Sphinx for generation"
- [X] Add API docs, added with d1fca58cbd068cd3d6a55082c5bdab7be55f5de7
- [X] Connect to RTD to generate docs
- [x] Add known issues for issues that cannot be solved with stylesheet
- [x] Generate apidocs online using tox/travis;
- [x] Add screenshots generation when generating apidocs;
- [x] Change all docs to RST format instead of MD (more feature as tables andcompatible with Sphinx)
   - [X] Re

[2019-05-05 18:50] #139 closed

[2019-05-06 02:16] goanpeca commented on #159
Maybe we need to add a minimum height and still have padding?

Something like:

[code]

[2019-05-06 06:53] kosayoda opened #162 "AttributeError: module 'importlib' has no attribute 'util'"
### Language

Python

### Steps to Reproduce

1. Create new virtualenv `python3.7 -m venv .venv`
2. Install qdarkstyle `pip install qdarkstyle`
3. Run `qdarkstyle --all`

### Actual Result

[code]

[2019-05-06 06:58] kosayoda opened #163 "Lines around Qlabel in v2.6.8 & Python 3.7"
### Environment

- QDarkStyle: 2.6.8
- OS: Linux 4.15.0-48-generic x86_64
- Python: 3.7.2.final.0
- PySide2: 5.12.3

`qdarkstyle --all` throws an error, see #162

### Language

Python

### Actual Result
![Screenshot from 2019-05-06 14-40-49](https://user-images.githubusercontent.com/41782385/57210422-2d662500-700f-11e9-8d4c-91d82476d97f.png)

Looks like #141 except the current version is 2.6.8, pl

[2019-05-06 11:21] dpizetta commented on #162
I've marked as wontfix because we will start using helpdev to get this kind of info, and I already fixed this problem in the helpdev. It should be fixed in v2.7. Thanks for reporting.

[2019-05-06 11:24] dpizetta commented on #163
It should be not like this. Could you provide your code or at least the nesting of items until the QLabel? Tks

[2019-05-06 11:29] #151 closed

[2019-05-06 11:50] dpizetta commented on #131
Please, check if the problems persist with v2.6.8, may this was fixed #132 with #145. Tks

[2019-05-06 12:01] kosayoda commented on #163
The `.ui` file is generated using QtDesigner, then converted to a `.py` file. The Qt Designer Object Inspector looks like this:

![Screenshot from 2019-05-06 19-53-09](https://user-images.githubusercontent.com/41782385/57223520-f442aa80-7038-11e9-94a9-9c18b0759992.png)

My code looks like this (relevant portions):
[code]

[2019-05-06 17:47] dpizetta commented on #147
Closed with dcfb8f6384d7903a1c42526cb600806fc77ea934

[2019-05-06 17:47] #147 closed

[2019-05-06 17:53] dpizetta commented on #163
@goanpeca is the _style.scss updated with the last changes in style.qss? If so, I'll start to use it to not change the qss manually.

To fix this may we need to use ".QFrame" instead of QFrame that includes descendants, including QLabel.

[2019-05-06 17:56] dpizetta commented on #159
@SomberNight  is this happening on older versions? Like 2.6.7, 2.6.6... Tks

[2019-05-06 18:00] dpizetta commented on #153
I think, for now, here https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/master/CONTRIBUTING.md#modifying-qss-file
then I can move this file internally to docs. Thus, we keep only the main files over the repo root.

Tks!

[2019-05-06 18:01] goanpeca commented on #163
@dpizetta if you have `qtsass` installed then we should only work with the `_style.scss` file (which should include all the latest changes I found)

[2019-05-06 18:05] dpizetta commented on #163
@goanpeca  Should I use the version 0.2.2 alpha from release or from master as it is not available on pypi yet?

[2019-05-06 18:11] goanpeca commented on #163
this one is fine https://pypi.org/project/qtsass/

[2019-05-06 18:15] SomberNight commented on #159
@dpizetta Yes, it happens with all of 2.6.5,  2.6.6,  2.6.7

[2019-05-06 18:44] dpizetta commented on #163
I was not up to date :) Tks

[2019-05-06 19:31] #155 closed

[2019-05-06 20:26] dpizetta opened #164 "Move files to utils?"
In my opinion, we should move some files:

- process_qrc.py > qdarkstyle/utils/qrc.py (compile qrc)
- palette.py > qdarkstyle/utils/palette.py (check palette contrast)

Because they are required if you want to generate the files by yourself up to compiled.

And these ones, if wanted to check a standard example window.

- process_ui.py > qdarkstyle/utils/ui.py
- run_ui_css_edition.py > qdarkstyle/u

[2019-05-06 20:30] goanpeca commented on #164
Hi @dpizetta I agree with all your suggestions

[2019-05-06 22:12] goanpeca commented on #164
The only thing to keep in mind is that for conda packages there will be no qtsass (no libsass) available for windows py27 so all that toolchain will not be available for that specific case.

With pypi there should not be a problem.

They will be able to still use the package normally but no custom palette creation at runtime.

[2019-05-06 22:33] dpizetta commented on #164
Since py27 is going to die soon, I think that there is no problems. As well as py34 will too.  Things after py36 are much better for qt things as we can simple install pyqt/pyside from pypi. Actually, I was propose to us to keep some dates/versions of compatible python distribution. Many things we can't do with py27.

[2019-05-07 00:04] goanpeca opened #165 "Cleanup SCSS / split files"
We should probably reorganize the QSS/SCSS to follow some convention.

I google and found something like https://webdesign.tutsplus.com/articles/outside-in-ordering-css-properties-by-importance--cms-21685

I think it would help maintaining the file.

We could also split the `_styles.scss` file in components/widgets, much like frameworks do (bootstrap, foundation etc...)

[2019-05-07 17:54] goanpeca commented on #143
Hi again @ColinDuquesnoy, regarding

Understood, however I never used this method before so the way I solved it in the past was to replace the path to the package in the CSS file (by simple means of find/replace a placeholder) in the final stylesheets before loading.

This seems to be much easier, allows for simple reloading since the thing being reloaded is a string and not a module. This would a

[2019-05-07 21:25] ben-hearn-sb opened #166 "QTableView Hover color"
When hovering over a QTableView only column hovering is supported. I have my QTableView set to QAbstractItemView.SelectRows but only hovered columns are supported

Is there a way to edit this easily?

// Ben

[2019-05-07 21:27] goanpeca commented on #166
@ben-hearn-sb could you please psot some screenshots of what you would like to achieve?

[2019-05-08 07:06] ben-hearn-sb commented on #166
Yes, I will post up screenshots later today

[2019-05-08 08:58] ColinDuquesnoy commented on #143
That will only work on normal python packages where ``package.__file__`` is available. It will not work with other languages and even in python there are a few corner cases where it won't work as is: e.g. when user freeze their application or if user are loading their dependencies from a zip archive (which is a common practice in proprietary software).

We can choose to use a file based approach i

[2019-05-08 17:47] ben-hearn-sb commented on #166
<img width="646" alt="Screen Shot 2019-05-08 at 7 46 26 PM" src="https://user-images.githubusercontent.com/13691166/57396146-030c9700-71ca-11e9-96f1-40294ae39c19.png">

My selection mode for my table is row selection yet the hover highlight is single cell based only. This confused the selection mode across the tool

[2019-05-08 18:21] goanpeca commented on #166
I do not think this is possible with QSS

[2019-05-08 18:24] ben-hearn-sb commented on #166
There seems to be a solution here although not sure how easy or not easy it is to implement:
https://github.com/lowbees/Hover-entire-row-of-QTableView/blob/master/styleditemdelegate.cpp

[2019-05-08 18:26] goanpeca commented on #166
That requires coding so no qss only solution on our side.

[2019-05-08 18:31] ben-hearn-sb commented on #166
ah ok I see, I will try and find another solution. Thank you anyway :)

[2019-05-08 18:31] #166 closed

[2019-05-09 20:11] dpizetta opened #167 "Example is not working with the option --no_dark"
### Describe Your Environment

* OPERATING SYSTEM---------------------------------------------------------------
    - System........................ Linux
    - Release....................... 4.15.0-48-generic
    - Platform...................... Linux-4.15.0-48-generic-x86_64-with-debian-buster-sid
    - Version....................... #51-Ubuntu SMP Wed Apr 3 08:28:49 UTC 2019
* PYTHON DISTRIBUT

[2019-05-09 20:49] goanpeca commented on #167
Hmmmm oops 😬

[2019-05-09 23:48] marcelomanzo opened #168 "Lines around Qlabel when using QInputDialog"
![image](https://user-images.githubusercontent.com/12878783/57493549-61517c80-7293-11e9-8309-f4298c90e8e1.png)

Information about your current environment setup:

QDarkStyle: 2.6.6
OS: Windows 10 AMD64
Platform: win32
Python: 3.6.5.final.0
Python API: 1013
Binding in use: Not set or nonexistent
Abstraction in use: Not set or nonexistent
qtpy (QT_API): Not set or nonexistent
pyqtgraph (PYQTGRAPH_QT

[2019-05-10 20:13] dpizetta commented on #168
Could you try version 2.6.8 and check is it still happening? Tks

[2019-05-12 21:00] cculianu opened #169 "Problem with QComboBox with icons in it -- on macOS"
### Describe Your Environment

Please, report the output of the command (from v2.6+) or fill the information below:

[code]

- QDarkStyle:  2.6.8
- OS: 17.7.0 x86_64 (macOS 10.13.6 High Sierra)
- Python: 3.6.8

**- PyQt: 5.11.3**

### Language

Python

### Description / Steps to Reproduce [if necessary]

[Description of the issue]

1. Make a QComboBox with items that have both icons and text in th

[2019-05-19 08:07] marcelomanzo commented on #168
2.6.8 still same issue:
![image](https://user-images.githubusercontent.com/12878783/57979440-a5f3bb00-79eb-11e9-807f-91cace32e5ac.png)

[2019-05-19 12:49] marcelomanzo opened #170 "Util package should not be imported in ordinary qdarkstyle usage"
### Describe Your Environment
(srsvenv) C:\temp\srsvenv\Scripts>qdarkstyle --all
* OPERATING SYSTEM---------------------------------------------------------------
    - System........................ Windows
    - Release....................... 10
    - Platform...................... Windows-10-10.0.17763-SP0
    - Version....................... 10.0.17763
* PYTHON DISTRIBUTION--------------------

[2019-05-19 13:00] marcelomanzo commented on #150
issue still persists...

![image](https://user-images.githubusercontent.com/12878783/57982525-8a50da80-7a14-11e9-81d7-96ea4821bb69.png)

(srsvenv) C:\temp\srsvenv\Scripts>qdarkstyle --all
* OPERATING SYSTEM---------------------------------------------------------------
    - System........................ Windows
    - Release....................... 10
    - Platform...................... Windows-

[2019-05-19 13:04] ccordoba12 commented on #170
You don't `qtpy` installed, which is a dependency of QDarkstyie.

[2019-05-19 13:12] marcelomanzo commented on #170
This is strange, why would I install pyqt if I'm using pyside2?
It wasn't like this 3 weeks ago.

[2019-05-19 13:13] goanpeca commented on #170
`qtpy != pyqt`

[2019-05-19 13:13] marcelomanzo commented on #170
ok, let me try

[2019-05-19 13:18] marcelomanzo commented on #170
Now I get:
C:\temp\srsvenv\Scripts\python.exe C:/Users/marce/PycharmProjects/dashboard/main.py
Traceback (most recent call last):
  File "C:/Users/marce/PycharmProjects/dashboard/main.py", line 18, in <module>
    gui.gui.main()
  File "C:\Users\marce\PycharmProjects\dashboard\gui\gui.py", line 86, in main
    app.setStyleSheet(qdarkstyle.load_stylesheet_pyside2())
  File "C:\temp\srsvenv\lib\site

[2019-05-19 13:37] ccordoba12 commented on #170
@goanpeca?

[2019-05-19 13:38] goanpeca commented on #170
@marcelomanzo what version of QDarkStyle are you using?

[2019-05-19 13:43] marcelomanzo commented on #170
pip install git+git://github.com/ColinDuquesnoy/QDarkStyleSheet.git

[2019-05-19 13:45] goanpeca commented on #170
Is there any reason why you are using master instead of doing?

[code]

[2019-05-19 13:47] marcelomanzo commented on #170
I was checking if the  #150 was fixed  in the master but not in the repository.

[2019-05-19 13:52] marcelomanzo commented on #150
this is the correct compiled version for reference

QSlider --------\
----------------\
----------------\
----------------\
-------- */\x0a\x0aQSl\
ider:disabled {\x0a\
    background: \
#19232D;\x0a}\x0a\x0aQSli\
der:focus {\x0a    \
border: none;\x0a}\x0a\
\x0aQSlider::groove\
:horizontal {\x0a  \
  background: #3\
2414B;\x0a    borde\
r: 1px solid #32\
414B;\x0a    height\
: 4px;\x0a    margi\

[2019-05-19 13:58] goanpeca commented on #170
@ccordoba12, doing a `open` with `w` flag does not create the file if not existent?

`with open(variables_scss_filepath, 'w') as f:` I do not understand why that error is there

[2019-05-19 14:00] goanpeca commented on #170
@marcelomanzo You need to reinstall, since what you have does not seem to correspond to what is currently on master

https://github.com/ColinDuquesnoy/QDarkStyleSheet/tree/master/qdarkstyle

<img width="977" alt="Screen Shot 2019-05-19 at 09 00 03" src="https://user-images.githubusercontent.com/3627835/57983176-84f39000-7a14-11e9-832c-e551a62fd1fc.png">

You are missing a bunch of folders...

[2019-05-19 14:03] marcelomanzo commented on #170
ok, you can close, would you be able to re-open #150?

thanks

[2019-05-19 14:05] goanpeca commented on #150
Will take a look at this @dpizetta @marcelomanzo

[2019-05-19 15:05] dpizetta commented on #150
@marcelomanzo could you run the example  that is in example/example.py and check the slides there also? TKS

[2019-05-19 15:07] dpizetta commented on #168
We need to change qlabel in the rcc to .qlabel, so it gets all qlabel nested classes.  I will try later night.tks

[2019-05-20 17:17] dpizetta commented on #168
Same as #163

[2019-05-20 17:48] dpizetta commented on #170
Hi @goanpeca @ccordoba12  May we have to not import from "util" in the __init__, as we have discussed that we'll still be producing the qss file to put in the repo, and at this moment qtpy is only needed for developers or for who wants to change something in the style. And remembering that to compile, people need to have other tools like uic/rcc that could depends on not only Python.

[code]

[2019-05-20 17:59] goanpeca commented on #170
@dpizetta sure, we can add those imports with `try/except`

If you can open an issue I can look at ti :-)

[2019-05-20 18:50] dpizetta commented on #170
As the main problem in this issue as not about PySide2, I've changed the title, so we have a case of use.

[2019-05-20 18:54] dpizetta commented on #169
@goanpeca  could you take care of this one? I think that is something related to #132 and #145. @cculianu is this happening in versions v2.6.7 or v2.6.6? Tks for both

[2019-05-20 18:57] goanpeca commented on #169
Yes!, I can, sorry I forgot about this. Thanks for the ping

[2019-05-20 18:59] cculianu commented on #169
@dpizetta @goanpeca

2.6.7 -- The bug is there -- exactly the same behavior.
2.6.6 -- The bug is not there -- works as expected.

I haven't tried anything before then.  And, of course, 2.6.8 is also broken. :)

Thanks for looking into it!

[2019-05-20 19:12] dpizetta commented on #163
@kosayoda could you test this branch? Remember to remove the old installation before. Tks

`git clone -b fix-qlabel-lines-frame https://github.com/ColinDuquesnoy/QDarkStyleSheet.git qdark-fix-qlabel`

[2019-05-20 19:13] dpizetta commented on #168
@marcelomanzo  could you test this branch? Remember to remove the old installation before. Tks

`git clone -b fix-qlabel-lines-frame https://github.com/ColinDuquesnoy/QDarkStyleSheet.git qdark-fix-qlabel`

[2019-05-20 19:54] #167 closed

[2019-05-20 21:56] dridk opened #171 "get color palette"
Information about your current environment setup:
  - QDarkStyle: 2.6.8
  - OS: Linux 4.15.0-50-generic x86_64
  - Platform: linux
  - Python: 3.6.7.final.0
  - Python API: 1013
  - Binding in use:     Not set or nonexistent
  - Abstraction in use: Not set or nonexistent
  - qtpy (QT_API):                Not set or nonexistent
  - pyqtgraph (PYQTGRAPH_QT_LIB): Not set or nonexistent
  - Qt.py (__b

[2019-05-21 11:26] marcelomanzo commented on #168
works like a charm, thanks!
![image](https://user-images.githubusercontent.com/12878783/58092265-ad58c700-7b99-11e9-94cd-aa81daa278dd.png)

[2019-05-21 11:26] #168 closed

[2019-05-21 11:27] marcelomanzo commented on #150
Works like a charm:
pip install git+git://github.com/ColinDuquesnoy/QDarkStyleSheet.git@d553852b5de6b1c3de7f04f8c792ef4f3b49d776

![image](https://user-images.githubusercontent.com/12878783/58092344-d711ee00-7b99-11e9-8bc6-9361f82f9336.png)

[2019-05-21 11:27] #150 closed

[2019-05-21 12:24] dpizetta commented on #150
Nice!

[2019-05-21 12:38] #163 closed

[2019-05-21 12:43] kosayoda commented on #163
Was testing it just as this issue got closed, just commenting for posterity.
I can confirm that the branch fixes the issue. Thank you for the fix.

[2019-05-21 16:24] dpizetta commented on #163
Tks!

[2019-05-21 19:42] goanpeca commented on #169
Working on this now :-p

[2019-05-22 04:29] goanpeca commented on #169
So QComboBox has a problem with QSS (I have read it somewhere but do not have the link handy)

So basically the implementation of the item delegate of the QComboBox Listview uses `QItemDelegate` and not a `QStyledItemDelegate` and that is why a lot of the CSS on the `::item` of a QComboBox is hacky, or distorts the list weirdly (at least on MAC)

So the only general solution I see for this, is to

[2019-05-22 05:23] cculianu commented on #169
I struggled to fix it by trying all sorts of selectors and style attributes as well.  This workaround does indeed work... it's good enough for now if you say no other fix is possible.

Attached is a screenshot of it working:

<img width="258" alt="Screen Shot 2019-05-22 at 8 22 44 AM" src="https://user-images.githubusercontent.com/266627/58149284-e7de6480-7c6a-11e9-8c8e-32edba56f8d3.png">

[2019-05-22 05:34] goanpeca commented on #169
@dpizetta it seems we either use the `cb.setItemDelegate(QStyledItemDelegate(cb))` workaroundor live with the text being cropped

<img width="226" alt="Screen Shot 2019-05-22 at 00 33 38" src="https://user-images.githubusercontent.com/3627835/58149607-4387fe00-7c29-11e9-984b-857cb1c87047.png">

Either way, users will need to patch something (minimum widths, or setting the delegate)

[2019-05-22 05:36] cculianu commented on #169
Since you say it's a bug in Qt basically I'm ok with either you guys closing this issue or re-labeling it as a Qt bug (perhaps there is value in keeping it open?).

Thanks so much for the research and hard work on it -- and for finding the workaround.  For my uses, the workaround is good enough.

[2019-05-22 14:11] dpizetta commented on #169
@goanpeca thanks for this finding. So, one more patch to our guide. I suggest we create two more tags: (qt problem, qt bug), and something like (needs code, needs a patch) to indicate that there is a solution using the code. What do you think?

@cculianu thanks for reporting :)

[2019-05-22 14:15] cculianu commented on #169
Thanks for the help and the workaround! :)

[2019-05-22 22:41] goanpeca commented on #169
@dpizetta sure, `qt bug` seems reasonable to me.

Now between these two options what do you prefer our users have to deal with?

- Setting a minimum width for comboboxes so text is not cropped
- Setting the StyleDelegate on Comboboxes

[2019-05-23 07:38] goanpeca commented on #171
@dridk I do not think that you can get those values from the qpalette. If you need to access the palette programmatically you can use

https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/master/qdarkstyle/palette.py

[code]

[2019-05-23 12:12] dpizetta commented on #169
@goanpeca, I'm more comfortable with the second option. Tks

[2019-05-23 21:29] dpizetta commented on #149
@goanpeca some questions, I've finished all svg files, however:

- We keep all svg images in the same size, e.g, 32x32px? For example, vertical line is 32x6px.
- The official size can be given in the style file in the case of proportion, e.g. 32x32px in the file, but using 12x12px for arrows for example. So we keep these files also with the same size?

The old rc files:
![image](https://user-image

[2019-05-23 21:48] goanpeca commented on #149
I would like to hace a fixed size if possible. Also depending on what the minimum size we aim for 24, 16, 32 ? We could make the images pixel perfect.

The standarized names is a welcome change :-)

[2019-05-23 23:00] dridk commented on #171
Hi, Thanks for your reply .
I just swtiched to qtmodern . I think you must follow the same pattern.
They first set a QPalette from Python and secondly access colors from qss file using the "palette" keyword .

[code]
https://github.com/gmarull/qtmodern/blob/master/qtmodern/resources/style.qss

So now, I can be agnostic from the style and get color from QPalette.

[2019-05-23 23:39] goanpeca commented on #171
Thanks for pointing to th-at . resource. Thoughts @dpizetta

[2019-05-24 02:37] dpizetta commented on #171
I'll take a look. Tks

[2019-05-24 13:47] #76 closed

[2019-05-24 21:44] SteveDoyle2 opened #172 "Load file dialog is not styled"
### Describe Your Environment

Please, report the output of the command:

`$ qdarkstyle --all`

Information about your current environment setup:
  - QDarkStyle: 2.6.8
  - OS: Windows 10 AMD64
  - Platform: win32
  - Python: 3.7.3.final.0
  - Python API: 1013
  - Binding in use:     Not set or nonexistent
  - Abstraction in use: Not set or nonexistent
  - qtpy (QT_API):                Not set or n

[2019-05-24 22:00] goanpeca commented on #172
Hi @SteveDoyle2 thanks for reporting. I am guessing you are using the static methods?

https://doc.qt.io/qt-5/qfiledialog.html#static-public-members ?

What happens if you create an instance first https://doc.qt.io/qt-5/qfiledialog.html#QFileDialog
And then click show() /exec_() ?

[2019-05-24 22:01] goanpeca commented on #172
Thanks for reporting @SteveDoyle2. Now, these dialogs are systems dialogs defined by the operating system, so there is no way for them to be styled with this theme unless you create your own custom file dialogs

[2019-05-24 22:02] dpizetta commented on #172
May you have to use, if not using, this option "DontUseNativeDialog". It seems that the dialog is opening from the native OS dialog (default behavior), which could be not themed.

Take a look: https://doc.qt.io/qt-5/qfiledialog.html#Option-enum

Tip: You can use in your Log Window the blue: R:0  G:51  B:78 which will give you better readability. Also matching with this red: R:96  G:33  B:36 - more

[2019-05-24 22:04] goanpeca commented on #172
Also, since you are probably using the static methods to all these dialogs, you cannot style them.

Perhaps trying
[code]

[2019-05-24 23:12] SteveDoyle2 commented on #172
Ahhh...that makes sense.  I tried the first option, which works, but the Windows Explorer aspect is lost.  The second doesn't quite work with my code as I'm using qtpy's getopenfilename method.

I'll play around with it, but thank you!  This is a very well done theme.

[2019-05-25 02:49] goanpeca commented on #78
@dpizetta, what kind of tests did you had in mind?

[2019-05-25 02:51] goanpeca commented on #149
Actually I think there is a reason for the dimensions of files that are not squared, so probably we need to keep those the same, with one side being 32 and the other whatever is needed to make the application look good.

The arrows are now looking weird on the file explorer (See the PR comment)

[2019-05-25 12:58] marcelomanzo opened #174 "Tooltip displays giant rectangle"
### Describe Your Environment
* OPERATING SYSTEM---------------------------------------------------------------
    - System........................ Windows
    - Release....................... 10
    - Platform...................... Windows-10-10.0.17763-SP0
    - Version....................... 10.0.17763
* PYTHON DISTRIBUTION------------------------------------------------------------
    - Vers

[2019-05-25 13:24] dpizetta commented on #174
Hi @marcelomanzo, wou that is weird. If I remember you are using the version from the github? If so, you can tell me which commit started/or which commit hash you are using right now? Thanks!

[2019-05-25 13:46] dpizetta opened #175 "Road map for the next versions"
Hi guys @ColinDuquesnoy @ccordoba12 @goanpeca. I'm thinking about changing the roadmap a bit as we have changed some points after the contributions from Spyder team started. Also, the v2.7 is getting bigger :)

Word establishments (I'll point this in the docs also):

- User: the user who will not change the style, but it still be a developer - of his/her software.
- Developer: the user who will ch

[2019-05-25 13:52] marcelomanzo commented on #174
I installed the version from pythonhosted andsame issue:
(srsvenv) C:\temp\srsvenv\Scripts>pip install qdarkstyle
Collecting qdarkstyle
  Using cached https://files.pythonhosted.org/packages/2b/ab/8996b69475feda604e8b2f60b7d3e48938c0e07f48532ee112ce097cc6de/QDarkStyle-2.6.8-py2.py3-none-any.whl
Installing collected packages: qdarkstyle
Successfully installed qdarkstyle-2.6.8
You are using pip vers

[2019-05-25 14:44] goanpeca commented on #175
This sounds like a solid plan lets try to commit to it :-)

[2019-05-26 02:42] marcelomanzo commented on #175
this sounds like a good plan, thanks a lot guys.

[2019-05-28 18:39] CAM-Gerlach opened #176 "Toggle icons are impossible to tell when enabled if the background color is the same as the button"
Opened on the direct request of @dpizetta .

If the background color of a pane happens to be the same as the button color, It is almost impossible to tell if toggle buttons are enabled or disabled, and they appear to be reversed from what a user might expect. Example:

Disabled:

![image](https://user-images.githubusercontent.com/17051931/57481142-761c1900-726f-11e9-836b-af5a2ba1d86f.png)

Enabled

[2019-05-29 13:33] dpizetta commented on #176
@CAM-Gerlach could you point to me in which widget is that buttons are (a piece of code would be useful too)? Ex. Inside qtabbar. Because I will change just this specific case to not match with the toolbar buttons. Tks

[2019-05-29 13:33] dpizetta commented on #175
I will apply those milestones :)

[2019-05-29 13:58] dpizetta commented on #78
@goanpeca sorry for the delayed answer.

May testing call all functions available with right and wrong parameters. Basic check to keep everything working using the tox + tests.

[2019-05-29 14:01] dpizetta commented on #82
Do you think it will works? Ok, maybe some drastic changes we can get with it, but I don't know if we can get minor changes and/or if the changes are/aren't intentionally created. However, sure we can use this as a warning for manual inspection.

[2019-05-29 14:03] dpizetta commented on #122
@goanpeca any thoughts about this? Tks

[2019-05-29 14:04] dpizetta commented on #131
@Khalilsqu any update? Tks

[2019-05-29 14:08] dpizetta commented on #149
See PR #173 discussion. Closing this as they are added in the PR.

[2019-05-29 14:08] #149 closed

[2019-05-29 14:18] dpizetta opened #177 "API changes - 2nd merge dev with master keeping changes from both"
Use previous dev code to update the master but keeping the main changes in the master.

[2019-05-29 14:21] dpizetta opened #178 "No API changes - 1st merge dev with master keeping changes from both"
Basically, update to use qtpy inside the code but with no api changes. Add qtpy dependency to users.

[2019-05-29 14:24] #162 closed

[2019-05-29 15:36] goanpeca commented on #122
No idea on the topic, would have to investigate

[2019-05-29 15:38] goanpeca commented on #82
On Circle CI we can add a workflow that could require manual approval for tests to pass. This could be used to check images?

[2019-05-29 15:39] goanpeca commented on #176
(The find/replace widget of the Spyder editor)

[2019-05-29 20:55] Khalilsqu commented on #131
sorry I got really busy with my PhD, I will update you this week. This is some miner change I am trying to implement into Spyder-IDE, it works well without dark them but fails otherwise.

[2019-05-30 18:09] dpizetta opened #179 "Change menu background color to match toolbar color"
It is difficult to see the menu when it is open. It is a common thing menu having the same color as the toolbar. The example is Spyder but, other applications have the same problem.

![Screenshot Linux 2019-05-30 15 04 24](https://user-images.githubusercontent.com/5084939/58653785-d80af400-82ec-11e9-9af5-4dc5161b2408.png)

![Screenshot Linux 2019-05-30 15 08 00](https://user-images.githubuserconte

[2019-05-31 13:55] dpizetta commented on #82
I think so, good idea! I'll check if Travis CI also has this feature, as we are currently using. Do you think Circle CI is better than Travis (or easy, I'm not a real fan of Travis).

[2019-05-31 14:34] goanpeca commented on #82
Well travis is easier to setup, but I think circleci is more powerful and it runs faster than Travis (the whole startup process of the containers)

[2019-05-31 14:43] dpizetta opened #180 "Improve headers"
Improve header's separation, increase the minimum separation and remove the line splitter from it.

![Screenshot Linux 2019-05-31 11 39 02](https://user-images.githubusercontent.com/5084939/58713554-3097cb00-8399-11e9-803e-f43f58389291.png)

[2019-06-01 01:36] #179 closed

[2019-06-01 01:36] #180 closed

[2019-06-01 02:33] #159 closed

[2019-06-01 02:36] dpizetta commented on #159
@SomberNight could you try this commit using 2px? Changing to 0px generate problems in the example also using min-height. Tks

[2019-06-01 03:17] #176 closed

[2019-06-01 03:20] dpizetta commented on #174
@marcelomanzo  can you test using the example provided in qdarkstyle if you can reproduce this? The push button has a tooltip. I can't reproduce here with my machine. Tks

[2019-06-01 03:24] dpizetta commented on #170
@goanpeca  If you have not worked on it yet, I can make those changes :) Could you take a look in the current version on repo if they are ok with both example interface and spyder? So we can create a new release :) Tks

[2019-06-01 03:52] goanpeca commented on #170
I am out right now, I can do it tomorrow! (sorry I forgot about this issue :-|, if you could work on it that would be great!

[2019-06-01 18:08] dpizetta commented on #170
No problems, I take care!

[2019-06-01 19:09] #170 closed

[2019-06-01 20:02] dpizetta commented on #175
@goanpeca  could you take a look in  behavior  of the latest version on spyder? I think that is ok about the buttons. So, we can create a new release for v2.7 if it is ok :) Tks

[2019-06-01 22:13] goanpeca commented on #175
Yes i can, doing it now

[2019-06-01 22:20] goanpeca commented on #175
<img width="1440" alt="Screen Shot 2019-06-01 at 17 18 11" src="https://user-images.githubusercontent.com/3627835/58754222-425c9980-8491-11e9-8bde-f67c1de35b0d.png">

@dpizetta things are looking good :-p

Only the close in the tabs is a bit too small, but maybe we are adding a custom CSS and that is why

<img width="160" alt="Screen Shot 2019-06-01 at 17 19 05" src="https://user-images.githubuser

[2019-06-02 00:15] marcelomanzo commented on #170
it's working now, thanks!

[2019-06-02 00:49] dpizetta commented on #175
@goanpeca  Tks! Updating to master branch both qdarkstyle and spyder, reseting everything I get this:
I only see some croped parts, but depends on the dock I already reported in spyder tracker.

![master-spyder-master-qdarkstyle](https://user-images.githubusercontent.com/5084939/58755269-be1d0d00-84b6-11e9-89c2-c26c89172cb2.gif)

I recommend you to test those issues with your example to see if it

[2019-06-02 01:12] dpizetta commented on #174
Changing the milestone to try to reproduce the problem.

[2019-06-02 01:52] marcelomanzo commented on #174
issue still there, I will try to get a sample code for you

[2019-06-03 18:24] dpizetta commented on #175
Hi @goanpeca, just to let you know and to keep the repo more organized, I created a new branch "develop" for the latest development. The branch "dev" I will merge with the develop" and then kill it : 0. So we keep the master only for stable versions. Tags will be pushed to master also. We can create temp branches for release too, following gitflow. Suggestions?

[2019-06-03 19:51] goanpeca commented on #175
Sounds good to me :-)

[2019-06-03 20:31] jnsebgosselin opened #181 "Toolbuton size without border is smaller then with border causing UI misalignment and flickering"
I think the changes introduced in https://github.com/ColinDuquesnoy/QDarkStyleSheet/commit/7d1eab947d758ef6a773c48e36feabd3245b8160 is a nice improvement.

However, now buttons without a border are smaller than those with a border, so this cause some misalignment in the UI.

Also, it cause some flickering of the icon and label position when hovering the mouse over the button due to the UI adjustin

[2019-06-04 12:44] dpizetta commented on #181
Oh, OK, I'll fix it. Tks

[2019-06-04 18:34] SomberNight opened #182 "Helpdev package became a mandatory dependency, make it optional"
The `helpdev` package was introduced as a mandatory dependency for 2.7, in https://github.com/ColinDuquesnoy/QDarkStyleSheet/issues/147
Along with `helpdev`, this pulls in `importlib-metadata`, `psutil`, and `zipp` as indirect dependencies.

It seems to me that `helpdev` is only used for diagnostics/bug reports.
Would it be possible to turn it into an optional dependency instead?

[2019-06-04 18:43] SomberNight commented on #159
I've tested with version 2.7 from PyPI. Seems to work. Thanks!

[2019-06-04 19:23] dpizetta commented on #182
We can study this in the v2.8, as we will introduce qtpy as mandatory to simplify many things in the code (as seen in the develop branch). As we won't use directly the bindings, the other functions of helpdev won't be needed except for reports.

[2019-06-05 10:55] teemu-l commented on #174
I have the same problem here: https://github.com/teemu-l/execution-trace-viewer

Win10, Python 3.7, PyQt5 5.12.2, QDarkStyle 2.7

[2019-06-05 17:18] dpizetta opened #183 "Spacing for tool buttons in/out toolbar"
Problems:
- Tool buttons have no space between them.
- Developers can change the spacing of UI for its application, and it must be responsive to it.

Options, that can be applied for toolbars only or for all:

- Use spacing of 2px;
- Use the margin of 2px;

This discussion was raised in [Spyder PR #9452](https://github.com/spyder-ide/spyder/pull/9452) we should ref. the messages here.

[2019-06-05 17:24] dpizetta opened #184 "Vertical/Horizontal lines should be a line, current it is a thin frame"
Related to [Spyder PR #9452](https://github.com/spyder-ide/spyder/pull/9452).

![Screenshot Linux 2019-06-04 09 48 04](https://user-images.githubusercontent.com/5084939/58976283-74297500-879d-11e9-8f9a-6ea40061cd04.png)

Which is also wrong in our example:

![Screenshot Linux 2019-06-05 14 21 34](https://user-images.githubusercontent.com/5084939/58976288-7986bf80-879d-11e9-9144-5a79ec8ca486.png)

[2019-06-05 17:29] dpizetta commented on #178
Started with 61911c8829d72bab5a5a682e970ce765dfd99c73 and finished in 40448c50e252524d6532534c9460df51b01b5975.

[2019-06-05 17:29] #178 closed

[2019-06-05 17:49] dpizetta opened #185 "Application palette patches not being applied - order dependent"
Our function to get the stylesheet should be used after qapp.

However, when the function to load_stylesheet() is called, it try's to apply the patches, including some using the QAPP instance, which could cause the app not be found if it as used before the instance.

Function used before qapp:

[code]
Function used after qapp:

[code]

So, we can just put a message that it should be used after the

[2019-06-05 17:54] dpizetta opened #186 "Relation between Qdark and QtPy PR - avoiding problems"
We use qtpy as an abstraction layer to avoid many files, or tests to be done (It was discussed with @ColinDuquesnoy some time ago).

As seen in branch develop, the code is prettier and clean with this change. Also, I've added qtpy to be imported inside the function, so there is no problem to import qdarkstyle and then set your QT_API variable.

May we need to treat all possible cases to make sure

[2019-06-06 08:51] ccordoba12 commented on #186
@dpizetta, we're happy to help you with that PR. I think it's a very good addition because it'll avoid qtpy to rely on the sequential ordering of importing bindings that we have right now.

I'll try to give you a review this weekend.

[2019-06-07 08:30] LewisCarney commented on #174
For some reason the opacity value seems to be causing the issue. I made this workaround which might help for now:

x = qdarkstyle.load_stylesheet_pyside2()
x = x.replace(
            "QToolTip {\n    background-color: #148CD2;\n    border: 1px solid #19232D;\n    color: #19232D;\n    padding: 0;   /*remove padding, for fix combo box tooltip*/\n    opacity: 230; /*reducing transparency to read bett

[2019-06-07 20:08] jnsebgosselin opened #187 "QToolbutton style when popup mode is set to InstantPopup"
### Describe Your Environment

- QDarkStyle: latest master  at https://github.com/ColinDuquesnoy/QDarkStyleSheet/commit/c92d0c4c996e3e859134492e0f9f7f74bd0e12cd

- Python 3.7.1 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Windows 10

### Language

[Python]

### Description / Steps to Reproduce [if necessary]

Set the `PopupMode` of a `QToolButton` to `QToolButton.InstantPopup`

### Actual Result

![toolbutto

[2019-06-07 21:12] goanpeca commented on #187
@jnsebgosselin you mean that the `toolbutton3.setPopupMode(QToolButton.InstantPopup)` is not being styled consistently (without the border as the other two) and should?

[2019-06-07 21:14] jnsebgosselin commented on #187
Yes exactly. This is why the `options_button` are not styled consistently with the other toolbuttons in Spyder.

[2019-06-07 21:17] goanpeca commented on #187
Nice catch!

[2019-06-10 18:28] jnsebgosselin commented on #187
I will try to fix that and submit a PR. I'm in the process of figuring out how.

[2019-06-10 18:32] jnsebgosselin commented on #187
https://doc.qt.io/qt-5/qtoolbutton.html#ToolButtonPopupMode-enum

![image](https://user-images.githubusercontent.com/10170372/59217708-900d8c00-8b8c-11e9-8bb8-3ca004306801.png)

[2019-06-10 18:57] dpizetta commented on #187
Hi, I was working on that right now, that is pretty simple to change, here is the code. Check out the gif and lines:

![Peek 2019-06-10 15-56](https://user-images.githubusercontent.com/5084939/59219281-7a05c880-8b98-11e9-9885-400462f5be93.gif)

[code]

[2019-06-10 19:00] jnsebgosselin commented on #187
@dpizetta ok this is cool then. I will surely have the opportunity to learn how to contribute on another easy issue at some point.

[2019-06-10 19:02] jnsebgosselin commented on #187
I think there is no need to add extra padding for `DelayedPopup` and `InstantPopup` mode, only the `MenuButtonPopup` should need it, because this mode add an extra button to the toolbutton.

[2019-06-10 19:05] jnsebgosselin commented on #187
This is how this looks with the WindowsVista theme:

![image](https://user-images.githubusercontent.com/10170372/59219750-38bdea80-8b91-11e9-9800-2e5848ab00f0.png)

[2019-06-10 19:57] dpizetta commented on #187
Oh, great! Take a look here:

![Peek 2019-06-10 16-33](https://user-images.githubusercontent.com/5084939/59221482-bd166a80-8b9d-11e9-8138-41ee953ef438.gif)

[code]

[2019-06-10 19:59] dpizetta commented on #187
Oh, great! Take a look here. Thank you for the example, I'll add to our example too.

![Peek 2019-06-10 16-55](https://user-images.githubusercontent.com/5084939/59222883-ef759700-8ba0-11e9-8b5d-e9c8925124df.gif)

[code]

[2019-06-10 20:19] jnsebgosselin commented on #187
This looks great!

Here is an update version of my example:

[code]

[2019-06-11 23:36] jnsebgosselin commented on #181
@dpizetta To solve this, you need to add `border: 1px solid transparent;` to the stylesheet of the Toolbutton.

[code]

[2019-06-13 04:31] goanpeca opened #188 "QTextEdit inside tabs not displaying border"
### Describe Your Environment

Please, report the output of the command (from v2.6+) or fill the information below:

`$ qdarkstyle --all`

Or use the helpdev if you have

`$ helpdev`

[Versions from your environment]

- QDarkStyle: 2.7
- OS: OSX
- Python: 3.7

[If used, please inform their versions]

- PySide:
- PyQt:
- PyQtGraph:
- QtPy:
- QT_API:
- PYQTGRAPH_QT_LIB:

### Language

[Python] or [C

[2019-06-13 13:03] dpizetta commented on #181
@jnsebgosselin tks, I'll add soon!

[2019-06-13 17:44] dpizetta opened #189 "Tab corners are cut, qwidget may not have rounded borders"
Borders corners are cut

![Screenshot Linux 2019-06-13 14 40 19](https://user-images.githubusercontent.com/5084939/59454997-aebc8e80-8de9-11e9-8dc7-e8abb7e8fe5a.png)

Fixed with

![Screenshot Linux 2019-06-13 14 39 38](https://user-images.githubusercontent.com/5084939/59455004-b3814280-8de9-11e9-8174-51d07b3b6c5e.png)

[code]

[2019-06-13 18:14] goanpeca commented on #189
@dpizetta I think we should use a padding that is based on the border radius variable

something like

[code]

[2019-06-13 18:26] dpizetta commented on #189
@goanpeca yeah, we can add that also :)

[2019-06-13 18:46] dpizetta commented on #188
@goanpeca Could you test the latest develop commit?  I've tested here but I got a different result from yours. May it is a mac issue too. I compared to line edit in the gif. Tks

![Peek 2019-06-13 15-44](https://user-images.githubusercontent.com/5084939/59459109-66ee3500-8df2-11e9-8c91-0aa0f9ce81c5.gif)

[2019-06-13 18:54] dpizetta opened #190 "Revise scss file to use variables instead of direct values"
As mentioned by @goanpeca  in #188, we need to check and use variables in the scss file

padding: 2px; >> padding: $SIZE_BORDER_RADIUS/2;

We can do it when revising and enhance the style file. The time-consuming task here is to check the values if they are necessary, right or not.

[2019-06-13 19:07] goanpeca commented on #190
@dpizetta for that specific case I think it made sense

padding: 2px; >> padding: $SIZE_BORDER_RADIUS/2;

Because having the radius was resulting in the weird border behavior. Not saying we should use that always :-p

[2019-06-13 19:08] goanpeca commented on #188
I will check with develop @dpizetta thanks!

[2019-06-15 14:13] PaTiToMaSteR commented on #174
@LewisCarney that's the solution, but in the current source code doesn't fit that long text, my change was:
[code]
Hope it help someone!
Thank you all!

[2019-06-17 19:27] dpizetta commented on #189
The padding was already set to that value, but just that was not enough to not cut the borders. So, applying the radius to the widget corrected this problem.

[2019-06-18 03:31] dpizetta commented on #174
Can you try to substitute this:

"QToolTip {\n background-color: #148CD2;\n border: 1px solid #19232D;\n color: #19232D;\n padding: 0; /remove padding, for fix combo box tooltip/\n opacity: 230; /reducing transparency to read better/\n}"

**For this (hex with opacity):**

"QToolTip {\n background-color: #148CD2E6;\n border: 1px solid #19232D;\n color: #19232D;\n padding: 0; /remove padding, for fi

[2019-06-18 09:47] ccordoba12 opened #191 "Dropdown menus are not looking well in PyQt 5.12"
### Describe Your Environment

Please, report the output of the command (from v2.6+) or fill the information below:

- QDarkStyle: 2.7
- OS: Linux
- Python: 3.6
- PyQt: 5.12
- QtPy: 1.8
- QT_API: pyqt5

### Language

Python

### Description / Steps to Reproduce [if necessary]

All entries in dropdown menus have a big blank space to its left when using PyQt 5.12

### Actual Result

![Selección_012]

[2019-06-18 12:28] dpizetta commented on #191
Maybe related to #169 and/or including a patch in **_apply_version_patches()**. Could you take care of both @goanpeca? Tks @ccordoba12

PS: those white corners are annoying. May some widget that has no border radius that is being expanded?

[2019-06-18 12:54] dpizetta commented on #175
@goanpeca I think we are close to releasing v2.8. Most of the bugs were closed and I'm working on the #160.
Could you check mainly the proposed solutions for #188, #184, #183, #174, and discussion of #135. And take care of #169, #191.
Tks

[2019-06-18 13:34] goanpeca commented on #191
Hi @dpizetta I am checking this one out, to see what was the change on 5.12. Otherwise I will just use the combobox styledelegate fix on Spyder directly.

Yeah, not sure what might be the issue here

[2019-06-18 13:36] goanpeca commented on #175
Will do @dpizetta

[2019-06-18 16:21] goanpeca commented on #188
@dpizetta I am getting this error with latest `develop`

[code]

[2019-06-18 16:50] goanpeca commented on #188
@dpizetta with latest develop I can confirm that this is no longer an issue.

<img width="858" alt="Screen Shot 2019-06-18 at 11 47 35" src="https://user-images.githubusercontent.com/3627835/59703292-30803380-91bf-11e9-8b10-ec5bcb1aa91e.png">

[2019-06-18 19:37] dpizetta opened #192 "Create icons to replace dialog icons"
Original icons are strange and they don't match the style provided. As we have the svg files for everything, it will be easy to create those new ones.

![Screenshot Linux 2019-06-18 16 31 19](https://user-images.githubusercontent.com/5084939/59713962-eca12480-91e6-11e9-9929-d8bc3d2c40be.png)

This probably will fix the docks icons too. The complete list can be found here:

https://doc.qt.io/qt-5/s

[2019-06-18 20:26] dpizetta commented on #191
Ok!

Me too. They are tricky.

I keep the options for combo box without rounded corners like submenus. So, we can cover that problem.

[2019-06-18 20:32] dpizetta commented on #188
Oh, great!

[2019-06-18 21:03] dpizetta commented on #188
At the beginning yes, because we have already put compiled files there, .qss and _rc.py.

Another option is to include this if the package was installed with extras develop. I need to check if it is possible to differentiate those installations (as we will need the tools to work with it).

[2019-06-21 20:49] Khalilsqu commented on #131
Sorry for my late response, I by mistake deleted the branch I was working on, I am also quite busy with my PhD,

I am trying to right justify item in all menus, Context menu and actions in Spyder-ide. I can make it works when not using dark interfaces but never managed otherwise.

[Then I read this warning in QWidget documentation.](https://doc.qt.io/archives/qt-4.8/stylesheet.html)

**Warning: Qt

[2019-06-22 13:16] dpizetta commented on #160
It seems to be working :) https://travis-ci.org/ColinDuquesnoy/QDarkStyleSheet/jobs/549093949

[2019-06-24 17:38] dpizetta commented on #185
Added a better message in the log. May we add a warning if necessary.

[2019-06-24 17:38] #185 closed

[2019-06-24 17:40] dpizetta commented on #172
@goanpeca could you add this issue to [ known-issues](https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/develop/docs/known_issues.rst)? Tks :)

[2019-06-24 17:43] dpizetta commented on #169
@goanpeca could you add this issue to [ known-issues](https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/develop/docs/known_issues.rst) and/or insert the patch in the code? Tks :) I think this is the last one to the release :)

[2019-06-24 17:44] #189 closed

[2019-06-24 17:44] #184 closed

[2019-06-24 17:44] #183 closed

[2019-06-24 17:45] #181 closed

[2019-06-24 18:10] goanpeca commented on #172
I think this not really an issue. I think it is expected that when using OS system dialogs they should look like the OS mandates.

[2019-06-25 11:51] dpizetta commented on #172
Oh, yeah, I agree, but this may avoid users asking about it. Do you think worth it to write about? If not, we can close this issue :) Tks

[2019-06-25 11:55] #187 closed

[2019-06-25 12:03] dpizetta commented on #188
I'll open a new issue for the package_data and what we need to include.

[2019-06-25 12:03] #188 closed

[2019-06-25 12:44] dpizetta opened #193 "What to include in package - data, example, scripts, tests"
Considering the issue raised by @goanpeca  in #188, some things need to be updated.

There is a MANIFEST.in in the repo:

- We can update it, following some better rules such as [this](https://blog.ionelmc.ro/presentations/packaging/#slide:15) and add [check for manifest](https://github.com/mgedmin/check-manifest);

- Remove MANIFEST and use [setuptools_scm](https://github.com/pypa/setuptools_scm)

[2019-06-25 12:50] goanpeca commented on #172
Hmm ok yes in that case it makes sense where should I write about this?

[2019-06-25 13:01] dpizetta commented on #172
We have a file for known issues in docs https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/develop/docs/known_issues.rst :)

[2019-06-25 17:31] jnsebgosselin opened #194 "QPushButton minimum size"
## Describe Your Environment

- QDarkStyle: latest develop at https://github.com/ColinDuquesnoy/QDarkStyleSheet/commit/0b854734c62f65fe7d9520faf4a3ca0bddeeac98
- Python 3.7.1 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Windows 10

### Language

[Python]

### Description / Steps to Reproduce [if necessary]

`QPushButton`  doesn't seem to have any minimum width value under the dark style theme and the minimum

[2019-06-25 19:46] goanpeca commented on #194
This depends if we want to make this style follow the os or not. On macos the small buttons are in line with how the OS looks.

[2019-06-25 19:56] jnsebgosselin commented on #194
Can you show a screenshot of the above code results with the macOS theme please?

[2019-06-25 20:10] goanpeca commented on #169
@ccordoba12  I have been struggling all morning with this issue. I found: https://bugreports.qt.io/browse/QTBUG-30282

[2019-06-25 20:14] jnsebgosselin commented on #194
@goanpeca I agree that we are not forced to make the style follow the OS and that it is more a matter of taste than an actual bug.

IMO, the width of the PushButton with the `OK` label is too small, hard to click on and look silly. It probably looks like that to me because I'm used to see dialog buttons with uniform width on Windows.

[2019-06-25 21:29] goanpeca commented on #169
Ok I found a solution. Seems to be a persistent problem on Mac. I will open a PR for the suggested fix to this issue

[2019-06-26 13:19] dpizetta commented on #169
Thank you @goanpeca !

[2019-06-26 13:22] dpizetta commented on #169
Also, may we need to add to your example another combo box (editable/non-editable) with icons to keep comparison. Can you do it or would you like me to add those?

[2019-06-26 14:52] goanpeca commented on #169
Haha I just told you this over the PR on spyder. I think we could have a combobox that mixes items with and without icons? instead of a combobox with only icons and one without icons?

Could you do this? I tried to open the ui files and I got some error with QtDesigner

[2019-06-26 23:25] goanpeca commented on #193
@dpizetta we need two parts:

`MANIFEST.in` (which handles what gets packaged in the dist)

and

[code]

Which handles what gets installed, so I think we should do both. I can open a PR ;-)

[2019-06-27 13:03] dpizetta commented on #194
@jnsebgosselin In my opinion, it is a good idea to keep at least a minimum size for dialog buttons, but on the other side, I agree with @goanpeca. However, some checks are needed because I remember that I removed the min-width in some place because of some bug. I can check this. I'll mark to 2.9, so we can discuss more, and as @goanpeca said, we need to choose with we will follow the OS or not.

[2019-06-27 13:09] dpizetta commented on #193
@goanpeca I'm regarding this sentence of the links I've put above:

[code]

I need to check more sources, including official ones as PEP8 and description of setup_tools to see what is recommended for an up to date format. Do you have some up to date information about it?

[2019-06-27 13:13] dpizetta commented on #169
Heheh, yeap, almost an identical sentence hehehe.

Ok, nice. I do it :)

[2019-06-27 13:25] goanpeca commented on #193
Hmmm maybe something changed haha. I will read what the latest standard suggestions are.

[2019-06-27 16:27] jnsebgosselin commented on #194
Ok thanks. I'm still waiting for @goanpeca screenshot :P I do not have access to a mac, but from what I can see with a little google search, there seems to be a minimum width for the dialog buttons in macOS too.

I totally agree with the fact that we do not need to follow the OS here.

I do believe however that the defaults used by the most popular OSes are the results of years of work by people t

[2019-06-27 16:29] goanpeca commented on #194
My bad @jnsebgosselin

<img width="414" alt="Screen Shot 2019-06-27 at 11 28 44" src="https://user-images.githubusercontent.com/3627835/60283453-c5291680-98ce-11e9-8e83-f998547fefbe.png">

There is indeed a minimum size on mac!

[2019-06-27 16:37] goanpeca commented on #193
Since we are using setuptools then

I would use that: use the easiest (MANIFEST.in + include_package_data=True)

[2019-07-01 11:40] Khalilsqu commented on #131
I submitted a [PR](https://github.com/spyder-ide/spyder/pull/9726) to Spyder repo.

[2019-07-01 12:48] dpizetta commented on #131
No problems @Khalilsqu , tks for informing us!

[2019-07-01 12:48] #131 closed

[2019-07-03 11:39] X-Crack opened #195 "Qt5.12.4 There may be problems."
Qt 5.12.4

I don't know why.
I think this is very likely to be Qt's own bug.
But the problem does appear.
Can you solve it?

Debugging version
![1](https://user-images.githubusercontent.com/45416520/60588645-0edf9880-9dca-11e9-9fd4-4396abc8322f.png)
Release version
![2](https://user-images.githubusercontent.com/45416520/60588650-1010c580-9dca-11e9-885d-5f59b746a4c8.png)

[2019-07-05 11:44] Daguerreo opened #196 "Compatibility with custom widget with paintEvent"
I'm using [QxtSpanSlider](https://libqxt.bitbucket.io/doc/tip/qxtspanslider.html) in my project which is implemented with a custom paint event.

Using QDarkStyleSheet second handle disappear. I tried setting a null stylesheet to the slider and commenting the styelsheet for QSlider but it still does not render properly.

There is a way or a workaround to deal with custom widget?

[2019-07-07 10:05] #191 closed

[2019-07-07 17:40] goanpeca opened #199 "Pane tab label cropped on activation"
### Issue Report Checklist

* [x] Searched the [issues page](https://github.com/spyder-ide/spyder/issues?q=is%3Aissue) for similar reports
* [x] Read the relevant sections of the [Spyder Troubleshooting Guide](https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ) and followed its advice
* [x] Reproduced the issue after updating with ``conda update spyder`` (or ``pip``, if not us

[2019-07-12 02:52] jkulskis opened #200 "QComboBox expands the last chosen item"
### Describe Your Environment

Please, report the output of the command (from v2.6+):

`$ qdarkstyle --all`
[code]

[Versions from your environment]

- QDarkStyle: 2.7
- OS: Linux Mint 19.1 Tessa
- Python: 3.6.8
- PySide2: 5.13

### Language

Python

### Description / Steps to Reproduce [if necessary]

Relevant UI setup code I used to add the combo box (generated by pyuic5) with a Dialog creation

[2019-07-12 04:11] goanpeca commented on #200
@jkulskis could you try doing something like setting a styled delegate for the combo box?

[code]

[2019-07-12 04:37] jkulskis commented on #200
@goanpeca This fixed the extra expansion, but now the combobox opens much higher than the dialog window instead of as a dropdown.

**Unopened:**
![Unopened Combobox](https://i.imgur.com/30sKMZI.png)

**Opened**
![Opened Combobox](https://i.imgur.com/tv8CohR.png)

[2019-07-12 04:53] goanpeca commented on #200
Ok! We will see how we can fix that. Thanks for testing.

[2019-07-12 04:56] jkulskis commented on #200
Thank you for the quick help!

[2019-07-12 08:10] MostHated opened #201 "Quick question about usage"
Hey there,
 I don't have any actual issue, I am just new to Qt. I was wondering if it's possible to use this package/style with the Go bindings for Qt? I started making an application using this https://github.com/therecipe/qt and while looking up examples of things I came across this repo and really liked the look, so I was just hoping it might be something I would be able to use.

Thanks!
-MH

[2019-07-19 23:31] oscargus opened #202 "Size of active vs non-active toolbuttons"
QDarkStyle 0.27
Qt 5.9.6
PyQt 5.9.2

Based on latest master build of Spyder (see https://github.com/spyder-ide/spyder/issues/9772 for a bit more background)

### Description / Steps to Reproduce [if necessary]

The size of active vs non-active toolbuttons differs. This is probably not an issue in many cases, but in toolbars where they often change between active and non-active it brings some "visu

[2019-07-28 12:25] ok97465 opened #203 "The tabbar of 2.6.8 and tabbar of 2.7.0 is different if tabposition is west or east."
### Describe Your Environment

* OPERATING SYSTEM---------------------------------------------------------------
    - System........................ Linux
    - Release....................... 4.20.17-1-MANJARO
    - Platform...................... Linux-4.20.17-1-MANJARO-x86_64-with-arch-Manjaro-Linux
    - Version....................... #1 SMP PREEMPT Tue Mar 19 18:07:36 UTC 2019
* PYTHON DISTRIB

[2019-07-30 20:37] dpizetta commented on #203
It is fixed in v2.8, look https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/develop/images/dark_containers_tabs_displays.png

Tks

[2019-07-30 20:37] #203 closed

[2019-08-17 10:38] cculianu commented on #200
Note this also happens on macOS -- same thing. Screenshot attached.

It doesn't happen with PyQt5 5.12.x, but happens only starting with PyQt5 5.13.x.

So the issue is not PySide-specific nor PyQt5 specific -- but rather depends on the underlying Qt version.  (Works on 5.12, broken on 5.13).

# Screenshot

![photo_2019-08-17 13 37 46](https://user-images.githubusercontent.com/266627/63210209-37122

[2019-09-07 16:13] gokerguner opened #204 "Installation error with gcc"
I've tried this package with "pip install qdarkstyle" command. Then, I take an error such as
` /Users/goker/miniconda3/lib/gcc/x86_64-apple-darwin11.4.2/4.8.5/include-fixed/limits.h:168:61: fatal error: limits.h: No such file or directory
   #include_next <limits.h>  /* recurse down to the real one */
                                                               ^
  compilation terminated.
  erro

[2019-09-11 14:50] dalthviz opened #205 "White vertical lines between items of QStatusBar"
### Actual Result
Basically when using the dark theme the lines are more visible (since they are white). With the light theme the lines are also visible but are light gray:

![image](https://user-images.githubusercontent.com/16781833/64629108-39486600-d3b8-11e9-87d8-94e8051c9ac3.png)

![image](https://user-images.githubusercontent.com/16781833/64629001-07cf9a80-d3b8-11e9-9e5a-52bc94c7557f.png)

_O

[2019-09-19 21:09] tissy9491 opened #206 "Support Python3"
In order to ensure the py3 support, my idea is to futurize qdarksylesheet. Is already written in py3?

[2019-09-20 10:21] ccordoba12 commented on #206
This package support both Python 2 and 3 at the moment.

[2019-09-20 11:09] tissy9491 commented on #206
Thank you for your reply.

[2019-09-20 12:04] goanpeca commented on #206
Closing then!

[2019-09-20 12:04] #206 closed

[2019-10-04 17:09] asch99 commented on #200
This issue can be fixed by adding one line in style.qss and recompiling:
add the line
[code]

to QComboBox::item:checked

so it reads
[code]
Do you want a PR for this? And if so, a PR with just this modified file, or do you want all recompiled rc files too?

[2019-10-04 19:14] cculianu commented on #200
On Mojave with PyQt5 5.13.1 this still happens -- but with this fix it does not. Note that 14px for me looks better. But 12px is pretty good too.

Consider adding this or something similar ...

[2019-10-07 12:01] Sonicsystem opened #207 "QSplitter::separator in style.css should probably be ::handle"
Hello,

as the title says, I was confused about the fact that there was no visual representation of my QSplitter handle (maybe this is intended!)

I found out that the style.css uses the subcontrol QSplitter::separator, which according to the Qt documentation should not exist for a QSplitter and should be renamed to QSplitter::handle instead.

Reference - look at '::handle' in the following refere

[2019-10-10 07:33] bill68551632 opened #208 "Background in the main window title is not dark"
I need，the title background of the mainwindows is black, but run example.py, the color is not black

[2019-11-07 05:56] tanimislam commented on #200
I also see thiis issue with the ``PyQt5`` style sheet.

[2019-11-12 17:38] jnsebgosselin opened #209 "The style of active and non active items in table and list views is the same"
### Description

There is actually no distinction in the style of active and not active items in table and list views. Below is an example for the project plugin and keyboard shortcuts preference  dialog in Spyder using the darkstyle and windows vista style.

I think this would be a good idea to define a separate style for the not active items of table and list views.

![image](https://user-images

[2019-11-12 18:34] goanpeca commented on #209
@dpizetta with the upcoming release of spyder 4 it would be great to have a new release of QDark, any thoughts?

[2019-11-19 14:07] dpizetta commented on #209
@goanpeca sorry for the late response. About the release, yes, we can schedule it for the end of this month, what you think?

[2019-11-19 14:12] dpizetta commented on #207
Thanks for your comments. I'll take a look.

[2019-11-19 14:16] dpizetta commented on #208
Actually, the external theme is controlled by the OS, we have no control over it. Tks

[2019-11-19 14:16] #208 closed

[2019-11-19 14:18] dpizetta commented on #205
Tks for sending us your feedback.

[2019-11-19 14:19] dpizetta commented on #200
@goanpeca could you take a look at that? Tks

[2019-11-19 14:24] goanpeca commented on #209
Yes, that would be great!

[2019-11-19 14:27] dpizetta commented on #209
I'll be working on qdark at night for those two weeks :)

[2019-11-19 14:30] goanpeca commented on #200
Will do!

QComboBoxes are a headache to style right :-| !

[2019-11-19 14:32] dpizetta commented on #200
I see :( Thank you!

[2019-11-22 22:35] dirkpitt2050 opened #210 "Vertical QToolBar move handle uses horizontal image"
### Describe Your Environment

[Versions from your environment]

- QDarkStyle: Git master branch
- OS: all
- Python: all

### Language

All

### Description / Steps to Reproduce [if necessary]

[Description of the issue]

Vertical QToolBar move handle uses horizontal resource image. In qdarkstyle/qss/_styles.scss:

[code]

### Actual Result

Vertical QToolBar handle uses horizontal image.

### Exp

[2019-11-22 23:20] goanpeca commented on #210
Thanks! we will fix this!

[2019-11-25 19:51] jnsebgosselin opened #211 "There is no style for focused or default button"
[Versions from your environment]

- QDarkStyle: commit 716979b7226949053ce387a89c034d933eba4bc8 on develop
- Python 3.7.3 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Windows 10
- Python: 3.7

There is actually no visual indicator for `focused` or `default` button in qdarkstyle. This makes navigating through the interface with the keyboard very hard because there is no way to know which button is focused and

[2019-11-26 20:56] mikeleppane commented on #200
I was also having this same problem with QComboBox. First I tried adding that height property like @asch99 recommended. I could not get it to work. Then I tried that original solution what  @goanpeca suggested which is setting that styled delegate to ComboBox. That solution worked perfectly for me!

My environment is as follows:
- QDarkStyle: 2.7
- OS: Linux Ubuntu 18.04.3 LTS
- Python: 3.6.8
- Py

[2019-11-26 21:37] asch99 commented on #200
Yeah, I agree that my proposed solution does not seems to be the one-fix-for-all solution. What works reliably (so far) for me is to either modify the stylesheet of the combobox itself, or of the parent container.

E.g. having an QApplication with a QTabWidget, containing (as a tab) a QWidget, containing a QComboBox then modifying the stylesheet of the QWidget or the QCombobox fixes the problem. H

[2019-11-28 18:45] jnsebgosselin opened #212 "Impossible to change the color of the text of QTabBar with setTabTextColor"
[Versions from your environment]

- QDarkStyle: commit 716979b7226949053ce387a89c034d933eba4bc8 on develop
- Python 3.7.3 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Windows 10
- Python: 3.7

Setting the color of the text of individual tab in QTabBar with [QTabBar.setTabTextColor](https://doc.qt.io/qt-5/qtabbar.html#setTabTextColor) is not working when using qdarkstyle

Below I present an example that demon

[2019-12-07 13:23] marcelomanzo opened #213 "Intermittent - Window objects become white from time to time"
I'm using the following version:
https://github.com/ColinDuquesnoy/QDarkStyleSheet/archive/develop.zip

From time to time, my objects become white like this:
![image](https://user-images.githubusercontent.com/12878783/70375332-a04bbd00-18ca-11ea-95d9-439444a575e5.png)

Any idea what could be causing it, any command I could invoke to repaint?

Thanks!

[2019-12-07 13:24] marcelomanzo commented on #213
Just for reference this is the normal state of the window:
![image](https://user-images.githubusercontent.com/12878783/70375356-f3257480-18ca-11ea-9223-5ffb882bcd46.png)

[2020-01-06 21:56] brezniczky commented on #211
Quite a problem - appears to also apply to Ubuntu 16.04.1, PySide2 5.14, Python 3.5.2.

[2020-01-09 17:41] dpizetta commented on #201
Hi, if you use just the stylesheet provided by our project, yes you can and most of widgets will be styled like ours. Some fixes are provided for specific cases and packages that you will need to handle if necessary, but it is less than 1% of work. Search by setting stylesheet using Qt, the best option. Tks

[2020-01-09 17:41] #201 closed

[2020-01-09 17:43] MostHated commented on #201
No worries, I ended up switching over to using Flutter eventually. Appreciate you getting back to me, though.

[2020-01-09 17:46] dpizetta commented on #174
As the solution proposed is working at this moment, closing this issue. Tks to everyone.

[2020-01-09 17:46] #174 closed

[2020-01-09 18:25] dpizetta commented on #194
I'll set min-size=80 as this is the default size from Qt Designer

![Screenshot from 2020-01-09 15-19-21](https://user-images.githubusercontent.com/5084939/72093984-34f37180-32f4-11ea-80b5-06d984723625.png)

[2020-01-09 18:47] dpizetta commented on #195
Hi @X-Crack, do you still have this problem? As you said it should be Qt bug os some installation bug in your machine not rendering correctly. Tks

[2020-01-09 19:01] dpizetta commented on #196
Hi, we can not deal with those non-default widgets, but you can add to our stylesheet your piece of code that deals with the second handler. Look at this fix, that in your case you will add another widget.

[code]

Look at these lines to get an idea of what to do: https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/c92d0c4c996e3e859134492e0f9f7f74bd0e12cd/qdarkstyle/qss/_styles.scss#L1264

I ho

[2020-01-09 19:01] #196 closed

[2020-01-09 19:06] dpizetta commented on #202
Related to #181 and #183, already fixed in dev branch :) Tks for reporting.

[2020-01-09 19:17] dpizetta commented on #204
It seems you are using C++ right, so you are not supposed to use pip install which is Python.

Try to follow the example we have in the README.

Also, you can post some pieces of your code to clarify what you are doing? Tks

[2020-01-09 19:23] dpizetta commented on #213
Hi, this is a real stranger problem. It seems a rendering problem, I recommend you to reinstall all qt things and python related to your project, and/or/ try your code in another machine with similar configuration. Another option is that in some moments of your code the stylesheet is reset then you set again the black theme or something is doing this reset, producing that weird behavior. Try to fo

[2020-01-09 20:46] dpizetta commented on #207
I've changed the separator to handle, for correctness, but in our case, we are no showing the handle as all the splitter lights up when hover, but thanks for pointing that.

[2020-01-09 21:04] dpizetta commented on #211
Hi guys, I've changed to show border but less evident than when on focus.

![focus](https://user-images.githubusercontent.com/5084939/72104560-798a0780-330a-11ea-8454-76d7d0b18a25.gif)

[2020-01-09 21:12] dpizetta commented on #213
Actually, no, and that is a problem to change the theme, we need to restart the application. So if you find how it does this, you can implement a new feature. :)

[2020-01-11 01:32] goanpeca commented on #194
I think we should use the values that Qt defines before we do any CSS patch.

[2020-01-11 01:35] goanpeca commented on #211
Thoughts @jnsebgosselin ?

[2020-01-13 12:58] dpizetta commented on #194
@goanpeca  not sure if I understood your opinion, there are other places to set this min-width?

Some links that can help us:

[2020-01-13 15:26] goanpeca commented on #194
I mean that we could query this minimum width values instead of hardcoding them?

[2020-01-13 18:36] dpizetta commented on #212
Not sure how to provide this change. The tab widget does not accept QLabel, and HTML text is rendered colored as desired, but it stills with the HTML code be shown.

[2020-01-13 18:48] dpizetta commented on #200
@goanpeca  some news about this one? Sorry for my lack of communication, now I want to run with these changes as I some time. Thanks

[2020-01-13 18:50] dpizetta commented on #209
Sorry again about it, working on this :) Tks

[2020-01-13 21:10] goanpeca commented on #212
@dpizetta if we do not provide a color style for the whole tab widget text color this wotks, but as soon as we provide that color, then set tabcolor stops working with qdarkstyle.

One option would be to not enforce that color?

[2020-01-13 21:14] goanpeca commented on #200
Not much :-|

[2020-01-14 12:36] dpizetta commented on #211
In the buttons, the contrast is not so big because of the grey color, but I think it is ok. The gif also decrease the contrast when converted, it is a little higher live :)

Also, I changed the focus for other fields too, see below - I do not pull yet.

![focus-for-all-inputs](https://user-images.githubusercontent.com/5084939/72344774-d55ce380-36b0-11ea-9b07-d700976110f4.gif)

[2020-01-14 12:44] dpizetta commented on #212
@goanpeca we can try that  :) Tks

[2020-01-14 18:35] dpizetta commented on #209
In the native Linux theme, ubuntu 18.04/gnome it does not provide an identifier for focus on tree and list views. I will try to use some similar to the table, it looks nice and it is quite similar we have been using for buttons. See some gif below:

![list-tree-view-in-linux-dark](https://user-images.githubusercontent.com/5084939/72371584-6ea4ed80-36e3-11ea-99ae-ca06f22f7bed.gif)

![list-tree-view

[2020-01-14 18:38] dpizetta commented on #209
@jnsebgosselin  in your image from using qdark the list/tree border do not light up when selected/hover? See my example below. Tks

[2020-01-14 18:52] jnsebgosselin commented on #209
Yes the list/tree border does highlight on mouse hover.

[2020-01-16 18:12] dpizetta commented on #202
@oscargus  @goanpeca I'am testing over spyder 4 the version 2.8, but still have this problem. Do you know if anything was hardcoded in it? Using our example it was fixed. I remember that you were waiting for a solution, may someone add a space there?

![spyder-toolbar](https://user-images.githubusercontent.com/5084939/72550856-69c27400-3872-11ea-9425-705891267cb7.gif)
![tool-bar](https://user-imag

[2020-01-16 18:43] goanpeca commented on #202
I will check

[2020-01-16 18:52] dpizetta commented on #212
@goanpeca have you tried this? I do, but it stills having the problem. It would be inheriting. It does not work. I suggest @jnsebgosselin use icon if possible. If anyone has another idea, please let me know.

![Screenshot from 2020-01-16 15-44-43](https://user-images.githubusercontent.com/5084939/72553794-2ec33f00-3878-11ea-83ed-810bc4d9052c.png)

[2020-01-16 18:58] goanpeca commented on #212
I remeber trying something along the lines I said and it worked but I would need to check again.

[2020-01-20 01:57] dpizetta commented on #200
I changed this to next version, so we can release the 2.8 :)

[2020-01-20 01:59] dpizetta commented on #209
I want to change some things on those views, but they are not so easy to implement (actually, to understand and insert the right thing in the right place), so I will change this to the next version.

[2020-01-20 18:04] dpizetta opened #214 "Enhance spacing in menu with icons"
### Describe Your Environment

[code]

### Actual Result

Short space on the icon left, to much space on icon right.

![menu-icon](https://user-images.githubusercontent.com/5084939/72748332-b1f4d580-3b95-11ea-820b-535ed0b57bbe.gif)

![menu-icon-spyder](https://user-images.githubusercontent.com/5084939/72748436-0304c980-3b96-11ea-84e3-9983276bc391.gif)

### Expected Results / Proposed Result

Adequ

[2020-01-20 18:18] #194 closed

[2020-01-20 18:18] #205 closed

[2020-01-20 18:18] #207 closed

[2020-01-20 18:18] #210 closed

[2020-01-20 18:18] #211 closed

[2020-01-20 18:51] #199 closed

[2020-02-03 06:42] BParks21 opened #215 "Drop down arrows randomly disappear in Dolphin"
![Screenshot (47)_LI](https://user-images.githubusercontent.com/12180630/73631234-6a0a8f80-4626-11ea-8813-fae40cd8caf0.jpg)
I've wanted to use this for the longest time but one minor bug prevents me from doing so. Whenever i enable this user style it works perfectly, at first. Then eventually at random all the drop down arrows will disappear in the gui. Look at the screenshot. They work initially

[2020-02-11 08:17] LeonLoong opened #216 "QScrollArea height error."
### Environment
- QDarkStyle: 2.8
- OS: Windows
- PySide: 1.2.4
- QtPy: 1.9.0

### Language
- Python2.7

[Description of the issue]
When I set  QDarkStyleSheet for my UI, the QToolButton is become mini after uncollapsed.
Below is GIF reference for my issues. Thanks!

### Actual Result
![with_qds2](https://user-images.githubusercontent.com/11975617/74218613-760ce600-4ce5-11ea-91f7-af3ed4be2769.gif)

[2020-02-21 02:37] tobkum opened #217 "Minimum button width"
Can you give a hint on how to override the minimum width for QPushButtons that's defined here:
https://github.com/ColinDuquesnoy/QDarkStyleSheet/blob/1833f5b127bdd84adda68bdd73f5dad3b0e4d5c7/qdarkstyle/qss/_styles.scss#L1008
Much appreciated! Reasoning behind is that I want to have some square buttons, but they aren't square anymore when using the latest version of QDarkStyle.

[2020-02-21 02:52] tobkum commented on #217
Ah, use QToolButton instead. Nevermind! :-)

[2020-02-21 02:52] #217 closed

[2020-02-26 23:11] tsilia opened #218 "QGroupBox indicator size is incorrect"
- QDarkStyle: latest master
- OS: Windows 10
- Qt v5.12.2
Language: C++

When focused, QGroupBox's checkbox (indicator sub-element) is displayed in smaller size than any normal checkbox:
![qds_1_focused_groupbox](https://user-images.githubusercontent.com/60840213/75396532-c8fdb480-5905-11ea-93e2-688c84f5677e.png)

Expected Result:
The icon of the indicator sub-element of a QGroupBox should look th

[2020-02-26 23:13] tsilia opened #219 "QGroupBox's indicator displayed incorrectly when UNfocused"
Another issue with the QGroupBox's checkbox (indicator sub-element).

- QDarkStyle: latest master
- OS: Windows 10
- Qt v5.12.2
Language: C++

When focused, QGroupBox's checkbox (indicator sub-element) is displayed in smaller size than any normal checkbox:
![qds_2_unfocused_groupbox](https://user-images.githubusercontent.com/60840213/75396877-9d2efe80-5906-11ea-9537-815e9eb69143.png)
Looks like th

[2020-02-26 23:19] tsilia opened #220 "QDateTimeEdit with calendar popup displayed incorrectly"
- QDarkStyle: latest master
- OS: Windows 10
- Qt v5.12.2
Language: C++

DateTime with calendar popup has a dropdown arrow with a different look than ComboBox's arrow:
![qds_3_datetime_dropdown_inconsistency](https://user-images.githubusercontent.com/60840213/75397123-2e05da00-5907-11ea-9276-b9f7352baf2e.png)

Expected Result:
Dropdown arrow should look the same as in ComboBox. This is how they lo

[2020-02-27 19:44] goanpeca commented on #220
Thanks for reporting @tsilia !

[2020-02-27 19:45] goanpeca commented on #219
Thanks for reporting @tsilia !

[2020-03-02 20:16] dpizetta opened #226 "Run scripts to generate files on server (tox/Travis)"
Generate files (qss and compiled versions) on Travis, so we do not need to update every time we change .scss files and also garantee an updated status, making PR easier.

[2020-03-02 20:36] dpizetta commented on #216
Tks for reporting :)

[2020-03-02 20:50] dpizetta commented on #195
@X-Crack, any news about this issue? Could I close it?

[2020-03-02 21:45] tsilia commented on #226
I read the `CONTRIBUTING.rst` file and it wasn't clear to me how to regenerate `style.qss` from `.scss` files. But I'm almost sure I'm doing it wrong as I'm not very much into Python :confused:

I tried to run `scripts/process_qrc.py` and got the following output:
[code]
I also tried to run `scripts/run_ui_css_edition.py` and got the following output:
[code]
I tried to `Setup virtual environent` f

[2020-03-07 08:01] sten0 opened #227 "pyc files in PyPI package"
Hi,

I'm packaging QDarkStyleSheet for Debian as a dependency of Vorta.  Our Python Team policy requires the use of tarballs from PyPI; however, unfortunately it seems the PyPI package for qdarkstyle contains bytecompiled files (not allowed by team policy), I'm guessing by accident.

### Description / Steps to Reproduce [if necessary]

1. curl https://files.pythonhosted.org/packages/38/91/2e90941a

[2020-03-07 13:24] goanpeca commented on #227
@dpizetta could you take a look at this ;-)

[2020-03-10 10:30] Daguerreo commented on #200
This worked for me on Linux Slackware 14.2, QDarkStyle 2.8 and Qt 5.14.1

[2020-03-12 21:14] goanpeca commented on #227
@dpizetta we are now migrating some projects (eventually) all to use this tool for making releases

https://regro.github.io/rever-docs/

As part of those steps we can make sure to remove all unwanted files to avoid these problems in the future.

[2020-03-12 21:34] dpizetta commented on #227
Perfect! I'll take a look this week! Tks

Em qui, 12 de mar de 2020 18:14, Gonzalo Peña-Castellanos <
notifications@github.com> escreveu:

[2020-03-18 20:14] dpizetta commented on #216
Hi @LeonLoong, you need to work with pyside v1.2? Could you try with pyside 2? Tks. Changin g to milestone 2.9 as I couldn't solve it for now.

[2020-03-18 23:27] dpizetta commented on #216
I've been testing for some time, and it seems to be some combination of widgets and structure that causes this in dark mode. It may take a while to fix as I need to found what combination causes it.

[2020-03-19 07:46] LeonLoong commented on #216
Hi @dpizetta, actually I using QDarkStyle for creating a small tool for a Maya 3D software, and it's built-in PySide v1.2 by default. It's ok I can test QDarkStyle with PySide2 when I am free.

[2020-03-19 07:47] LeonLoong commented on #216
It's ok, take your time.

[2020-03-19 07:51] LeonLoong commented on #216
It's ok, take your time.

[2020-03-19 07:52] LeonLoong commented on #216
It's ok, take your time.

[2020-03-19 14:55] dpizetta opened #228 "About using/notusing 'assert' in the code"
@goanpeca what is your opinion about these messages and orientations?

From here: https://travis-ci.org/github/ColinDuquesnoy/QDarkStyleSheet/jobs/664411481?utm_medium=notification&utm_source=github_status

Explanation here: https://bandit.readthedocs.io/en/latest/plugins/b101_assert_used.html

[Also, the var file_colors are defined internally to the loop.](https://github.com/ColinDuquesnoy/QDarkS

[2020-03-21 23:07] GlanVonBrylan opened #229 "Minor mistake in the readme"
I just want to notify you that the links at the bottom of the README (CHANGES, AUTHORS, etc) still link to .md files, even though they are now .rst.

[2020-03-23 12:08] dpizetta commented on #229
Tks for reporting :)

[2020-03-23 19:15] #229 closed

[2020-03-23 19:24] dpizetta commented on #227
Files removed in new version v2.8.1. AS @goanpeca  we will try to use tools like rever to make our building more robust, also I'm adding many tests in the travis/tox. Thanks for reporting.

[2020-03-23 19:24] #227 closed

[2020-03-23 19:26] dpizetta commented on #220
Close in release v2.8.1 :) Tks for contributing!

[2020-03-23 19:26] #220 closed

[2020-03-23 19:26] dpizetta commented on #219
Close in release v2.8.1 :) Tks for contributing!

[2020-03-23 19:26] #219 closed

[2020-03-23 19:26] dpizetta commented on #218
Close in release v2.8.1 :) Tks for contributing!

[2020-03-23 19:26] #218 closed

[2020-03-27 11:15] mvillion opened #230 "QPushButton size differs significantly w/ or w/o qdarkstyle in version 2.8"
### Describe Your Environment
* OPERATING SYSTEM---------------------------------------------------------------
    - System........................ Linux
    - Release....................... 5.3.0-42-generic
    - Platform...................... Linux-5.3.0-42-generic-x86_64-with-Ubuntu-19.10-eoan
    - Version....................... #34-Ubuntu SMP Fri Feb 28 05:49:40 UTC 2020
* PYTHON DISTRIBUTIO

[2020-03-27 12:00] dpizetta commented on #230
Hi, @mvillion, I think that the appropriate button you can use is the tool button instead, looking at your application. PushButton and ToolButton are practically the same, so, I think you can use it. Take a look at #217.

**From the QPushButton Docs:**

"As a general rule, use a push button when the application or dialog window performs an action when the user clicks on it (such as Apply, Cancel,

[2020-03-27 13:02] mvillion commented on #230
Thank you dpizettta for this suggestion.
Use of QToolButton is as a valid alternative.

[2020-03-27 13:02] #230 closed

[2020-03-27 14:27] cp59 opened #231 "QTabWidget Black frame"
I'm trying to use QTabWidget to do browser page switching And try to make youtube full-screen video
But after full screen switching, I found black borders on the screen edge
![image](https://user-images.githubusercontent.com/51910669/77765937-edba8880-7079-11ea-9a80-e06082c59eda.png)
Everyone Can Help me?

[2020-04-08 16:08] #215 closed

[2020-04-10 01:51] dpizetta commented on #215
Hi @BParks21 this was solved with the latest version of qdarkstyle? Ou anything else? We will appreciate your comments, tks

[2020-04-10 02:35] BParks21 commented on #215
@dpizetta  I forgot exactly how i solved this, but i remember it had to do with the image url's. I had to specify a very specific directory path for the icon locations in the .qss file. Because the default installation method worked, but only temporarily. Eventually the icons would disappear in dolphin.
![Screenshot (111)](https://user-images.githubusercontent.com/12180630/78957104-5c540900-7ab2-1

[2020-04-12 12:57] goanpeca commented on #228
@dpizetta yes indeed we should not use asserts for these things as they are removed when compiling optimized code. So we should use proper checks and raise exceptions as needed if something is not complying with these checks.

[2020-04-13 13:07] dpizetta commented on #228
Could you make those changes? TKs

[2020-04-21 04:57] ntjess commented on #39
For reference, this appears to be implemented now:
![image](https://user-images.githubusercontent.com/23620506/79826973-1bd67400-836b-11ea-96d7-3835bc644cc2.png)

[2020-04-22 21:35] Ovenbird-j opened #232 "Checkable QGroupBox using default icons"
### Environment Description

* HARDWARE-----------------------------------------------------------------------
    - Machine....................... x86_64
    - Processor..................... Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz
    - Total Memory.................. 16492 MB
    - Free Memory................... 3840 MB
    - Total Swap.................... 21474 MB
    - Free Swap...............

[2020-04-24 07:59] Ovenbird-j commented on #232
## Update

My Windows notebook does not show the same issue:

* HARDWARE-----------------------------------------------------------------------
    - Machine....................... AMD64
    - Processor..................... Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz
    - Total Memory.................. 8484 MB
    - Free Memory................... 2592 MB
    - Total Swap.................... 13315 MB

[2020-04-24 09:17] Ovenbird-j commented on #232
Ok, so I returned to my linux system, reseted the entire environment, made sure everything was up to date, and it's now working as intended. Closing the issue, thanks

[2020-04-24 09:17] #232 closed

[2020-05-20 01:49] bdeash opened #234 "Qdarkstylesheet can be loaded in QtDesigner?"
can be loaded from the same qt designer? im noob

[2020-05-20 02:01] tanimislam commented on #200
[qmodern](https://github.com/gmarull/qtmodern) does not have the failing QComboBox with PyQt5. Its own dark mode looks as good as this module. Perhaps we should use that instead?

[2020-05-21 12:49] goanpeca commented on #234
Hi @pwnedbrian,

What do you mean?

[2020-05-27 16:29] ZeldaZocker commented on #234
Sorry for hijacking this but it doesn't seems like @pwnedbrian saw that you responded. I think he is asking if the style can be used in the Qt Designer Application and if so how is it done? I'm asking this myself and if this isn't what he wanted to know i'm sorry.

[2020-05-27 16:40] goanpeca commented on #234
I do not use qt designer so I am not sure.

@dpizetta do you happen to know 🙃?

[2020-05-29 10:33] wws61 opened #235 "Qt 5.15 MacOS - No reaction on Button-Click"
Using the stylesheet under Qt, pure C++/QtWidgets under MacOS and Windows. With the release of Qt 5.15 the Mac-Version don't work anymore as expected.
There ist no reaction on Button-Clicks in MessageBoxes, Dialogs etc. Windows Version still works.
Thanks for any hint!

[2020-05-29 17:30] dpizetta commented on #234
Hi everybody, @ZeldaZocker and @pwnedbrian the answer is yes and no.

What we can use with QtDesiner and other Qt resources is the QSS file (also QRC for images like icons), which we also generate in our structure. However,  the unique way it can be used is copying the text of QSS file into some setStyleSheet() content (see the example below).

![qss-qt-desing](https://user-images.githubuserconten

[2020-05-29 18:27] ZeldaZocker commented on #234
Thank you for the info. The workaround works but sadly there is some weird behavior like missing checkboxes (can also be seen in your gif) and tabs from a tabwidget which just stay white. So it's nice if you just want a quick preview of the dark style window but for creating a window i would stay with the default style.

[2020-05-29 18:37] dpizetta commented on #234
@ZeldaZocker yes, but if you apply the stylesheet after you build the application, they appear.  As you said it works like a poorly preview. I always use the default style then apply the style sheet in the code, which is not practical for UI designers sadly. Tks

[2020-05-30 09:27] yaoye opened #236 "Noticeable flicker on QColorDialog"
Hi Guy,

I recently used QDarkStyle QSS in one of my projects, and it's GREAT, but I got noticeable flicker when exec QColorDialog and other Dialogs Inherited from QDialog.

And I can confirm that the QColorDialog problems is caused by QSpinBox part of QDarkStyle.

Any suggestions of how to fix will be appreciated, thanks.

P.S. I'm using latest QDarkStyle QSS from git with C++.

[2020-06-10 11:34] AdrianDAlessandro commented on #235
I have also came across this issue. I am using PySide2 with Python 3.7. The buttons work fine in the default style, but the stop responding to a click after I apply qdarkstyle. Minimal code to reproduce:

[code]

[2020-06-10 11:59] AdrianDAlessandro commented on #235
The button actually works in the above example if you resize the window! This example shows the problem. The difference is I'm displaying the button with QHBoxLayout in a QWidget

[code]

[2020-06-11 13:25] mIcHyAmRaNe opened #237 "editing palette.py doesn't affect the theme"
# Describe Your Environment
[code]

### Language

Python

### Description / Steps to Reproduce [if necessary]

1. applying the theme as described in the [pyqt5 section](https://github.com/ColinDuquesnoy/QDarkStyleSheet#usage)
2. running the app and making sure that the theme is applied (works)
3. editing colors of qdarkstyle's palette.py in `%APPDATA%\Python\Python38\site-packages\qdarkstyle`
[cod

[2020-06-12 08:38] wws61 commented on #235
It doesn't work, even in MessageBoxes, Dialogs etc. Still looking for a solution...

[2020-06-12 08:50] dalonsoa commented on #235
I can reproduce the error in
- MacOS==10.15.5
- Python==3.8
- PySide2==5.15.0
- QDarkStyle==2.8.1

[2020-06-13 11:51] mIcHyAmRaNe commented on #237
i finally found how,
i used the developer mode where i edited the `palette.py` file and then run `process_qrc.py` script which generated qss files :)

[2020-06-13 11:51] #237 closed

[2020-06-13 13:47] dpizetta commented on #237
Hi @mIcHyAmRaNe sorry to make you find it by yourself. You are correct. The palette.py file you changed is the declaration of color variables that are used when we run the process_qrc.py. So, this generates the style.qss with the CSS and style.qrc with images and style_rc.py with the binary from both.  I need to add some more info about it in the CONTRIBUTING.rst. Tks

[2020-06-13 13:53] dpizetta commented on #235
@wws61 @dalonsoa  @AdrianDAlessandro  thanks for pointing this out. It seems we will have some problems with the new release 5.15.

@dalonsoa  Could you try with pyqt5?. It would be very nice to retrieve more info, and then running helpdev --all, so we can get all your configuration and dependencies. Tks

You can confirm that it works fine in previous versions?

[2020-06-13 13:55] dpizetta commented on #235
@goanpeca could you get this one, I remember you have a Mac :) I can test here on Windows and Linux Tks

[2020-06-13 13:56] #234 closed

[2020-06-13 14:10] dpizetta commented on #236
@yaoye tks for pointing. What's the version of Qt you are using?

[2020-06-13 14:56] yaoye commented on #236
@dpizetta Thanks for the reply.

Re: Qt 5.15

[2020-06-15 12:21] AdrianDAlessandro commented on #235
@dpizetta I can reproduce the error in PyQt5==5.15.0

I can also confirm that the buttons _do_ work in:
- PySide2==5.14.2.2
- PyQt5==5.14.2

This is all with:
- MacOS==10.15.5
- Python==3.7.7
- QDarkStyle==2.8.1

[2020-06-15 14:34] dpizetta commented on #195
Closed du the lack of communication and no more reported problems, reopen if needed.

[2020-06-15 14:34] #195 closed

[2020-06-15 15:06] dpizetta commented on #143
@goanpeca, @ccordoba12  regarding your statement at the beginning:

It seems there is a solution using this, we have tested on our software and it worked to change the mode at runtime with no restart. However, it as not tested changing or recompiling things in qdarkstyle, I can confirm later this week:

[code]

This will make it easier for Spyder (and other apps) to change between styles.

Example

[2020-06-15 17:45] dpizetta opened #238 "Run tests over Qt LTS version"
We can run tests and develop over current Qt LTS versions.

Current versions are 5.12 and 5.15, 5.9 died May, 2020.

https://en.wikipedia.org/wiki/Qt_version_history

[2020-06-15 20:46] goanpeca commented on #143
Thanks for the heads up @dpizetta

[2020-07-15 20:16] rimpy-custom opened #239 "QComboBox cuts text"
### Describe Your Environment

* OPERATING SYSTEM---------------------------------------------------------------
    - System........................ Windows
    - Release....................... 10
    - Platform...................... Windows-10-10.0.14393-SP0
    - Version....................... 10.0.14393
* PYTHON DISTRIBUTION------------------------------------------------------------
    - Ver

[2020-07-15 20:38] rimpy-custom commented on #239
May sombody help me to fix that? I am not good enough to find out how I can change that in QDdarkStyle manually.

[2020-07-16 14:29] rimpy-custom commented on #239
Have found a temporary solution, you may apply custom stylesheet:
myComboBox.setStyleSheet("QComboBox"
                                           "{"
                                           "padding-right: 4px;"
                                           "}")

[2020-07-24 00:08] xmrdsc commented on #235
- MacOS 10.15.4
- Qt 5.15.0 from Brew
- QtWidgets C++ application

Interestingly enough, there seems to be a small clickable area, I've highlighted it here:

![https://i.imgur.com/boprdPP.png](https://i.imgur.com/boprdPP.png)

Resizing doesn't fix it for me. The "clickable area" stays the same.